<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - webBudda</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/webBudda.styles.css" asp-append-version="true" />
    <style>
        body {
            background-image:url('https://sv1.picz.in.th/images/2022/04/16/8uEpnS.jpg');
            background-repeat: repeat-y;
            background-size: 100%;
        }
        .kratoo-title {
            align-items: center;
            text-align: center;
        }
        .topnav {
            position:absolute;
            min-width:100%;
            height:30px;
            background:#F2B860;
        }
        .mynav {
            background:#B79C74;
            top:30px;
        }
        .loginbutton {
            background:#C4C4C4;
            border-radius:20px;
            border:none;
            position:absolute;
            width:auto;
            transition: 0.3s;
        }
        .loginbutton:hover {
            background:#909090;
        }
        .loginbutton:active {
            background:#FFFFFF;
        }
        .votebutton {
            background:#BF9500;
            border-radius:10px;
            border:none;
            width:auto;
            height:30px;
            transition: 0.3s;
            margin-bottom:10px;
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
        }
        .votebutton:hover {
            background:#9D6200;
        }
        .votebutton:active {
            background:green;
        }
        .adminbutton {
            background:#F87D76;
            border-radius:10px;
            border:none;
            width:auto;
            height:30px;
            transition: 0.3s;
            margin-bottom:10px;
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
        }
        .adminbutton:hover {
            background:#FA9F98;
        }
        .adminbutton:active {
            background:green;
        }
        .contain {
            width: 100%;
            padding-right: var(--bs-gutter-x,.75rem);
            padding-left: var(--bs-gutter-x,.75rem);
            margin-right: auto;
            margin-left: auto;
            margin-top:50px
        }
        header {
            position:sticky;
            top:0;
        }
        .footcontent {
            justify-content:space-around;
            position: absolute;
            bottom: 0;
            width: 100%;
            white-space: nowrap;
            background-color:#F2B860;
        }
        .footbtn {
            text-decoration: none;
            color:black;
        }
        .levelbg {
            background-color:#BF9500;
            width:100%;
        }
    </style>
</head>
<body>
    <header style="z-index:50">
        <div class="topnav"><marquee>🧘ยินดีต้อนรับเข้าสู่ โลกแห่งแสงธรรม คุณธรรรมแห่งความดี Bud Bud World...</marquee></div>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3 mynav">
            <div class="container-fluid">
                
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1" style="justify-content: space-around;">
                        <li class="nav-item">
                            <a class="navbar-brand text-light" asp-area="" asp-controller="Home" asp-action="Index">Bud Bud World</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Blog" asp-action="Index" asp-route-typep="ธรรมะท่องเที่ยว">ท่องเที่ยว</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Blog" asp-action="Index" asp-route-typep="โลกธรรมะ">เรื่องเล่า</a>
                        </li>
                        <li class="nav-item">
                            @if(ViewData["Email"] != null && ViewData["Email"] != "Unknown")
                            {
                                <button class="loginbutton"><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="LogOut">ออกจากระบบ</a></button>
                            }else{
                                <button class="loginbutton"><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="SignIn">เข้าสู่ระบบ</a></button>
                            }
                            
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="contain">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footcontent">
        <div>
            <ul style="display:flex;justify-content:space-around;list-style:none;">
                <li>
                    <a class="footbtn" asp-area="" asp-controller="Home" asp-action="Index">budbudworld</a>
                </li>
                <li>
                    <a class="footbtn" asp-area="" asp-controller="Home" asp-action="Content">Contact us</a>
                </li>
                <li class="nav-item">
                    <a class="footbtn" asp-area="" asp-controller="Home" asp-action="Index">GitHub</a>
                </li>  
            </ul>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>