
webBudda/webBudda/obj/staticwebassets.pack.sentinel
webBudda/webBudda/obj/staticwebassets.pack.sentinel
webBudda/.vs/webBudda/DesignTimeBuild/.dtbcache.v2
webBudda/.vs/webBudda/DesignTimeBuild/.dtbcache.v2
webBudda/.vs/webBudda/DesignTimeBuild/.dtbcache.v2
webBudda/.vs/webBudda/v17/.futdcache.v1
webBudda/.vs/webBudda/v17/.suo
webBudda/webBudda/bin/Debug/net6.0/webBudda.dll
webBudda/webBudda/bin/Debug/net6.0/webBudda.pdb
webBudda/webBudda/obj/Debug/net6.0/project.razor.json
webBudda/webBudda/obj/Debug/net6.0/ref/webBudda.dll
webBudda/webBudda/obj/Debug/net6.0/refint/webBudda.dll
webBudda/webBudda/obj/Debug/net6.0/webBudda.dll
webBudda/webBudda/obj/Debug/net6.0/webBudda.pdb
webBudda/webBudda/obj/staticwebassets.pack.sentinel
