
@{
    ViewData["Title"] = "AdminHome";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AdminHome</title>

    <h1 class=" text-center display-4">AdminHome !</h1>
    <div class="text-center container">
       <button type="button" class="btn btn-primary">ตั้งกระทู้</button>
       <button type="button" class="btn btn-warning">จัดการห้องสนทนาธรรม</button>
       <button type="button" class="btn btn-danger">จัดการสมาชิก</button>
    </div>

   

  












</head>
<body>
</body>
</html>
