@{
    ViewData["Title"] = "Content3";
}
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/css/all.min.css">

    <style>
        .gotopbtn {
            position: fixed;
            width: 50px;
            height: 50px;
            background: #27ae60;
            bottom: 60px;
            right: 50px;

            text-decoration: none;
            text-align: center;
            line-height: 50px;
            color: white;
            font-size: 22px;
        }

        .img-responsive,
        .thumbnail > img,
        .thumbnail a > img,
        .carousel-inner > .item > img,
        .carousel-inner > .item > a > img {
          display: block;
          max-width: 100%;
          height: auto;
        }
        .img-rounded {
          border-radius: 6px;
        }
        .img-thumbnail {
          display: inline-block;
          max-width: 100%;
          height: auto;
          padding: 4px;
          line-height: 1.42857143;
          background-color: #fff;
          border: 1px solid #ddd;
          border-radius: 4px;
          -webkit-transition: all .2s ease-in-out;
               -o-transition: all .2s ease-in-out;
                  transition: all .2s ease-in-out;
        }
        .img-circle {
          border-radius: 50%;
        }

        .thumbnail {
          display: block;
          padding: 4px;
          margin-bottom: 20px;
          line-height: 1.42857143;
          background-color: #fff;
          border: 1px solid #ddd;
          border-radius: 4px;
          -webkit-transition: border .2s ease-in-out;
               -o-transition: border .2s ease-in-out;
                  transition: border .2s ease-in-out;
        }
        .thumbnail > img,
        .thumbnail a > img {
          margin-right: auto;
          margin-left: auto;
        }
        a.thumbnail:hover,
        a.thumbnail:focus,
        a.thumbnail.active {
          border-color: #337ab7;
        }
        .thumbnail .caption {
          padding: 9px;
          color: #333;
        }
        
        body {
            margin: 0;
        }

        

    </style>
</head>
<body>
    
        <div class="row">
		    <a></a><img class="img-rounded" src="~/css/header.jpg" title="Kurobuta Dog"><br>
	    </div>
	    <h1>
            <strong>ภาพพุทธประวัติ</strong>
        </h1>

        <p>&nbsp;</p>

        <div class="row">
 		     <div class="col-xs-6 col-md-3">
    		    <a href="buddhalife01.php" class="thumbnail">
      		    <img src="~/css/lb_pic1.jpg">
    		    </a>
  		    </div>
            <div class="col-xs-6 col-md-3">
    		    <a href="buddhalife02.php" class="thumbnail">
      		    <img src="~/css/lb_pic2.jpg">
    		    </a>
  		    </div>
            <div class="col-xs-6 col-md-3">
    		    <a href="buddhalife03.php" class="thumbnail">
      		    <img src="~/css/lb_pic3.jpg">
    		    </a>
  		    </div>
            <div class="col-xs-6 col-md-3">
    		    <a href="buddhalife04.php" class="thumbnail">
      		    <img src="~/css/lb_pic4.jpg">
    		    </a>
  		    </div>
	    </div>

        <br>

        <div class="row">
 		     <div class="col-xs-6 col-md-3">
    		    <a href="buddhalife01.php" class="thumbnail">
      		    <img src="~/css/lb_pic5.jpg">
    		    </a>
  		    </div>
            <div class="col-xs-6 col-md-3">
    		    <a href="buddhalife02.php" class="thumbnail">
      		    <img src="~/css/lb_pic6.jpg">
    		    </a>
  		    </div>
            <div class="col-xs-6 col-md-3">
    		    <a href="buddhalife03.php" class="thumbnail">
      		    <img src="~/css/lb_pic7.jpg">
    		    </a>
  		    </div>
            <div class="col-xs-6 col-md-3">
    		    <a href="buddhalife04.php" class="thumbnail">
      		    <img src="~/css/lb_pic8.jpg">
    		    </a>
  		    </div>
	    </div>
    
        <br>

        <div class="row">
 		     <div class="col-xs-6 col-md-3">
    		    <a href="buddhalife01.php" class="thumbnail">
      		    <img src="~/css/lb_pic9.jpg">
    		    </a>
  		    </div>
            <div class="col-xs-6 col-md-3">
    		    <a href="buddhalife02.php" class="thumbnail">
      		    <img src="~/css/lb_pic10.jpg">
    		    </a>
  		    </div>
            <div class="col-xs-6 col-md-3">
    		    <a href="buddhalife03.php" class="thumbnail">
      		    <img src="~/css/lb_pic11.jpg">
    		    </a>
  		    </div>
            <div class="col-xs-6 col-md-3">
    		    <a href="buddhalife04.php" class="thumbnail">
      		    <img src="~/css/lb_pic12.jpg">
    		    </a>
  		    </div>
	    </div>
    
        <br>

        <div class="row">
 		     <div class="col-xs-6 col-md-3">
    		    <a href="buddhalife01.php" class="thumbnail">
      		    <img src="~/css/lb_pic13.jpg">
    		    </a>
  		    </div>
            <div class="col-xs-6 col-md-3">
    		    <a href="buddhalife02.php" class="thumbnail">
      		    <img src="~/css/lb_pic14.jpg">
    		    </a>
  		    </div>
            <div class="col-xs-6 col-md-3">
    		    <a href="buddhalife03.php" class="thumbnail">
      		    <img src="~/css/lb_pic15.jpg">
    		    </a>
  		    </div>
            <div class="col-xs-6 col-md-3">
    		    <a href="buddhalife04.php" class="thumbnail">
      		    <img src="~/css/lb_pic16.jpg">
    		    </a>
  		    </div>
	    </div>
    
        <br>

        <div class="row">
 		     <div class="col-xs-6 col-md-3">
    		    <a href="buddhalife01.php" class="thumbnail">
      		    <img src="~/css/lb_pic17.jpg">
    		    </a>
  		    </div>
            <div class="col-xs-6 col-md-3">
    		    <a href="buddhalife02.php" class="thumbnail">
      		    <img src="~/css/lb_pic18.jpg">
    		    </a>
  		    </div>
            <div class="col-xs-6 col-md-3">
    		    <a href="buddhalife03.php" class="thumbnail">
      		    <img src="~/css/lb_pic19.jpg">
    		    </a>
  		    </div>
            <div class="col-xs-6 col-md-3">
    		    <a href="buddhalife04.php" class="thumbnail">
      		    <img src="~/css/lb_pic20.jpg">
    		    </a>
  		    </div>
	    </div>
    
        <br>

        <div class="row">
 		     <div class="col-xs-6 col-md-3">
    		    <a href="buddhalife01.php" class="thumbnail">
      		    <img src="~/css/lb_pic21.jpg">
    		    </a>
  		    </div>
            <div class="col-xs-6 col-md-3">
    		    <a href="buddhalife02.php" class="thumbnail">
      		    <img src="~/css/lb_pic22.jpg">
    		    </a>
  		    </div>
            <div class="col-xs-6 col-md-3">
    		    <a href="buddhalife03.php" class="thumbnail">
      		    <img src="~/css/lb_pic23.jpg">
    		    </a>
  		    </div>
            <div class="col-xs-6 col-md-3">
    		    <a href="buddhalife04.php" class="thumbnail">
      		    <img src="~/css/lb_pic24.jpg">
    		    </a>
  		    </div>
	    </div>
    
        <br>

        <div class="row">
 		     <div class="col-xs-6 col-md-3">
    		    <a href="buddhalife01.php" class="thumbnail">
      		    <img src="~/css/lb_pic25.jpg">
    		    </a>
  		    </div>
            <div class="col-xs-6 col-md-3">
    		    <a href="buddhalife02.php" class="thumbnail">
      		    <img src="~/css/lb_pic26.jpg">
    		    </a>
  		    </div>
            <div class="col-xs-6 col-md-3">
    		    <a href="buddhalife03.php" class="thumbnail">
      		    <img src="~/css/lb_pic27.jpg">
    		    </a>
  		    </div>
            <div class="col-xs-6 col-md-3">
    		    <a href="buddhalife04.php" class="thumbnail">
      		    <img src="~/css/lb_pic28.jpg">
    		    </a>
  		    </div>
	    </div>
    
        <br>

        <div class="row">
 		     <div class="col-xs-6 col-md-3">
    		    <a href="buddhalife01.php" class="thumbnail">
      		    <img src="~/css/lb_pic29.jpg">
    		    </a>
  		    </div>
            <div class="col-xs-6 col-md-3">
    		    <a href="buddhalife02.php" class="thumbnail">
      		    <img src="~/css/lb_pic30.jpg">
    		    </a>
  		    </div>
            <div class="col-xs-6 col-md-3">
    		    <a href="buddhalife03.php" class="thumbnail">
      		    <img src="~/css/lb_pic31.jpg">
    		    </a>
  		    </div>
            <div class="col-xs-6 col-md-3">
    		    <a href="buddhalife04.php" class="thumbnail">
      		    <img src="~/css/lb_pic32.jpg">
    		    </a>
  		    </div>
	    </div>

    <h1>ไอควาย</h1>
	<a class="gotopbtn" href=""> <i class="fa fa-arrow-up" aria-hidden="true"></i> </a>
</body>