@model Firebase.Auth.User
    

<meta name="viewport"
          content="width=device-width, initial-scale=1">
     
<link rel="stylesheet" href=
"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
.circleBG{
    background-color: #C4C4C4;
    height:150px;
    width:150px;
    padding-top: 55px;
    border-radius: 50%;
    position:relative;
    margin:1rem;
}

.lotus{
    width:90px;
    height: 90px;
    position: absolute; 
    top: -60px; 
    right: 100px;
}

.lotus-text-box{
     width:270px; 
     padding:15px; 
     background-color:#C4C4C4; 
     border-radius:30px; 
     font-size:20px
}
.lotus-text-box:hover{
    background-color:black; 
    color:white;
}

img {
            width: 100%;
        }
        .height {
            height: 10px;
        }
          
        /* Image-container design */
        .image-container {
            max-width: 800px;
            position: relative;
            margin: auto;
        }
          
        .next {
            right: 0;
        }
          
        /* Next and previous icon design */
        .previous,
        .next {
            cursor: pointer;
            position: absolute;
            max-height:400px;
            top: -200px;
            left: 0px;
            padding-left:0%;
            margin-right:50%;
         /*   top: -200px;
            left: 0%;
            padding-left: 50%;
            margin-top: 0px;*/
        }
          
        /* caption decorate */
        .captionText {
            color: #000000;
            font-size: 14px;
            position: absolute;
            padding: 12px 12px;
            bottom: 8px;
            width: 100%;
            text-align: center;
        }
          
         /* Slider image number */
        .slideNumber {
            background-color: #5574C5;
            color: white;
            border-radius: 25px;
            right: 0;
            opacity: .5;
            margin: 5px;
            width: 30px;
            height: 30px;
            text-align: center;
            font-weight: bold;
            font-size: 24px;
            position: absolute;
        }
        .fa {
            font-size: 32px;
        }
          
        .fa:hover {
            transform: rotate(360deg);
            transition: 1s;
            color: white;
        }
          
        .footerdot {
            cursor: pointer;
            height: 15px;
            width: 15px;
            margin: 0 2px;
            background-color: #bbbbbb;
            border-radius: 50%;
            display: inline-block;
            transition: background-color 0.5s ease;
        }
          
        .active,
        .footerdot:hover {
            background-color: black;
        }
    </style>


</style>

<div class="text-center">
    @*<h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Coreeeeeeeeeeeeeee</a>.</p>*@
    <img src="/images/Vector 1.png" alt="..." class="justify-content-center" style="position: absolute; z-index: -1; top:-60px; left:0px; width:100%; height:500px"> 
    <div class="d-flex justify-content-center" style="margin-bottom:80px; margin-top:66px">
        <div class="flex-column">
            <div class="container" width="400" height="400" style="background-color:; padding-top:3rem; margin-right:8rem">
                <h1 style="font-size:70px">Bud Bud</h1>
                <h4 style="padding-bottom:1rem;">World</h4>
                <hr style="width:60%; margin: auto; height:1px; color:black;" >
                <h2 style="font-size:40px">Software Studio</h2>
            </div>
            <div class="text-center">
            <h1 class="display-4">Login Success ! </h1>
                <hr></hr>
                <h2 class="display-4">Welcome Sittata is Waiting For You ++</h2>
                <a asp-area="" asp-controller="Home" asp-action="EditUser"><button>Edit</button></a>
                <p>YEAHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHH</p>
                <p><a href="Todo/Calendar">Calendar<a/></p>
            </div>
        </div>
         <div class="flex-column">
            <img src="/images/image6.png" alt="..." class="" width="250" height="250">
        </div>
    </div>

    <div class="d-inline-flex " style="margin-top:3rem;margin-bottom:4rem;">
        <label>ยินดีต้อนรับ ... ท่านสมาชิก @Model.DisplayName @Model.Email</label>
        <div class="container" style="position:relative; margin-inline:50px">
           @* <img src="/images/image 3.png" alt="..." class="lotus">*@
            <div class="lotus-text-box">แก้ไขโปรไฟล์</div>
        </div>
        <div class="container" style="position:relative; margin-inline:50px">
            @*<img src="/images/image 3.png" alt="..." class="lotus">*@
            <div class="lotus-text-box">ลบบัญชี</div>
        </div>     
        <div class="container" style="position:relative; margin-inline:50px">
            @*<img src="/images/image 3.png" alt="..." class="lotus" width="90" height="90" style="position:absolute; top:-60px; right:100px">*@
            <div class="lotus-text-box">ออกสู่ระบบ</div>
        </div>    
    </div>




    <div class="d-inline-flex " style="margin-top:3rem;margin-bottom:4rem;">
        <div class="container" style="position:relative; margin-inline:50px">
            <img src="/images/image 3.png" alt="..." class="lotus">
            <div class="lotus-text-box" >เยี่ยมชมเว็บไซต์</div>
        </div>
        <div class="container" style="position:relative; margin-inline:50px">
            <img src="/images/image 3.png" alt="..." class="lotus">
            <div class="lotus-text-box">รอบรู้โลกธรรมะ</div>
        </div>     
        <div class="container" style="position:relative; margin-inline:50px">
            <img src="/images/image 3.png" alt="..." class="lotus" width="90" height="90" style="position:absolute; top:-60px; right:100px">
            <div class="lotus-text-box">สนทนาธรรม</div>
        </div>    
    </div>


    <div class="container" style="background-color:#C4C4C4; width:100%; height:800px; border-radius:30px; margin-bottom:4rem;"></div>

    <div class="row">
        <div class="col-md-12">
            <div id="calendar"></div>
        </div>
    </div>

    <!-- Image container of the image slider -->
    <div class="container">
        <div class="slide">
            @*<div class="slideNumber">1</div>*@
            <img height="400" src="https://img.freepik.com/free-vector/thailand-famous-landmark-scenery-design-tourist-elephant-back_11700-497.jpg?w=2000">
        </div>
        <div class="slide">
            @*<div class="slideNumber">2</div>*@
            <img height="400" src="https://i.pinimg.com/736x/d0/76/99/d076993241bbe501afab9a67469cbfd2.jpg">
        </div>
        <div class="slide">
            @*<div class="slideNumber">3</div>*@
            <img height="400" src="https://media.istockphoto.com/vectors/tree-temple-image-of-buddha-sculpture-pagoda-seamyanmarthailand-vector-id854985000?b=1&k=20&m=854985000&s=612x612&w=0&h=ZVrkEcx4344dVWWS7cw50ucNbtr83-OEFZKvZIiJX7o=">
        </div>
  
        <!-- Next and Previous icon to change images -->
          @*<div style="position:relative;margin-inline:200px">
            <a class="previous" onclick="moveSlides(-1)">
                <i class="fa fa-chevron-circle-left"></i>
            </a>
            <a class="next" onclick="moveSlides(1)">
                <i class="fa fa-chevron-circle-right"></i>
            </a>
           </div>*@
    </div>

    <br>
  
    <div style="text-align:center">
        <span class="footerdot"
            onclick="activeSlide(1)">
        </span>
        <span class="footerdot"
            onclick="activeSlide(2)">
        </span>
        <span class="footerdot"
            onclick="activeSlide(3)">
        </span>
    </div>

    <div class="container" style="background-color:#C4C4C4; width:100%; height:700px; border-radius:30px; margin-bottom:4rem;"></div>

    <div class="">
        <h1>นักแสดงธรรมดีเด่น</h1>
        <div class="d-lg-inline-flex">
            <h3 class="circleBG">ไมเนอร์</h3>
            <h3 class="circleBG">บริล</h3>
        </div>
        <br />
        
        <div class="d-lg-inline-flex">
            <h3 class="circleBG">แป้ง</h3>
            <h3 class="circleBG">ปลื้ม</h3>
            <h3 class="circleBG">บอส</h3>
        </div>

        
    </div>
</div>

@section Scripts {
    <script>
	    var slideIndex = 1;
	    displaySlide(slideIndex);

	    function moveSlides(n) {
		    displaySlide(slideIndex += n);
	    }

	    function activeSlide(n) {
		    displaySlide(slideIndex = n);
	    }

	    /* Main function */
	    function displaySlide(n) {
		    var i;
		    var totalslides =
			    document.getElementsByClassName("slide");
		    var totaldots =
			    document.getElementsByClassName("footerdot");
		
		    if (n > totalslides.length) {
			    slideIndex = 1;
		    }
		
		    if (n < 1) {
			    slideIndex = totalslides.length;
		    }
		    for (i = 0; i < totalslides.length; i++) {
			    totalslides[i].style.display = "none";
		    }
		    for (i = 0; i < totaldots.length; i++) {
			    totaldots[i].className =
			    totaldots[i].className.replace(" active", "");
		    }
		    totalslides[slideIndex - 1].style.display = "block";
		    totaldots[slideIndex - 1].className += " active";
	    }
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#calendar').fullCalendar({
                theme: true,
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },

                defaultView: 'agendaDay',
                editable: true,
                allDaySlot: false,
                selectable: true,
                slotMinutes: 15,
                events: "/home/getevents/"
            });
        });
    </script>
}

