@model webBudda.Models.SignInModel

@{
    ViewData["Title"] = "SignIn";
}

<h1>SignIn</h1>

<h4>SignInModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
            <div class="text-danger"></div>
            <div class="form-group">
                <label class="control-label"></label>
                <input id="Email" class="form-control" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label"></label>
                <input id="Password" class="form-control" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <button onclick="SignIn()" class="btn btn-primary" >SignIn</button>
            </div>
            <p id="Check"></p>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script type="text/javascript">
    function SignIn() {
        var user = {
            Email: document.getElementById("Email").value,
            Password: document.getElementById("Password").value,
        }
            $.ajax({
            type: "POST",
            url: '@Url.Action("SignIn", "Home")',
            data : user,
            beforeSend: function () {
                $("#Check").text("กำลังเข้าสู่ระบบ");
                console.log(user);
            },
            success: function (data) {
                data = JSON.parse(data);
                console.log(data);
                if (data.success == true) {
                    $("#Check").text("Login สำเร็จ");
                    var url = '@Url.Action("Index", "Home")';
                    window.location.href = url;
                }
                else {
                    $("#Check").text("Login ไม่สำเร็จ");
                }
            },
            error: function (error) {
                alert(error);
                $("#Check").text("Login ไม่สำเร็จ");
            }
        })
    }
</script>
}