@model webBudda.Models.SignInModel

@{
    ViewData["Title"] = "SignIn";
}

<style>
	@@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai&display=swap');

    * {
        font-family: 'IBM Plex Sans Thai';
    }

*,:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
a{color:inherit;text-decoration:none}

.login-wrap{

	width:100%;
	margin:auto;
	max-width:525px;
	min-height:750px;
	position:relative;
	background:url(https://raw.githubusercontent.com/BrillChatkul/SoftStudioProject/PluemBranch2/PIC/Arun%20Temple.png) no-repeat center  ;
	position: relative;
	background-size: auto, cover;
	box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
	border-radius:30px;
}
.login-html{
	width:100%;
	height:100%;
	position:absolute;
	padding:90px 70px 50px 70px;
	background:rgba(40,57,101,.9);
	border-radius:30px;
}
.login-html .sign-in-htm,
.login-html .sign-up-htm{
	top:0;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
	transform:rotateY(180deg);
	backface-visibility:hidden;
	transition:all .4s linear;
}
.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check{
	display:none;
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button{
	text-transform:uppercase;
}
.login-html .tab{
	font-size:22px;
	margin-right:15px;
	padding-bottom:5px;
	margin:0 15px 10px 0;
	display:inline-block;
	border-bottom:2px solid transparent;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab{
	color:#fff;
	border-color:#1161ee;
}
.login-form{
	min-height:345px;
	position:relative;
	perspective:1000px;
	transform-style:preserve-3d;
}
.login-form .group{
	margin-bottom:15px;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button{
	width:100%;
	color:#fff;
	display:block;
}
.login-form .group .input,
.login-form .group .button{
	border:none;
	padding:15px 20px;
	border-radius:25px;
	background:rgba(255,255,255,.1);
}
.login-form .group input[data-type="password"]{
	text-security:circle;
	-webkit-text-security:circle;
}
.login-form .group .label{
	color:#aaa;
	font-size:12px;
}
.login-form .group .button{
	background:#1161ee;
}
.login-form .group label .icon{
	width:15px;
	height:15px;
	border-radius:2px;
	position:relative;
	display:inline-block;
	background:rgba(255,255,255,.1);
}
.login-form .group label .icon:before,
.login-form .group label .icon:after{
	content:'';
	width:10px;
	height:2px;
	background:#fff;
	position:absolute;
	transition:all .2s ease-in-out 0s;
}
.login-form .group label .icon:before{
	left:3px;
	width:5px;
	bottom:6px;
	transform:scale(0) rotate(0);
}
.login-form .group label .icon:after{
	top:6px;
	right:0;
	transform:scale(0) rotate(0);
}
.login-form .group .check:checked + label{
	color:#fff;
}
.login-form .group .check:checked + label .icon{
	background:#1161ee;
}
.login-form .group .check:checked + label .icon:before{
	transform:scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after{
	transform:scale(1) rotate(-45deg);
}
.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
	transform:rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
	transform:rotate(0);
}

.hr{
	height:2px;
	margin:60px 0 50px 0;
	background:rgba(255,255,255,.2);
}
.foot-lnk{
	text-align:center;
}
.modalbtt{

	text-transform:uppercase;
	border:none;
	padding:15px 20px;
	border-radius:25px;
	background:rgba(255,255,255,.1);
	width:100%;
	display:block;
	color:#000;
	border-color:#1161ee;
}
</style>

<br></br>
<br></br>
<br></br>
<div style="margin-top:50px"> </div>

<div class="login-wrap content">
	<div class="login-html">
		<input id="tab-1" type="radio" name="tab" class="sign-in text-center " checked><label for="tab-1" class="tab">Sign In</label>
		<input id="tab-2" type="radio" name="tab" class="sign-up text-center label"><label for="tab-2" class="tab">Sign Up</label>
		<div class="login-form">
			
			
				<div  class="text-danger"></div>
			<div class="sign-in-htm">
				<div class="group">
					<label class="label ">Email</label><br></br>
					<input id="Email" type="text" class="input">
					<span class="text-danger"></span>
				</div>

				<div class="group">
					<label class="label">Password</label><br></br>
					<input id="Password" type="password" class="input" data-type="password">
					 <span class="text-danger"></span>
				</div><br></br>

				<div class="group text-center">
					<label id="Check" class="label"></label>
				</div>

				<div class="group">
					<button onclick="SignIn()" class="button">SIGN IN</button>
				</div>

				<div class="hr"></div>
				<div class="foot-lnk " style="color:white;">
					<u><a href="#forgot" data-bs-toggle="modal" data-bs-target="#exampleModal">Forgot Password?</a></u>
				</div>
			</div>
			
			
			
				<div  class="text-danger"></div>
			<div class="sign-up-htm">

				<div class="group">
					<label class="label mt-2">Username</label>
					<input id="DisplayName" type="text" class="input">
				</div>

				<div class="group">
					<label class="label">Email Address</label>
					<input id="Email1" type="text" class="input">
				</div>

				<div class="group">
					<label class="label">Password</label>
					<input id="Password1" type="password" class="input" data-type="password">
				</div>

				<div class="group">
					<label class="label">Repeat Password</label>
					<input id="Password2" type="password" class="input" data-type="password">
				</div>

				<div class="group text-center" style="color:white;">
					<label id="CheckRe" class="label"></label>
				</div>

				<div class="group">
					<button onclick="Register()" class="button">SIGN UP</button>
				</div>

				<div class="hr"></div>
				<div class="foot-lnk " style="color:white;">
					<label for="tab-1">Already Member?</a>
				</div>

			</div>
			

		</div>
	</div>
</div>




 @*Modal Forgot*@
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Forgot Password ?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
		  <b></br><u><h1>Contact Admin</h1></u></b>
		  <h1>adminBudBud@bbw.com</h1> 
		  @*<h3>or</h3>
		  <div > 
			  <div class="group">
					<h1><label asp-for="Email" class="control-label mt-2">Email</label></h1><br></br>
					<input asp-for="Email" type="email" class="modalbtt input border border-primary " onfocus="this.value=''" value="Enter You Email.." id="myInput">
					<span asp-validation-for="Email" class="text-danger"></span>
				</div>
		  </div>*@
		 

      </div>
      <div class="modal-footer">
        <button type="button" onclick="document.getElementById('myInput').value = ''" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        @*<button type="button" class="btn btn-primary">Send Email</button>*@
      </div>
    </div>
  </div>
</div>







@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script type="text/javascript">
    function SignIn() {
        var user = {
            Email: document.getElementById("Email").value,
            Password: document.getElementById("Password").value,
        }
            $.ajax({
            type: "POST",
            url: '@Url.Action("SignIn", "Home")',
            data : user,
            beforeSend: function () {
                $("#Check").text("กำลังเข้าสู่ระบบ");
                console.log(user);
            },
            success: function (data) {
                data = JSON.parse(data);
                console.log(data);
                if (data.success == true) {
                    $("#Check").text("Login สำเร็จ");
                    var url = '@Url.Action("Index", "Home")';
                    window.location.href = url;
                }
                else {
                    $("#Check").text("Login ไม่สำเร็จ");
                }
            },
            error: function (error) {
                alert(error);
                $("#Check").text("Login ไม่สำเร็จ");
            }
        })
    }

    function Register() {
        var user = {
            Name : document.getElementById("DisplayName").value,
            Email: document.getElementById("Email1").value,
            Password: document.getElementById("Password1").value,
        }
		var passwordRe = document.getElementById("Password1").value;
		if(user.Password == passwordRe && user.Name != "" && user.Email != "")
		{
            $.ajax({
            type: "POST",
            url: '@Url.Action("Register", "Home")',
            data : user,
            beforeSend: function () {
                $("#CheckRe").text("กำลังเข้าสู่ระบบ");
                console.log(user);
            },
            success: function (data) {
                data = JSON.parse(data);
                console.log(data);
                if (data.success == true) {
                    $("#CheckRe").text("Register สำเร็จ");
                    var url = '@Url.Action("Index", "Home")';
                    window.location.href = url;
                }
                else {
                    $("#CheckRe").text("Register ไม่สำเร็จ");
                }
            },
            error: function (error) {
                alert(error);
                $("#CheckRe").text("Register ไม่สำเร็จ");
            }
        })
		}
		else{
			$("#CheckRe").text("กรุณากรอกข้อมูลให้ครบ");
		}
    }
</script>
}
@* TemplateSignIn
<div class="row">
    <div class="col-md-4">
            <div class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Email</label>
                <input id="Email" class="form-control" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Password</label>
                <input id="Password" class="form-control" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <button onclick="SignIn()" class="btn btn-primary" >SignIn</button>
            </div>
            <p id="Check"></p>
    </div>
</div> *@