@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using webBudda.Models
@{
    var item = ViewBag.blog;
    //Id = 1, Authen = "Unknown", Title = "การนอนเป็นเรื่องเสียเวลา", Type = "เรื่องเล่า"
}
<div class="container">
    <div class="row">
        <div class="col-2" style="background-color:gray">
            <img src="https://i.pinimg.com/originals/0c/3b/3a/0c3b3adb1a7530892e55ef36d3be6cb8.png" style="width:100%" />
            <h4 class="text-center">by @item.authen</h4> 
            <h6 class="text-center">poseted 16:30</h6>
        </div>
        <div class="col">
            <div class="col-10" style="position:relative text-align:center">
                <h1>@item.title</h1>
                <h6>กระทู้หมายเลข @item.Id | กระทู้@item.typep</h6>
                <hr />
                <img style="width:60% " src="https://scontent.fbkk12-4.fna.fbcdn.net/v/t39.30808-6/270204153_224275023207074_7934483309102588143_n.jpg?_nc_cat=103&ccb=1-5&_nc_sid=8bfeb9&_nc_eui2=AeFrehaWdQsx88cQcaF7KPZkUFcEC5-w_JBQVwQLn7D8kBXGdFLLT3yT_Gx4rzu0dXUodks74U8DIIHeG0W--nBS&_nc_ohc=hy9UuPuW3AIAX_w0Y-K&_nc_ht=scontent.fbkk12-4.fna&oh=00_AT9nzanhldyPEfdx6FTo-pwZjoMOlPcQoL7himOO8ZKjVw&oe=6255ABA2" />
                <p>เพราะฉะนั้นกูไม่มีคำอวยพรวันปีใหม่ให้พวกมึงไอ้พวกชาตินรก มึงอยากรวยมึงก็ต้องทำหาแดกวางแผนการเงิน มึงอยากมีชีวิตที่ดีมึงก็ต้องเป็นคนที่ดีคบมิตรที่ดีวางแผนชีวิต ไม่มีใครอวยพรดลบันดาลให้มึงดีหรือชั่วได้ถ้ามึงไม่ลงมือทำ ชีวิตมึงจะเป็นยังไงก็อยู่ที่การกระทำของมึงเอง</p>
                <hr />
                <button>like</button><button>dislike</button>
            </div>
        </div>
    </div>
    <hr />
    <h2>ความคิดเห็นต่อกระทู้</h2>
    <hr />
    <div class="row">
        <div class="col-2">
            <img src="https://i.pinimg.com/originals/0c/3b/3a/0c3b3adb1a7530892e55ef36d3be6cb8.png" style="width:100%" />
            <h4 class="text-center">by Pla</h4>
            <h6 class="text-center">commented 17:14</h6>
        </div>
        <div class="col">
            Good quote keep posting
        </div>
    </div>
<hr />
    <div class="row">
        <div class="col-2">
            <img src="https://i.pinimg.com/originals/0c/3b/3a/0c3b3adb1a7530892e55ef36d3be6cb8.png" style="width:100%" />
            <h4 class="text-center">by Pla</h4>
            <h6 class="text-center">commented 17:14</h6>
        </div>
        <div class="col">
            Good quote keep posting
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-2">
            <img src="https://i.pinimg.com/originals/0c/3b/3a/0c3b3adb1a7530892e55ef36d3be6cb8.png" style="width:100%" />
            <h4 class="text-center">by Pla</h4>
            <h6 class="text-center">commented 17:14</h6>
        </div>
        <div class="col">
            Good quote keep posting
        </div>
    </div>
    <hr />
    <div class="row">
        <center>
            <div class="col">
                <h4>Add Comment</h4>
                <input style="width: 500px;height: 200px">
                <button>Comment</button>
            </div>
        </center>
    </div>
</div>