
@{
    ViewData["Title"] = "CardGameMemory";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="/" />
<link rel="stylesheet" href="~/js/index.js" />

<h1>Hello</h1>