
@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="/" />
<link rel="stylesheet" href="~/js/index.js" />


<div class="text-center">
    <h1>Buddha Game</h1>
</div>

<div class="container">
    <div class = "col">
        <div class="row">
            <button type="button" class="btn btn-outline-primary"><a asp-area="" asp-controller="BubbhaGame" asp-action="SpinnerGame">Spinner Game</a></button>
            <button type="button" class="btn btn-outline-secondary"><a asp-area="" asp-controller="BubbhaGame" asp-action="CardGameMemory">CardGame Memory</a></button>
            <button type="button" class="btn btn-outline-success"><a asp-area="" asp-controller="BubbhaGame" asp-action="BlockGame">Block Game</a></button>
        </div>
    </div>
</div>