@{
    var IDblog = ViewBag.id;
}
<div onload="link('@IDblog')">
    Loading
    <button onclick="link('@IDblog')">Onclick</button>
</div>
<script type="text/javascript">
    function link(id)
    {
          var url = '@Url.Action("DirecttoViewBlock", "Blog")/' + id;
          window.location.href = url;
    }
</script>
}
