@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/css/all.min.css">

    <style>
        html {
            scroll-behavior: smooth;
        }

        h1 {
          text-align: center;
        }

        .gotopbtn {
            position: fixed;
            width: 50px;
            height: 50px;
            background: #27ae60;
            bottom: 60px;
            right: 50px;

            text-decoration: none;
            text-align: center;
            line-height: 50px;
            color: white;
            font-size: 22px;
        }

        .well {
          min-height: 20px;
          padding: 19px;
          margin-bottom: 20px;
          background-color: #f5f5f5;
          border: 1px solid #e3e3e3;
          border-radius: 4px;
          -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
        }

        .img-rounded {
          border-radius: 6px;
        }

		pagination {
		  display: inline-block;
		  padding-left: 0;
		  margin: 20px 0;
		  border-radius: 4px;
		}
		.pagination > li {
		  display: inline;
		}
		.pagination > li > a,
		.pagination > li > span {
		  position: relative;
		  float: left;
		  padding: 6px 12px;
		  margin-left: -1px;
		  line-height: 1.42857143;
		  color: #337ab7;
		  text-decoration: none;
		  background-color: #fff;
		  border: 1px solid #ddd;
		}
		.pagination > li:first-child > a,
		.pagination > li:first-child > span {
		  margin-left: 0;
		  border-top-left-radius: 4px;
		  border-bottom-left-radius: 4px;
		}
		.pagination > li:last-child > a,
		.pagination > li:last-child > span {
		  border-top-right-radius: 4px;
		  border-bottom-right-radius: 4px;
		}
		.pagination > li > a:hover,
		.pagination > li > span:hover,
		.pagination > li > a:focus,
		.pagination > li > span:focus {
		  color: #23527c;
		  background-color: #eee;
		  border-color: #ddd;
		}
		.pagination > .active > a,
		.pagination > .active > span,
		.pagination > .active > a:hover,
		.pagination > .active > span:hover,
		.pagination > .active > a:focus,
		.pagination > .active > span:focus {
		  z-index: 2;
		  color: #fff;
		  cursor: default;
		  background-color: #337ab7;
		  border-color: #337ab7;
		}
		.pagination > .disabled > span,
		.pagination > .disabled > span:hover,
		.pagination > .disabled > span:focus,
		.pagination > .disabled > a,
		.pagination > .disabled > a:hover,
		.pagination > .disabled > a:focus {
		  color: #777;
		  cursor: not-allowed;
		  background-color: #fff;
		  border-color: #ddd;
		}
		.pagination-lg > li > a,
		.pagination-lg > li > span {
		  padding: 10px 16px;
		  font-size: 18px;
		}
		.pagination-lg > li:first-child > a,
		.pagination-lg > li:first-child > span {
		  border-top-left-radius: 6px;
		  border-bottom-left-radius: 6px;
		}
		.pagination-lg > li:last-child > a,
		.pagination-lg > li:last-child > span {
		  border-top-right-radius: 6px;
		  border-bottom-right-radius: 6px;
		}
		.pagination-sm > li > a,
		.pagination-sm > li > span {
		  padding: 5px 10px;
		  font-size: 12px;
		}
		.pagination-sm > li:first-child > a,
		.pagination-sm > li:first-child > span {
		  border-top-left-radius: 3px;
		  border-bottom-left-radius: 3px;
		}
		.pagination-sm > li:last-child > a,
		.pagination-sm > li:last-child > span {
		  border-top-right-radius: 3px;
		  border-bottom-right-radius: 3px;
		}



    </style>

</head>
<body>
	<div style="margin-top:50px"> </div>
	<div class="text-left col-md-8 myfont_athiti ">
	
	<div align="center" class="myfont-Srb30"><img src="~/css/header16.jpg" class="img-rounded" width="100%"></div>
	
	<h3 class="myfont_athiti" align="center"><b>งานประเพณีตากธัมม์ ตานข้าวใหม่ หิงไฟพระเจ้า วัดสูงเม่น จ.แพร่</b></h3>
		
		<div class="panel panel-default">
			<div class="panel-body myfont_sarabun">
				<img src="~/css/header16_2.jpg" class="img-rounded" width="100%">
				<br>
				<br>
				ประเพณีตากธัมม์ ตานข้าวใหม่หิงไฟพระเจ้า เป็นประเพณีที่ชาวตำบลสูงเม่น ถือปฏิบัติสืบต่อกันมายาวนาน เพื่อย้อนรำลึกถึงคุณงามความดีของอดีตเจ้าอาวาสวัดสูงเม่น (ครูบากัณจนะ อรัญญวาสีมหาเถร หรือ ครูบามหาเถร) และเพื่อฟื้นฟูประเพณีอันดีงาม พร้อมสืบสานวัฒนธรรมทางศาสนา เปิดโอกาสให้คณะศรัทธา พุทธศาสนิกชนทั่วไปได้มีส่วนร่วมในการทำบุญประเพณีตากธรรม 
				<br>
				<br>
				<img src="~/css/header16_3.jpg" class="img-rounded" width="100%">
				<br>
				<br>
				ทั้งนี้ ครูบากัณจนะอรัญญวาสีมหาเถร หรือ ครูบามหาเถร นับเป็นปฐมครูบาเจ้าแห่งภาคเหนือ สันนิษฐานว่าท่านเกิดในสมัยรัชกาลที่ 1 พ.ศ.2332 มีอายุยาวนานถึง 4 รัชกาล (มรณะในปี 2421 รัชกาลที่ 4) พื้นเพดั้งเดิมเป็นคนแพร่หรือจังหวัดแพร่ หลังจากอุปสมบทท่านได้ศึกษาพระไตรปิฎกมูลกัจจายนะ ปรมัตถุ์ สัททาทั้ง 80 มัด สมัญญาภิธาน เป็นต้น จนแตกฉานในธรรมทั้งหมด และเป็นผู้สร้างคุณงามความดีไว้จำนวนมาก อาทิ จัดสร้างและรวบรวมเขียนธรรมใบลาน เป็นภาษาบาลี บรรจุไว้ในพระไตรปิฎกวัดสูงเม่น มี 2,567 มัด นับเป็นผูกได้ 8,845 ผูก และยังได้นำไปบรรจุไว้ที่หลวงพระบางอีกจำนวนมาก
				<br>
				<br>
				<img src="~/css/header16_4.jpg" class="img-rounded" width="100%">
				<br>
				<br>
				“การหิงไฟพระเจ้า” เป็นการนำไม้ขนาดกว้าง 1 นิ้ว ยาวประมาณ 40-50 นิ้ว มาเหลาปอกเปลือกแล้วทาสีเหลือง พอถึงวันพระก็นำไม้ไปประเคนพระประธานในโบสถ์แล้วนำไม้เหล่านั้น มารวมกันทำเป็นกระโจมไว้หน้าโบสถ์เพื่อทำพิธีจุดไฟ ซึ่งในอดีตพิธีนี้ปฏิบัติกันเพื่อให้ความอบอุ่นในฤดูหนาวแก่พระสงฆ์และผู้มาทำพิธีในวัด 
				<br>
				<br>
				<img src="~/css/header16_5.jpg" class="img-rounded" width="100%">
				<br>
			</div>
			<div class="panel-footer myfont_athiti"><b>กำหนดวันจัดงาน : </b>มกราคม ของทุกปี </div>
		</div>
		
		<br>
		<div class="font_kanit_menu text-right">ที่มา : หนังสือเทศกาล การแสดงศิลปวัฒนธรรม ประเพณี ทั่วไทย ๒๕๖๔ - กรมส่งเสริมวัฒนธรรม กระทรวงวัฒนธรรม</div>
		<br>

	<hr>
	<br>


    <a class="gotopbtn" href="#"> <i class="fa fa-arrow-up" aria-hidden="true"></i> </a>

    
</body>