@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/css/all.min.css">

    <style>
        html {
            scroll-behavior: smooth;
        }

        .gotopbtn {
            position: fixed;
            width: 50px;
            height: 50px;
            background: #27ae60;
            bottom: 60px;
            right: 50px;

            text-decoration: none;
            text-align: center;
            line-height: 50px;
            color: white;
            font-size: 22px;
        }
    </style>

</head>
<body>
    <div class="row">
		<a></a><img class="img-rounded" src="~/css/header4.jpg" title="Kurobuta Dog" width="100%"><br>
	</div>

	<br>

    <h1>
        <strong>ทศชาติชาดก</strong>
    </h1>
        	
    <p><strong>ชาดก คือ ?</strong><br>
       	  ขอยกคำอธิบายด้วยข้อมูลในพระไตรปิฏก ดังนี้<br>
       	  ...<br>
   	    พระไตรปิฎกเล่มที่ ๒๗ สุตตันตปิฎกที่ ๑๙ ขุททกนิกายชาดก ภาค ๑</p>
   	  <p>พระไตรปิฎกเล่มที่ ๒๗ เป็นภาคแรกของชาดก ได้กล่าวถึงคำสอนทางพระพุทธศาสนา อันมีลักษณะเป็นนิทานสุภาษิต แต่ในตัวพระไตรปิฎกไม่มีเล่าเรื่องไว้ มีแต่คำสุภาษิต รวมทั้งคำโต้ตอบในนิทานเรื่องละเอียดมีเล่าไว้ในอรรถกถา คือหนังสือที่แต่งขึ้นอธิบายพระไตรปิฎกอีกต่อหนึ่ง</p>
       	<p>คำว่า ชาตก หรือ ชาดก แปลว่า ผู้เกิด คือเล่าถึงการที่พระพุทธเจ้าทรงเวียนว่ายตายเกิด ถือเอากำเนิดในชาติต่างๆ ได้พบปะผจญกับเหตุการณ์ดีบ้างชั่วบ้าง แต่ก็ได้พยายามทำความดีติดต่อกันมากบ้างน้อยบ้างตลอดมา จนเป็นพระพุทธเจ้าในชาติสุดท้าย</p>
       	<p>&nbsp;</p>
       	<p> กล่าวอีกอย่างหนึ่ง จะถือว่า เรื่องชาดกเป็นวิวัฒนาการแห่งการบำเพ็ญคุณงามความดี ของพระพุทธเจ้า ตั้งแต่ยังเป็นพระโพธิสัตว์อยู่ก็ได้</p>
       	<p>ในอรรถกถาแสดงด้วยว่า ผู้นั้นผู้นี้กลับชาติมาเกิดเป็นใครในสมัยพระพุทธเจ้า แต่ในบาลีพระไตรปิฎกกล่าวถึงเพียงบางเรื่อง เพราะฉะนั้น สาระสำคัญจึงอยู่ที่คุณงามความดีและอยู่ที่คติธรรมในนิทานนั้นๆ</p>
       	<p>อนึ่ง เป็นที่ทราบกันว่าชาดกทั้งหมดมี ๕๕๐ เรื่อง แต่เท่าที่ได้ลองนับดูแล้วปรากฏว่า ในเล่มที่ ๒๗ มี ๕๒๕ เรื่อง, ในเล่มที่ ๒๘ มี ๒๒ เรื่อง รวมทั้งสิ้นจึงเป็น ๕๔๗ เรื่อง ขาดไป ๓ เรื่อง แต่การขาดไปนั้น น่าจะเป็นด้วยในบางเรื่องมีนิทานซ้อนนิทาน และไม่ได้นับเรื่องซ้อนแยกออกไปก็เป็นได้ อย่างไรก็ตาม จำนวนที่นับได้ จัดว่าใกล้เคียงมาก</p>
       	<p>พระไตรปิฎกเล่มที่ ๒๘ สุตตันตปิฎกที่ ๒๐ ขุททกนิกาย ชาดกภาค ๒</p>
   	  <p>ในพระไตรปิฎกเล่มที่ ๒๗ เป็นเล่มที่รวมเรื่องชาดกที่เล็กๆน้อยๆรวมกันถึง ๕๒๕ เรื่อง แต่ในพระไตรปิฎกเล่มที่ ๒๘ นี้มีเพียง ๒๒ เรื่อง เพราะเป็นเรื่องยาวๆทั้งนั้น โดย ๑๒ เรื่องแรกเป็นเรื่องที่มีคำฉันท์ ส่วน ๑๐ เรื่องหลัง คือเรื่องที่เรียกว่า มหานิบาตชาดก แปลว่า ชาดกที่ชุมนุมเรื่องใหญ่ หรือที่โบราณเรียกว่า ทศชาติ<br>
       	  ...</p>
       	<p class="text-info"><em>ข้อมูลจาก : พระไตรปิฎกฉบับประชาชน อ.สุชีพ ปุญญานุภาพ</em></p>
   	  	<p class="text-info">&nbsp;</p>
       	<p align="center">ดังนั้นเนื้อเรื่อง&nbsp;ทศชาติชาดก&nbsp;ทั้งสิบเรื่องที่เว็บธรรมะไทย มีให้ผู้อ่านได้อ่าน ได้แก่<br>
          <br>
       	</p>


        <a class="gotopbtn" href="#"> <i class="fa fa-arrow-up" aria-hidden="true"></i> </a>

    
</body>

