@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/css/all.min.css">

    <style>
        html {
            scroll-behavior: smooth;
        }

        h1 {
          text-align: center;
        }

        .gotopbtn {
            position: fixed;
            width: 50px;
            height: 50px;
            background: #27ae60;
            bottom: 60px;
            right: 50px;

            text-decoration: none;
            text-align: center;
            line-height: 50px;
            color: white;
            font-size: 22px;
        }

        .well {
          min-height: 20px;
          padding: 19px;
          margin-bottom: 20px;
          background-color: #f5f5f5;
          border: 1px solid #e3e3e3;
          border-radius: 4px;
          -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
        }

        .img-rounded {
          border-radius: 6px;
        }

		pagination {
		  display: inline-block;
		  padding-left: 0;
		  margin: 20px 0;
		  border-radius: 4px;
		}
		.pagination > li {
		  display: inline;
		}
		.pagination > li > a,
		.pagination > li > span {
		  position: relative;
		  float: left;
		  padding: 6px 12px;
		  margin-left: -1px;
		  line-height: 1.42857143;
		  color: #337ab7;
		  text-decoration: none;
		  background-color: #fff;
		  border: 1px solid #ddd;
		}
		.pagination > li:first-child > a,
		.pagination > li:first-child > span {
		  margin-left: 0;
		  border-top-left-radius: 4px;
		  border-bottom-left-radius: 4px;
		}
		.pagination > li:last-child > a,
		.pagination > li:last-child > span {
		  border-top-right-radius: 4px;
		  border-bottom-right-radius: 4px;
		}
		.pagination > li > a:hover,
		.pagination > li > span:hover,
		.pagination > li > a:focus,
		.pagination > li > span:focus {
		  color: #23527c;
		  background-color: #eee;
		  border-color: #ddd;
		}
		.pagination > .active > a,
		.pagination > .active > span,
		.pagination > .active > a:hover,
		.pagination > .active > span:hover,
		.pagination > .active > a:focus,
		.pagination > .active > span:focus {
		  z-index: 2;
		  color: #fff;
		  cursor: default;
		  background-color: #337ab7;
		  border-color: #337ab7;
		}
		.pagination > .disabled > span,
		.pagination > .disabled > span:hover,
		.pagination > .disabled > span:focus,
		.pagination > .disabled > a,
		.pagination > .disabled > a:hover,
		.pagination > .disabled > a:focus {
		  color: #777;
		  cursor: not-allowed;
		  background-color: #fff;
		  border-color: #ddd;
		}
		.pagination-lg > li > a,
		.pagination-lg > li > span {
		  padding: 10px 16px;
		  font-size: 18px;
		}
		.pagination-lg > li:first-child > a,
		.pagination-lg > li:first-child > span {
		  border-top-left-radius: 6px;
		  border-bottom-left-radius: 6px;
		}
		.pagination-lg > li:last-child > a,
		.pagination-lg > li:last-child > span {
		  border-top-right-radius: 6px;
		  border-bottom-right-radius: 6px;
		}
		.pagination-sm > li > a,
		.pagination-sm > li > span {
		  padding: 5px 10px;
		  font-size: 12px;
		}
		.pagination-sm > li:first-child > a,
		.pagination-sm > li:first-child > span {
		  border-top-left-radius: 3px;
		  border-bottom-left-radius: 3px;
		}
		.pagination-sm > li:last-child > a,
		.pagination-sm > li:last-child > span {
		  border-top-right-radius: 3px;
		  border-bottom-right-radius: 3px;
		}



    </style>

</head>
<body>

	<h3 class="myfont-Srb" align="center">วันลอยกระทง</h3>
	<p class="myfont-Srb30" align="center">วันเพ็ญเดือนสิบสอง หรือ วันขึ้น ๑๕ เดือน ๑๒</p>

	<p align="center"><img src="~/css/header14.jpg" class="img-responsive img-rounded" width="100%"></p>
		
		<p>
			ลอยกระทง เป็นพิธีอย่างหนึ่งที่มักจะทำกันในคืนวันเพ็ญ เดือน 12 หรือวันขึ้น 15 ค่ำเดือน 12 อันเป็นวันพระจันทร์เต็มดวง และเป็นช่วงที่น้ำหลากเต็มตลิ่ง โดยจะมีการนำดอกไม้ ธูป เทียนหรือสิ่งของใส่ลงในสิ่งประดิษฐ์รูปต่างๆ ที่ไม่จมน้ำ เช่น กระทง เรือ แพ ดอกบัว ฯลฯ แล้วนำไปลอยตามลำน้ำ โดยมีวัตถุประสงค์ และความเชื่อต่างๆ กัน
			<br><br>
			ประเพณีลอยกระทง (Loy Krathong Festival) มิได้มีแต่ในประเทศไทยเท่านั้น ในประเทศจีน อินเดีย เขมร ลาว และพม่า ก็มีการลอยกระทงคล้ายๆ กับบ้านเรา จะต่างกันบ้าง ก็คงเป็นเรื่องรายละเอียด พิธีกรรม และความเชื่อในแต่ละท้องถิ่น แม้แต่ในบ้านเราเอง การลอยกระทง ก็มาจากความเชื่อที่หลากหลายเช่นกัน ซึ่งกลุ่มประชาสัมพันธ์ สำนักงานคณะกรรมการวัฒนธรรมแห่งชาติ กระทรวงวัฒนธรรม ได้รวบรวมมาบอกเล่าให้ทราบกันดังต่อไปนี้
		</p>
		<br>
		<p>
			<b>ทำไมถึงลอยกระทง</b>
			<br><br>
			การลอยกระทง เป็นประเพณีที่มีมาแต่โบราณ แต่ไม่ปรากฏหลักฐานแน่ชัดว่า ปฏิบัติกันมาแต่เมื่อไร เพียงแต่ท้องถิ่นแต่ละแห่ง ก็จะมีจุดประสงค์และความเชื่อในการลอยกระทงแตกต่างกันไป เช่น ในเรื่องเกี่ยวกับพระพุทธศาสนา ก็จะเป็นการบูชาพระเกศแก้วจุฬามณีบนสวรรค์ชั้นดาวดึงส์, เป็นบูชารอยพระพุทธบาท ณ หาดทรายริมฝั่งแม่น้ำนัมมทา ซึ่งปัจจุบันคือแม่น้ำเนรพุททาในอินเดีย หรือต้อนรับพระพุทธเจ้า ในวันเสด็จกลับจากเทวโลก เมื่อครั้งไปโปรดพระพุทธมารดา
		</p>
		<br>
		<p>
			<span class="myfont_kanit text-center"><b>วัตถุประสงค์ของวันลอยกระทง</b></span>
			<br><br>
			นอกจากนี้ ลอยกระทง ก็ยังมีวัตถุประสงค์ เพื่อบูชาพระอุปคุตเถระที่บำเพ็ญบริกรรมคาถาในท้องทะเลลึก หรือสะดือทะเล บางแห่งก็ลอยกระทง เพื่อบูชาเทพเจ้าตามความเชื่อของตน บางแห่งก็เพื่อแสดงความขอบคุณพระแม่คงคา ซึ่งเป็นแหล่งน้ำให้มนุษย์ได้ใช้ประโยชน์ต่างๆ รวมทั้งขอขมาที่ได้ทิ้งสิ่งปฏิกูลลงไป ส่วนบางท้องที่ ก็จะทำเพื่อระลึกถึงบรรพบุรุษที่ล่วงลับ หรือเพื่อสะเดาะเคราะห์ ลอยทุกข์โศกโรคภัยต่างๆ และส่วนใหญ่ก็จะอธิษฐานขอสิ่งที่ตนปรารถนาไปด้วย
			<br><br>
			พระยาอนุมานราชธน ได้สันนิษฐานว่า ต้นเหตุแห่งการลอยกระทง อาจมีมูลฐานเป็นไปได้ว่า การลอยกระทงเป็นคติของชนชาติที่ประกอบกสิกรรม ซึ่งต้องอาศัยน้ำเป็นสำคัญ เมื่อพืชพันธุ์ธัญชาติงอกงามดี และเป็นเวลาที่น้ำเจิ่งนองพอดี ก็ทำกระทงลอยไปตามกระแสน้ำไหล เพื่อขอบคุณแม่คงคา หรือเทพเจ้าที่ประทานน้ำมาให้ความอุดมสมบูรณ์ เหตุนี้ จึงได้ลอยกระทงในฤดูกาลน้ำมาก และเมื่อเสร็จแล้ว จึงเล่นรื่นเริงด้วยความยินดี เท่ากับเป็นการสมโภชการงานที่ได้กระทำว่า ได้ลุล่วงและรอดมาจนเห็นผลแล้ว ท่านว่าการที่ชาวบ้านบอกว่า การลอยกระทงเป็นการขอขมาลาโทษ และขอบคุณต่อแม่คงคา ก็คงมีเค้าในทำนองเดียวกับการที่ชาติต่างๆ แต่ดึกดำบรรพ์ได้แสดงความยินดี ที่พืชผลเก็บเกี่ยวได้ จึงได้นำผลผลิตแรกที่ได้ ไปบูชาเทพเจ้าที่ตนนับถือ เพื่อขอบคุณที่บันดาลให้การเพาะปลูกของตนได้ผลดี รวมทั้งเลี้ยงดูผีที่อดอยาก และการเซ่นสรวงบรรพบุรุษที่ล่วงลับ เสร็จแล้วก็มีการสมโภชเลี้ยงดูกันเอง
			<br><br>
			ต่อมาเมื่อมนุษย์มีความเจริญแล้ว การวิตกทุกข์ร้อน เรื่องเพาะปลูกว่าจะไม่ได้ผลก็น้อยลงไป แต่ก็ยังทำการบวงสรวง ตามที่เคยทำมาจนเป็นประเพณี เพียงแต่ต่างก็แก้ให้เข้ากับคติลัทธิทางศาสนาที่ตนนับถือ เช่น มีการทำบุญสุนทานเพิ่มขึ้นในทางพุทธศาสนา เป็นต้น แต่ที่สุด ก็คงเหลือแต่การเล่นสนุกสนานรื่นเริงกันเป็นส่วนใหญ่ อย่างไรก็ดี ด้วยเหตุดังกล่าวข้างต้น การลอยกระทงจึงมีอยู่ในชาติต่างๆทั่วไป และการที่ไปลอยน้ำ ก็คงเป็นความรู้สึกทางจิตวิทยา ที่มนุษย์โดยธรรมดา มักจะเอาอะไรทิ้งไปในน้ำให้มันลอยไป
			<br>
			<br>
			</p><div align="center"><img src="~/css/header14_2.jpg" class="img-responsive img-rounded" width="100%"></div>
			<br>
			<span class="myfont_kanit text-center"><b>ทำไมกระทงส่วนใหญ่เป็นรูปดอกบัว</b></span>
			<br><br>
			ในหนังสือตำรับท้าวศรีจุฬาลักษณ์ หรือตำนานนางนพมาศ ซึ่งเป็นพระสนมเอก ของพระมหาธรรมราชาลิไทยหรือพระร่วง แห่งกรุงสุโขทัย ได้กล่าวถึงวันเพ็ญเดือนสิบสองว่า เป็นเวลาเสด็จประพาสลำน้ำ ตามพระราชพิธีในเวลากลางคืน และได้มีรับสั่งให้บรรดาพระสนมนางในทั้งหลาย ตกแต่งกระทงประดับดอกไม้ธูปเทียน นำไปลอยน้ำหน้าพระที่นั่ง ในคราวนั้น ท้าวศรีจุฬาลักษณ์ หรือนางนพมาศพระสนมเอก ก็ได้คิดประดิษฐ์กระทงเป็นรูปดอกบัวกมุทขึ้น ด้วยเห็นว่าเป็นดอกบัวพิเศษ ที่บานในเวลากลางคืนเพียงปีละครั้งในวันดังกล่าว สมควรทำเป็นกระทงแต่งประทีป ลอยไปถวายสักการะรอยพระพุทธบาท ซึ่งเมื่อพระร่วงเจ้าได้ทอดพระเนตรเห็น ก็รับสั่งถามถึงความหมาย นางก็ได้ทูลอธิบายจนเป็นที่พอพระราชหฤทัย พระองค์จึงมีพระราชดำรัสว่า “แต่นี้สืบไปเบื้องหน้าโดยลำดับ กษัตริย์ในสยามประเทศ ถึงกาลกำหนดนักขัตฤกษ์ วันเพ็ญเดือน 12 ให้นำโคมลอยเป็นรูปดอกบัว อุทิศสักการบูชาพระพุทธบาทนัมมทานที ตราบเท่ากัลปาวสาน” ด้วยเหตุนี้ เราจึงเห็นโคมลอยรูปดอกบัวปรากฏมาจนปัจจุบัน
		<p></p>
		<br>
			<div align="center"><img src="~/css/header14_3.jpg" class="img-responsive img-rounded" width="100%"></div>
		<br>
		<p>
			<span class="myfont_kanit text-center"><b>ตำนานและความเชื่อวันลอยกระทง</b></span>
			<br><br>
			จากที่กล่าวมาข้างต้นว่า การลอยกระทง ในแต่ละท้องที่ก็มาจากความเชื่อ ความศรัทธาที่แตกต่างกัน บางแห่งก็มีตำนานเล่าขานกันต่อๆมา ซึ่งจะยกตัวอย่างบางเรื่องมาให้ทราบ ดังนี้
			<br>
			<br>
			</p><div align="center"><img src="~/css/header14_4.jpg" class="img-responsive img-rounded" width="100%"></div>
			<br>
			<span class="myfont_kanit text-center"><b>เรื่องแรก ว่ากันว่าการลอยกระทง มีต้นกำเนิดมาจากศาสนาพุทธนั่นเอง</b></span>
			<br><br>
			กล่าวคือก่อนที่พระพุทธองค์จะตรัสรู้ เป็นสมเด็จพระสัมมาสัมพุทธเจ้า ได้ประทับอยู่ใต้ต้นโพธิ์ ใกล้แม่น้ำเนรัญชรา กาลวันหนึ่ง นางสุชาดาอุบาสิกาได้ให้สาวใช้นำข้าวมธุปายาส (ข้าวกวนหุงด้วยน้ำผึ้งหรือน้ำอ้อย) ใส่ถาดทองไปถวาย เมื่อพระองค์เสวยหมดแล้ว ก็ทรงตั้งสัตยาธิษฐานว่า ถ้าหากวันใดจะสำเร็จเป็นพระพุทธเจ้า ก็ขอให้ถาดลอยทวนน้ำ ด้วยแรงสัตยาธิษฐาน และบุญญาภินิหาร ถาดก็ลอยทวนน้ำไปจนถึงสะดือทะเล แล้วก็จมไปถูกขนดหางพระยานาคผู้รักษาบาดาล

		<br>
			พระยานาคตื่นขึ้น พอเห็นว่าเป็นอะไร ก็ประกาศก้องว่า บัดนี้ได้มีพระสัมมาสัมพุทธเจ้า อุบัติขึ้นในโลกอีกองค์แล้ว ครั้นแล้วเทพยดาทั้งหลายและพระยานาค ก็พากันไปเข้าเฝ้าพระพุทธเจ้า และพระยานาคก็ได้ขอให้พระพุทธองค์ ประทับรอยพระบาทไว้บนฝั่งแม่น้ำเนรัญชรา เพื่อพวกเขาจะได้ขึ้นมาถวายสักการะได้ พระองค์ก็ทรงทำตาม ส่วนสาวใช้ก็นำความไปบอกนางสุชาดา ครั้นถึงวันนั้นของทุกปี นางสุชาดาก็จะนำเครื่องหอม และดอกไม้ใส่ถาดไปลอยน้ำ เพื่อไปนมัสการรอยพระพุทธบาทเป็นประจำเสมอมา และต่อๆ มาก็ได้กลายเป็นประเพณีลอยกระทง ตามที่เห็นกันอยู่ในปัจจุบัน
			<br><br>
			ในเรื่องการประทับรอยพระบาทนี้ บางแห่งก็ว่า พญานาคได้ทูลอาราธนาพระพุทธเจ้า ไปแสดงธรรมเทศนาในนาคพิภพ เมื่อจะเสด็จกลับ พญานาคได้ทูลขออนุสาวรีย์จากพระองค์ไว้บูชา พระพุทธองค์จึงได้ทรงอธิษฐาน ประทับรอยพระบาทไว้ที่หาดทรายแม่น้ำนัมมทา และพวกนาคทั้งหลาย จึงพากันบูชารอยพระพุทธบาทแทนพระองค์ ต่อมาชาวพุทธได้ทราบเรื่องนี้ จึงได้ทำการบูชารอยพระบาทสืบต่อกันมา โดยนำเอาเครื่องสักการะใส่กระทงลอยน้ำไป ส่วนที่ว่าลอยกระทงในวันเพ็ญ เดือน 11 หรือวันออกพรรษา เพื่อเฉลิมฉลองวันคล้ายวันที่พระพุทธเจ้า เสด็จกลับมาสู่โลกมนุษย์ หลังการจำพรรษา 3 เดือน ณ สวรรค์ชั้นดาวดึงส์เพื่อแสดงอภิธรรมโปรดพุทธมารดานั้น ก็ด้วยวันดังกล่าว เหล่าทวยเทพและพุทธบริษัท พากันมารับเสด็จนับไม่ถ้วน พร้อมด้วยเครื่องสักการบูชา และเป็นวันที่พระพุทธองค์ได้เปิดให้ประชาชนได้เห็นสวรรค์ และนรกด้วยฤทธิ์ของพระองค์ คนจึงพากันลอยกระทง เพื่อเฉลิมฉลองรับเสด็จพระพุทธเจ้า
			<br><br>
			สำหรับคติที่ว่า การลอยกระทงตามประทีป เพื่อไปบูชาพระเกศแก้วจุฬามณี บนสรวงสรรค์ชั้นดาวดึงส์นั้น ก็ว่าเป็นเพราะตรงกับวันที่พระพุทธเจ้า เสด็จออกบรรพชาที่ริมฝั่งแม่น้ำอโนมา ทรงใช้พระขรรค์ตัดพระเกศโมลีขาด ลอยไปในอากาศตามที่ทรงอธิษฐาน พระอินทร์จึงนำผอบแก้วมาบรรจุ แล้วนำไปประดิษฐานไว้ในจุฬามณีเจดีย์ บนสวรรค์ชั้นดาวดึงส์ (ตามประทีป คือ การจุดประทีป หรือจุดไฟในตะเกียง /โคม หรือผาง-ถ้วยดินเผาเล็กๆ) ซึ่งทางเหนือของเรา มักจะมีการปล่อยโคมลอย หรือโคมไฟที่เรียกว่า ว่าวไฟ ขึ้นไปในอากาศเพื่อบูชาพระเกศแก้วจุฬามณีด้วย
			<br>
			<br>
			<span class="myfont_kanit text-center"><b>เรื่องที่สอง ตามตำราพรหมณ์คณาจารย์กล่าวว่า</b></span>
			<br><br>
			พิธีลอยประทีปหรือตามประทีปนี้ แต่เดิมเป็นพิธีทางศาสนาพราหมณ์ ทำขึ้นเพื่อบูชาเทพเจ้าทั้งสามคือ พระอิศวร พระนารายณ์และพระพรหม เป็นประเภทคู่กับลอยกระทง ก่อนจะลอยก็ต้องมีการตามประทีปก่อน ซึ่งตามคัมภีร์โบราณอินเดียเรียกว่า “ทีปาวลี” โดยกำหนดทางโหราศาสตร์ว่า เมื่อพระอาทิตย์ถึงราศีพิจิก พระจันทร์อยู่ราศีพฤกษ์เมื่อใด เมื่อนั้นเป็นเวลาตามประทีป และเมื่อบูชาไว้ครบกำหนดวันแล้ว ก็เอาโคมไฟนั้นไปลอยน้ำเสีย ต่อมาชาวพุทธเห็นเป็นเรื่องดี จึงแปลงเป็นการบูชารอยพระพุทธบาท และการรับเสด็จพระพุทธเจ้า ดังที่กล่าวมาข้างต้น โดยมักถือเอาเดือน 12 หรือเดือนยี่เป็งเป็นเกณฑ์ (ยี่เป็งคือเดือนสอง ตามการนับทางล้านนา ที่นับเดือนทางจันทรคติ เร็วกว่าภาคกลาง 2 เดือน)
			<br>
			<br>
			<span class="myfont_kanit text-center"><b>เรื่องที่สาม เป็นเรื่องของพม่า</b></span>
			<br><br>
			เล่าว่า ครั้งหนึ่งในสมัยพระเจ้าอโศกมหาราช ทรงมีพระประสงค์จะสร้างเจดีย์ให้ครบ 84,000 องค์ แต่ถูกพระยามารคอยขัดขวางเสมอ พระองค์จึงไปขอให้พระอรหันต์องค์หนึ่ง คือ พระอุปคุตช่วยเหลือ พระอุปคุตจึงไปขอร้องพระยานาคเมืองบาดาลให้ช่วย พระยานาครับปาก และปราบพระยามารจนสำเร็จ พระเจ้าอโศกมหาราช จึงสร้างเจดีย์ได้สำเร็จสมพระประสงค์ ตั้งแต่นั้นมา เมื่อถึงวันเพ็ญเดือน 12 คนทั้งหลายก็จะทำพิธีลอยกระทง เพื่อบูชาคุณพระยานาค เรื่องนี้ บางแห่งก็ว่า พระยานาค ก็คือพระอุปคุตที่อยู่ที่สะดือทะเล และมีอิทธิฤทธิ์มาก จึงปราบมารได้ และพระอุปคุตนี้ เป็นที่นับถือของชาวพม่า และชาวพายัพของไทยมาก
			<br>
			<br>
			<div align="center"><img src="~/css/header14_5.jpg" class="img-responsive img-rounded" width="100%"></div>
			<br>
			<span class="myfont_kanit text-center"><b>เรื่องที่สี่ เกิดจากความเชื่อแต่ครั้งโบราณในล้านนาว่า</b></span>
			<br><br>
			เกิดอหิวาต์ระบาด ที่อาณาจักรหริภุญชัย ทำให้คนล้มตายเป็นจำนวนมาก พวกที่ไม่ตายจึงอพยพไปอยู่เมืองสะเทิม และหงสาวดีเป็นเวลา 6 ปี บางคนก็มีครอบครัวอยู่ที่นั่น ครั้นเมื่ออหิวาต์ได้สงบลงแล้ว บางส่วนจึงอพยพกลับ และเมื่อถึงวันครบรอบที่ได้อพยพไป ก็ได้จัดธูปเทียนสักการะ พร้อมเครื่องอุปโภคบริโภคดังกล่าวใส่ สะเพา ( อ่านว่า “ สะ – เปา หมายถึง สำเภาหรือกระทง ) ล่องตามลำน้ำ เพื่อระลึกถึงญาติที่มีอยู่ในเมืองหงสาวดี ซึ่งการลอยกระทงดังกล่าว จะทำในวันยี่เพง คือ เพ็ญเดือนสิบสอง เรียกกันว่า การลอยโขมด แต่มิได้ทำทั่วไปในล้านนา ส่วนใหญ่เทศกาลยี่เพงนี้ ชาวล้านนาจะมีพิธีตั้งธัมม์หลวง หรือการเทศน์คัมภีร์ขนาดยาวอย่างเทศน์มหาชาติ และมีการจุดประทีปโคมไฟอย่างกว้างขวางมากกว่า (การลอยกระทง ที่ทางโบราณล้านนาเรียกว่า ลอยโขมดนี้ คำว่า “ โขมด อ่านว่า ขะ-โหมด เป็นชื่อผีป่า ชอบออกหากินกลางคืน และมีไฟพะเหนียงเห็นเป็นระยะๆ คล้ายผีกระสือ ดังนั้น จึงเรียกเอาตามลักษณะกระทง ที่จุดเทียนลอยในน้ำ เห็นเงาสะท้อนวับๆ แวมๆ คล้ายผีโขมดว่า ลอยโขมด ดังกล่าว)
			<br>
			<br>
			<span class="myfont_kanit text-center"><b>เรื่องที่ห้า กล่าวกันว่าในประเทศจีนสมัยก่อน</b></span>
			<br><br>
			ทางตอนเหนือ เมื่อถึงหน้าน้ำ น้ำจะท่วมเสมอ บางปีน้ำท่วมจนชาวบ้านตายนับเป็นแสนๆ และหาศพไม่ได้ก็มี ราษฎรจึงจัดกระทงใส่อาหารลอยน้ำไป เพื่อเซ่นไหว้ผีเหล่านั้นเป็นงานประจำปี ส่วนที่ลอยในตอนกลางคืน ท่านสันนิษฐานว่า อาจจะต้องการความขรึม และขมุกขมัวให้เห็นขลัง เพราะเป็นเรื่องเกี่ยวกับผีๆสางๆ และผีก็ไม่ชอบปรากฏตัวในตอนกลางวัน การจุดเทียนก็เพราะหนทางไปเมืองผีมันมืด จึงต้องจุดให้แสงสว่าง เพื่อให้ผีกลับไปสะดวก ในภาษาจีนเรียกการลอยกระทงว่า ปล่อยโคมน้ำ (ปั่งจุ๊ยเต็ง) ซึ่งตรงกับของไทยว่า ลอยโคม จากเรื่องข้างต้น เราจะเห็นได้ว่า การลอยกระทง ส่วนใหญ่จะเป็นการแสดงความกตัญญู ระลึกถึงผู้มีพระคุณต่อมนุษย์ เช่น พระพุทธเจ้า เทพเจ้า พระแม่คงคา และบรรพชน เป็นต้น และแสดงความกตเวที (ตอบแทนคุณ) ด้วยการเคารพบูชาด้วยเครื่องสักการะต่างๆ โดยเฉพาะการบูชาพระพุทธเจ้า หรือรอยพระพุทธบาท ถือได้ว่าเป็นคติธรรมอย่างหนึ่ง ที่บอกเป็นนัยให้พุทธศาสนิกชน ได้เจริญรอยตามพระบาทของพระพุทธองค์ ซึ่งเป็นสัญลักษณ์แห่งความดีงามทั้งปวงนั่นเอง
			<br>
			<br>
			<div align="center"><img src="~/css/header14_6.jpg" class="img-responsive img-rounded" width="100%"></div>
			<br>
			ประเพณีลอยกระทง นอกจากจะเป็นประเพณีที่มีคุณค่า ในเรื่องการแสดงออกถึงความกตัญญูกตเวที ต่อผู้มีพระคุณดังที่กล่าวมาแล้ว ประเพณีนี้ยังมีคุณค่าต่อครอบครัว ชุมชน สังคม และศาสานาด้วย เช่น ทำให้สมาชิกในครอบครัวได้ใช้เวลาร่วมกัน ทำให้ชุมชนได้ร่วมมือร่วมใจกันจัดงาน หรือในบางท้องที่ที่มีการทำบุญ ก็ถือว่ามีส่วนช่วยสืบทอดพระศาสนา และในหลายๆ แห่งก็ถือเป็นโอกาสดีในการรณรงค์อนุรักษ์สิ่งแวดล้อมในแม่น้ำลำคลองไปด้วย
		<p></p>
	<hr>
	<br>


    <a class="gotopbtn" href="#"> <i class="fa fa-arrow-up" aria-hidden="true"></i> </a>

    
</body>