@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/css/all.min.css">

    <style>
		.center {
		  display: block;
		  margin-left: auto;
		  margin-right: auto;
		  width: 50%;
		}

        .boxbox{
			margin-left: 100px;
			margin-right: 100px;
		}
		.picpic center{
			width: 700px;
			height: 500px;
        }

        html {
            scroll-behavior: smooth;
        }

		.pp{
			font-size:40px;
		}

        h1 {
          text-align: center;
        }

        .gotopbtn {
            position: fixed;
            width: 50px;
            height: 50px;
            background: #27ae60;
            bottom: 60px;
            right: 50px;

            text-decoration: none;
            text-align: center;
            line-height: 50px;
            color: white;
            font-size: 22px;
        }

        .well {
          min-height: 20px;
          padding: 19px;
          margin-bottom: 20px;
          background-color: #f5f5f5;
          border: 1px solid #e3e3e3;
          border-radius: 4px;
          -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
        }

        .img-rounded {
          border-radius: 30px;
        }

		pagination {
		  display: inline-block;
		  padding-left: 0;
		  margin: 20px 0;
		  border-radius: 4px;
		}
		.pagination > li {
		  display: inline;
		}
		.pagination > li > a,
		.pagination > li > span {
		  position: relative;
		  float: left;
		  padding: 6px 12px;
		  margin-left: -1px;
		  line-height: 1.42857143;
		  color: #337ab7;
		  text-decoration: none;
		  background-color: #fff;
		  border: 1px solid #ddd;
		}
		.pagination > li:first-child > a,
		.pagination > li:first-child > span {
		  margin-left: 0;
		  border-top-left-radius: 4px;
		  border-bottom-left-radius: 4px;
		}
		.pagination > li:last-child > a,
		.pagination > li:last-child > span {
		  border-top-right-radius: 4px;
		  border-bottom-right-radius: 4px;
		}
		.pagination > li > a:hover,
		.pagination > li > span:hover,
		.pagination > li > a:focus,
		.pagination > li > span:focus {
		  color: #23527c;
		  background-color: #eee;
		  border-color: #ddd;
		}
		.pagination > .active > a,
		.pagination > .active > span,
		.pagination > .active > a:hover,
		.pagination > .active > span:hover,
		.pagination > .active > a:focus,
		.pagination > .active > span:focus {
		  z-index: 2;
		  color: #fff;
		  cursor: default;
		  background-color: #337ab7;
		  border-color: #337ab7;
		}
		.pagination > .disabled > span,
		.pagination > .disabled > span:hover,
		.pagination > .disabled > span:focus,
		.pagination > .disabled > a,
		.pagination > .disabled > a:hover,
		.pagination > .disabled > a:focus {
		  color: #777;
		  cursor: not-allowed;
		  background-color: #fff;
		  border-color: #ddd;
		}
		.pagination-lg > li > a,
		.pagination-lg > li > span {
		  padding: 10px 16px;
		  font-size: 18px;
		}
		.pagination-lg > li:first-child > a,
		.pagination-lg > li:first-child > span {
		  border-top-left-radius: 6px;
		  border-bottom-left-radius: 6px;
		}
		.pagination-lg > li:last-child > a,
		.pagination-lg > li:last-child > span {
		  border-top-right-radius: 6px;
		  border-bottom-right-radius: 6px;
		}
		.pagination-sm > li > a,
		.pagination-sm > li > span {
		  padding: 5px 10px;
		  font-size: 12px;
		}
		.pagination-sm > li:first-child > a,
		.pagination-sm > li:first-child > span {
		  border-top-left-radius: 3px;
		  border-bottom-left-radius: 3px;
		}
		.pagination-sm > li:last-child > a,
		.pagination-sm > li:last-child > span {
		  border-top-right-radius: 3px;
		  border-bottom-right-radius: 3px;
		}



    </style>

</head>
<body>
	<div style="margin-top:50px"> </div>
	<div class="boxbox">

	<div style="margin-top:50px"> </div>
	<h3 class="myfont-Srb" align="center">ประเพณีสารทไทย</h3>
	<p class="myfont-Srb30" align="center">แรม ๑๕ ค่ำ เดือนสิบ</p>

	<p align="center"><img src="~/css/header13.jpg" class="img-responsive img-rounded picpic center" width="100%"></p>
		
		<p>
			<b>ความหมายของ "สารท"</b>
			<br><br>
			พระยาอนุมานราชธนได้เขียนเล่าในหนังสือเทศกาล และประเพณีไทยว่า คำว่า  "สารท"  เป็นคำอินเดีย หมายถึง "ฤดู" ตรงกับฤดูในภาษาอังกฤษที่เรียกว่า "ออตอม" หรือ ฤดูใบไม้ร่วง ซึ่งจะมีเฉพาะบางเขตของโลกอย่างยุโรป จีน และอินเดียตอนเหนือเท่านั้น ช่วงนั้นเป็นระยะที่พืชพันธุ์ธัญชาติ และผลไม้เริ่มสุกให้พืชผลครั้งแรกในฤดู ดังนั้น ประชาชนจึงรู้สึกยินดี และถือเป็นเทศกาลแห่งความรื่นเริง จึงมักทำพิธีตามความเชื่อและเลี้ยงดูกันอย่างที่เรียกว่า "Seasonal Festival"
			<br><br>
			โดยบางแห่งก็จะมีการนำพืชผลที่เก็บเกี่ยวได้ครั้งแรกที่เรียกว่า "ผลแรกได้" นี้ไปสังเวยหรือบูชาสิ่งศักดิ์สิทธิ์ที่ตนนับถือ เพื่อความเป็นสิริมงคล และแสดงความเคารพที่ท่านช่วยบันดาลให้พืชพันธุ์ธัญหารอุดมสมบูรณ์จนเก็บเกี่ยวได้ เช่น พิธีปงคัล ในอินเดียตอนใต้ ที่มีพิธีต้มข้าวกับน้ำนมทำเป็นขนม เรียกว่า ข้าวทิพย์ข้าวปายาสถวายพระคเณศ เป็นต้น
			<br><br>
			สำหรับในพจนานุกรมไทย สารท มีความหมายว่า เทศกาลทำบุญในวันสิ้นเดือน 10 โดยนำพืชพรรณธัญญาหารแรกเก็บเกี่ยวมาปรุงเป็นข้าวทิพย์ และข้าวมธุปายาสถวายพระสงฆ์ จะตรงกับวันแรม 15 ค่ำ เดือน 10 ของทุกปี ซึ่งมักจะตกราวๆ ปลายเดือนกันยายนถึงเดือนตุลาคม
		</p>
		<br>
		<p>
			<b>ต้นกำเนิดของ "สารทไทย"</b>
			<br><br>
			  ในประเทศไทย การทำบุญวันสารทมีมาตั้งแต่สมัยสุโขทัย ตามที่ปรากฏหลักฐานในหนังสือนางนพมาศ เนื่องจากศาสนาพราหมณ์แพร่เข้ามาในประเทศไทย คนไทยจึงรับประเพณีวันสารทมาจากศาสนาพราหมณ์ด้วย ดังปรากฏหลักฐานในหนังสือพระราชพิธีสิบสองเดือน ซึ่งเป็นพระราชนิพนธ์ในพระบาทสมเด็จพระจุลจอมเกล้าเจ้าอยู่หัว
		</p>
		<br>
		<p>
			<b>ความสำคัญวันสารทไทย</b><br><br>
			เป็นความเชื่อของพุทธศาสนิกชนชาวนครศรีธรรมราช ที่เชื่อว่าบรรพบุรุษอันได้แก่ ปู่ย่า ตายาย และญาติพี่น้องที่ล่วงลับไปแล้ว หากทำความชั่วจะตกนรกกลายเป็นเปรต ต้องทนทุกข์ทรมานในอเวจี ต้องอาศัยผลบุญที่ลูกหลานอุทิศส่วนกุศลให้แต่ละปีมายังชีพ ดังนั้นในวันแรม ๑ ค่ำเดือนสิบ คนบาปทั้งหลายที่เรียกว่าเปรตจึงถูกปล่อยตัวกลับมายังโลกมนุษย์เพื่อมาขอส่วนบุญจากลูกหลานญาติพี่น้อง และจะกลับไปนรกในวันแรม ๑๕ ค่ำ เดือนสิบ ในโอกาสนี้เองลูกหลานและผู้ยังมีชีวิตอยู่จึงนำอาหารไปทำบุญที่วัด เพื่ออุทิศส่วนกุศลให้แก่ผู้ที่ล่วงลับไปแล้ว เป็นการแสดงความกตัญญูกตเวที
		</p>
		<br>
			<p align="center"><img src="~/css/header13_2.jpg" class="img-responsive img-rounded picpic center" width="100%"></p>
		<br>
		<p>
			<b>ขนมประจำวันสารทไทย</b>
			<br><br>
			กระยาสารท เป็นขนมประจำวันสารทในทุกท้องถิ่นของประเทศไทย ด้วยมีความเชื่อว่า ถ้าไม่ได้ใส่บาตรขนมกระยาสารทในวันสารทไทยแล้ว ญาติผู้ล่วงลับก็จะไม่ได้ส่วนบุญส่วนกุศลที่กระทำในวันนั้น ขนมกระยาสารทมีส่วนประกอบ คือ ข้าวตอก ข้าวเม่า ถั่ว งา และน้ำตาล นำทั้งหมดมากวนเข้าด้วยกัน เมื่อสุกแล้วจึงนำมาปั้นเป็นก้อนกลม หรือจะตัดเป็นแผ่นก็ได้ 
			<br><br>
			สำหรับการกวนกระยาสารทนั้น ต้องใช้เวลาและแรงคนหลายๆ คนจึงจะทำเสร็จได้ ดังนั้นการกวนกระยาสารทจึงต้องอาศัยความสามัคคีกันของคนในครอบครัว เมื่อกวนกระยาสารทเสร็จแล้ว ชาวบ้านก็จะนำไปทำบุญและแจกจ่ายให้เพื่อนบ้าน จะเห็นได้ว่าสาระสำคัญของประเพณีวันสารทไทยมิใช่เป็นเพียงเรื่องของขนมที่ใช้ในการทำบุญเท่านั้น หากแต่อยู่ที่กุศโลบายในการสร้างความสามัคคีภายในครอบครัว การแสดงความกตัญญูต่อบรรพบุรุษ และการแสดงน้ำใจไมตรีต่อกันระหว่างเพื่อนบ้านอีกด้วย
			<br><br>
			ข้าวยาคู มีตำนานเล่ามาว่า มีชาวนาพี่น้องสองคน คนโตชื่อว่า มหาการ น้องชื่อ จุลการ มีไร่นากว้างใหญ่ ในฤดูที่ข้าวออกรวง คนน้องเห็นว่า ควรจะนำข้าวนั้นมาทำอาหารถวายพระพุทธเจ้าผู้ทรงนามว่า วิปัสสี แต่พี่ชายไม่เห็นด้วย เพราะจะต้องเสียข้าวในนาจำนวนไม่น้อย น้องชายจึงแบ่งไร่นา และนำเมล็ดข้าวในสวนไร่นาของตนไปทำอาหารที่เรียกว่า ข้าวยาคู ไปถวายพระวิปัสสี และอธิษฐานขอให้เกิดในบวรพระพุทธศาสนา ซึ่งภายหลังจุลการได้เกิดเป็นพระอัญญาโกณฑัญญะ สำหรับข้าวยาคูนี้จุลการได้ข้าวสาลีที่กำลังท้องฉีกรวงข้าวอ่อนออกมา แล้วต้มในน้ำนมสด เจือด้วยเนยใส น้ำผึ้งและน้ำตาลกรวด 
			<br><br>
			ข้าวมธุปายาส คือ ข้าวที่หุงเจือด้วยน้ำนม และน้ำผึ้ง มีตำนานเล่าว่า นางสุชาดา ลูกสาวเศรษฐีปรุงขึ้นเป็นอาหารไปแก้บน และได้เห็นพระพุทธเจ้า เมื่อเสวยพระชาติเป็นพระโพธิสัตว์ประทับใต้ต้นนิโครธ (ต้นไทร ) ก็เข้าใจว่า พระองค์เป็นเทพยดา จึงนำอาหารนั้นไปถวาย พระโพธิสัตว์จึงได้เสวยข้าวมธุปายาสเป็นอาหารมื้อสุดท้ายก่อนจะตรัสรู้เป็นพระพุทธเจ้า จึงมีความเชื่อกันว่า ข้าวมธุปายาส เป็นอาหารวิเศษ ผู้ใดมีวาสนาได้กินแล้ว จะมีร่างกายแข็งแรง ปราศจากโรคภัย อุดมด้วยสติปัญญา และเป็นสิริมงคลแก่ชีวิต 
			<br><br>
			ข้าวทิพย์ หมายถึง อาหารอันโอชะ ที่มีเครื่องปรุงถึง 108 ชนิด (หากทำแบบโบราณ) แต่โดยหลักๆ ก็มี 9 อย่าง คือ น้ำนมข้าว เนย น้ำอ้อย น้ำผึ้ง น้ำตาล นม ถั่ว งาและข้าวเม่า ซึ่งการกวนแต่ละครั้งก็ต้องประกอบพิธีกรรมหลายอย่าง เช่น ต้อง ใช้สาวพรหมจารีกวน ฟืนที่ใช้ต้องเป็นไม้ชัยพฤกษ์หรือไม้พุทราเท่านั้น ส่วนไฟก็ต้องเกิดจากแดดผ่านแว่นขยายที่เรียกว่า "สุริยกานต์" เป็นต้น 
		</p>
		<br>
		<p>
			<b>กิจกรรมในวันสารทไทย</b>
			<br><br>
			 กิจกรรมหลักๆ ของวันสารทไทย คือ การนำข้าวปลาอาหาร และที่ขาดไม่ได้ คือ ขนมกระยาสารท ไปทำบุญตักบาตรที่วัด โดยการตักบาตรมีลักษณะที่แตกต่างกันไปตามท้องถิ่น เช่น ตักบาตรน้ำผึ้งที่มีเฉพาะชาวไทยมอญ การทำบุญตักบาตรในวันสารทไทยนั้น มีความเชื่อว่า เป็นการอุทิศส่วนกุศลให้แก่ผู้ที่ล่วงลับไปแล้ว นอกจากนั้นยังมีการฟังธรรมเทศนา ถือศีล ปล่อยนกปล่อยปลา
		</p>
		<br>
		<p>
			<b>พิธีกรรม</b>
			<br><br>
			 พิธีกรรมของประเพณีสารทเดือนสิบ มีดังนี้
			<br><br>
			1. การจัดหฺมฺรับ เริ่มในวันแรม ๑๓ ค่ำ ชาวบ้านจะเตรียมซื้ออาหารแห้ง พืชผักที่เก็บไว้ได้นาน ข้าวของเครื่องใช้ในชีวิตประจำวัน และขนมที่เป็นสัญลักษณ์ของสารทเดือนสิบ จัดเตรียมใส่หฺมฺรับ
			<br>
				การจัดหฺมฺรับ คือ การบรรจุและประดับด้วยสิ่งของ อาหาร ขนมเดือนสิบลงในภาชนะที่เตรียมไว้ เช่น ถาด กาละมัง เข่ง กระเชอ เป็นต้น ชั้นล่างสุดบรรจุอาหารแห้ง ชั้นสองเป็นพืชผักที่เก็บไว้นาน ชั้นสามเป็นของใช้ในชีวิตประจำวัน ขั้นบนสุด ประดับขนมสัญลักษณ์เดือนสิบ ได้แก่ ขนมพอง ขนมลา ขนมบ้า ขนมดีซำ ขนมแต่ละชนิดมีความหมายดังนี้
				<br><br>
				ขนมลา  เป็นเสมือนเสื้อผ้าที่ให้บรรพบุรุษใช้นุ่งห่ม<br>
				ขนมพอง  เป็นเสมือนแพที่ให้บรรพบุรุษข้ามห้วงมหรรณพ<br>
				ขนมกง  เป็นเสมือนเครื่องประดับ ใช้ตกแต่งร่างกาย<br>
				ขนมบ้า  เป็นเสมือนเมล็ดสะบ้า ไว้เล่นในวันตรุษสงกรานต์<br>
				ขนมดีซำ  เป็นเสมือนเงินตรา ไว้ให้ใช้สอย<br>
				<br>
			2. การยกหฺมฺรับ ในวันแรม ๑๔ หรือ ๑๕ ค่ำ ชาวบ้านจะยกหฺมฺรับที่จัดเตรียมไว้ไปวัด และนำภัตตาหารไปถวายพระด้วย โดยเลือกไปวัดที่อยู่ใกล้บ้านหรือวัดที่บรรพบุรุษของตนนิยมไป<br>
				<br>
			3. การฉลองหฺมฺรับและบังสุกุล เมื่อนำหมฺรับไปวัดแล้ว จะมีการฉลองหฺมฺรับ และทำบุญเลี้ยงพระเสร็จแล้วจึงมีการบังสุกุล การทำบุญวันนี้เป็นการส่งบรรพบุรุษและญาติพี่น้องให้กลับไปยังเมืองนรก<br>
			<br>
			4. การตั้งเปรต เสร็จจากการฉลองหมฺรับและถวายภัตตาหารแล้ว ชาวบ้านจะนำขนมอีกส่วนหนึ่งไปวางไว้ตามบริเวณลานวัด ข้างกำแพงวัด โคนไม้ใหญ่ เรียกว่า ตั้งเปรต เพื่อแผ่ส่วนกุศลเป็นทานแก่ผู้ล่วงลับที่ไม่มีญาติ หรือญาติไม่มาร่วมทำบุญให้ การชิงเปรตจะทำตอนตั้งเปรตเสร็จแล้ว เพราะเชื่อว่าถ้าหากใครได้กินของเหลือจากการเซ่นไหว้บรรพบุรุษ จะได้รับกุศลเป็นสิริมงคลแก่ตนเอง
		</p>
		
		<br>
		<p>
			<b>ประเพณีสารทไทยในภาคต่างๆ</b>
			<br><br>
			 การทำบุญวันสารทนี้มีในหลายภูมิภาค โดยมีชื่อเรียกที่แตกต่างกันดังนี้<br>
					ภาคเหนือ เรียก "งานทานสลากภัต" หรือ "ตานก๋วยสลาก"<br>
					ภาคอีสาน เรียก "ทำบุญข้าวสาก"<br>
					ภาคกลาง เรียกว่า "สารทไทย"<br>
					ภาคใต้ เรียก "งานบุญเดือนสิบ" หรือ "ประเพณีชิงเปรต"  <br><br>
					ถึงแม้ว่าการทำบุญเดือนสิบในแต่ละท้องที่จะมีชื่อเรียกที่แตกต่างกัน แต่ก็มีจุดประสงค์เดียวกัน คือ การทำบุญกลางปี เพื่อให้เกิดความเป็นสิริมงคลแก่ตนเองที่มีชีวิตผ่านพ้นเวลามาได้ถึงกึ่งปี และเป็นการทำบุญอุทิศส่วนกุศลให้แก่บรรพบุรุษผู้ล่วงลับไปแล้ว แต่อาจมีวิธีปฏิบัติที่แตกต่างกันบ้าง ดังนี้<br><br>
					
			<b>ภาคกลาง</b>
					<br><br>
					ประเพณีวันสารทไทยถือว่าเป็นประเพณีของภาคกลาง เมื่อใกล้ถึงวันสารท ชาวบ้านทุกบ้านจะกวนกระยาสารท เพื่อนำไปตักบาตร และแจกจ่ายให้กับเพื่อนบ้าน ในวันสารทชาวบ้านจะจัดแจงข้าวปลาอาหาร ไปทำบุญกรวดน้ำที่วัด เพื่ออุทิศส่วนกุศลให้ผู้ญาติมิตรผู้ล่วงลับ และถือศีล ฟังธรรมเทศนา<br>
					<br>
					บางท้องถิ่นจะทำขนมสำหรับบูชาสิ่งศักดิ์สิทธิ์ แม่พระโพสพ ผีนา ผีไร่ด้วย เมื่อถวายพระสงฆ์เสร็จแล้วก็นำไปบูชาตามไร่นา โดยวางตามกิ่งไม้ต้นไม้ หรือที่จัดไว้เพื่อการนั้นโดยเฉพาะ<br><br>

			<b>ภาคเหนือ</b>
					<br><br>
					พิธีสารทไทยในภาคเหนือ มีชื่อเรียกว่า "ตานก๋วยสลาก" หรือ ทานสลากภัต (ชื่อในภาคกลาง) และมีชื่ออื่นๆ อีกตามแต่ในท้องถิ่น เช่น ตานสลาก, กิ๋นข้าวสลาก, กิ๋นก๋วยสลาก หรือ กิ๋นสลาก คำว่า "ก๋วย" แปลว่า "ตะกร้า" หรือ "ชะลอม" ส่วน "สลากภัต" หมายถึงอาหารที่ถวายพระตามสลาก นับเข้าเป็นเครื่องสังฆทาน
					<br>
					<br>
					ประเพณีตานก๋วยสลาก เป็นประเพณีที่มีมาตั้งแต่ครั้งพุทธกาล มีตำนานเล่าว่า มีนางยักษิณีตนหนึ่งมักจะเบียดเบียน ผู้คนอยู่เสมอ ครั้นได้ฟังธรรมคำสอนของพระพุทธเจ้าแล้ว นางก็บังเกิดความเลื่อมใสศรัทธา นิสัยใจคอที่โหดร้ายก็กลับเป็นผู้เอื้ออารี จนผู้คนต่างพากันซาบซึ้งนางยักษิณีตนนั้น ถึงกับนำสิ่งของมาแบ่งปันให้ แต่เนื่องจากสิ่งของที่ได้รับมีจำนวนมาก นางยักษิณีจึงนำสิ่งของเหล่านั้นมาทำเป็นสลากภัต แล้วให้พระสงฆ์-สามเณร จับสลากด้วยหลักอุปโลกนกรรม คือสิ่งของที่ถวาย มีทั้งของของมีราคามาก และมีราคาน้อยแตกต่างกันไปตามแต่โชคของผู้ได้รับ การถวายแบบจับสลากของนางยักษิณีจึงนับเป็นครั้งแรกของประเพณีทำบุญสลากภัตในพุทธศาสนา
					<br>
					<br>
					ประเพณี "ตานก๋วยสลาก" หรือ "สลากภัต" ของชาวล้านนานิยมปฏิบัติกันตั้งแต่เดือน 12 เหนือ ถึงเดือนยี่เหนือ หรือตั้งแต่เดือนกันยายน ถึงเดือนตุลาคมของทุกปี เพราะช่วงนี้ชาวนาจะได้หยุดพัก หลังจากทำนาเสร็จแล้ว ขณะที่พระสงฆ์ก็จำพรรษาอยู่วัดไม่ได้ไปไหน บวกกับในช่วงเวลานี้มีผลไม้สุก เช่น ลำไย มะไฟ ส้มโอ เป็นต้น และยังเป็นการสงเคราะห์คนยากจน เช่น ชาวนาที่ฐานะไม่ค่อยดี ไม่มีข้าวเหลือพอก่อนฤดูเก็บเกี่ยว จึงนับว่าเป็นการให้สังฆทาน ได้กุศลแรง
					<br>
					<br>
					ก่อนจะถึงวันตานก๋วยสลาก 1 วัน จะเรียกว่า "วันดา" หรือ "วันสุกดิบ" เป็นวันที่ชาวบ้านได้จัดเตรียมข้าวของ ไม่ว่าจะเป็นของกิน หรือของใช้ต่างๆ สำหรับที่จะนำมาจัดดาใส่ก๋วยสลาก เช่น เกลือ ข้าวสาร หอม กะปิ ชิ้นปิ้ง เนื้อเค็ม       จิ้นแห้ง แคบหมู เมี่ยง บุหรี่ ไม้ขีดไฟ เทียนไข สีย้อมผ้า ผลไม้ต่างๆ เป็นต้น
					<br>
					<br>
					วันนี้มักจะมีญาติสนิทมิตรสหายที่อยู่ต่างบ้านจะมาร่วมไฮ่ฮอม (ทำบุญ) และมาร่วมจัดดาสลากด้วย ซึ่งถือเป็นประเพณีที่จะได้ทำบุญร่วมกัน ผู้ชายจะเป็นคนสานก๋วยสลาก (ตะกร้า) สำหรับที่จะบรรจุใส่ของกินของใช้ต่างๆ ก๋วยจะกรุด้วยใบตอง หรือตองจี๋กุ๊ก เมื่อรวบปากก๋วยมัดเสร็จเรียบร้อยแล้วก็จะมีไม้ไผ่เหลาเป็นก้านเล็กๆ สำหรับเสียบสตางค์,กล่องไม้ขีดไฟ,บุหรี่ เพื่อทำเป็นยอด ก๋วยสลากจะมากน้อยบ้าง ตามแก่กำลังศรัทธาและฐานะ แต่ในปัจจุบันไม่ค่อยมีคนสาน "ก๋วย" เป็น จึงใช้ถุงพลาสติกบรรจุสิ่งของต่างๆ แทน
					<br>
					<br>
					<b>ก๋วยสลากมีอยู่ 2 ลักษณะ คือ</b>
					<br>
					<br>
					1. ก๋วยน้อย เป็นก๋วยสลากสำหรับที่จะถวายทานไปให้กับผู้ที่ล่วงลับ ทั้งญาติพี่น้อง เพื่อนสนิทมิตรสหายหรือแม้แต่สัตว์เลี้ยงที่เราเคยรัก และมีคุณต่อเราเมื่อครั้งยังมีชีวิตเช่น ช้าง ม้า วัว ควายและสุนัข เป็นต้น หรือถ้าไม่รู้ว่าจะถวายทานไปให้ใครก็ถวายทานเอาไว้ภายหน้า
					<br>
					<br>
					2. ก๋วยใหญ่ เป็นก๋วยที่จัดทำขึ้นใหญ่เป็นพิเศษซึ่งจะบรรจุข้าวของได้มากขึ้น ถวายเป็นมหากุศลสำหรับคนที่มีกำลังศรัทธา และฐานะดี เป็นปัจจัยนับว่าได้กุศลแรง 
					<br>
					<br>
					สลากที่มักจัดทำขึ้นเป็นพิเศษอีกอย่างหนึ่งก็คือ "สลากโชค" มักจะเป็นสลากของผู้ที่มีฐานะดีระดับเศรษฐี (บางคน) ที่ต้องการทำบุญอุทิศส่วนกุศลไปให้กับบิดามารดา หรือญาติผู้ใหญ่ที่ได้ล่วงลับอันเป็นการแสดงออกถึงความกตัญญูรู้คุณคน มักทำเป็นต้นสลากที่สูงใหญ่สำหรับที่จะนำเอาวัตถุสิ่งของเครื่องใช้ต่างๆผูกมัดติดกับต้นสลาก เช่น ผ้าห่ม ที่นอน หมอน หม้อนึ่ง ไหข้าว หม้อแกง ถ้วย ชาม ช้อน ร่ม เครื่องนุ่งห่ม อาหาร แห้งต่างๆ และเงินที่เป็นธนบัตรชนิดต่างๆ ต้นสลากจะมีการประดับตกแต่งให้สวยงามกว่าสลากธรรมดา 
					<br>
					<br>
					ก่อนที่จะนำเอาก๋วยสลากไปรวมกันที่วัด ต้องเขียนเส้นสลากเสียก่อน โดยเส้นสลากนี้ผู้เป็นเจ้าของก๋วยสลาก จะเอาใบลานมาตัดเป็นเส้นยาวๆ  ความกว้าง 2 - 3 นิ้ว แล้วจารึกชื่อของเจ้าของไว้ บอกว่าอุทิศส่วนกุศลให้ใครบ้าง แต่ปัจจุบันจะเขียนลงบนแผ่นกระดาษ คำจารึกในเส้นนั้นมักจะเขียน ดังนี้
					<br>
					<br>
					เจติ ตานํ สลากข้าวซองนี้หมายมีผู้ข้าชื่อ……………..ของทานไว้กับตนกับตัวภายหน้า ขอหื้อสุขสามประการ มีนิพพานเป๋นยอดแด่เน้อ………………………ฯ
					<br>
					<br>
					เมื่อนำเอาก๋วยสลากไปรวมกันไว้ที่วัดแล้ว เส้นสลากจะถูกนำไปกองรวมกันไว้ในวิหารหน้าพระประธาน จากนั้นทายกผู้เป็นหัวหน้า ก็จะนำเบอร์มาติดที่สำรับกับข้าวของเจ้าภาพแต่ละราย แล้วเขียนหมายเลข เมื่อเสร็จพิธีกรรมทางศาสนาแล้ว เส้นสลากจะถูกนำมาแบ่งสันปันส่วนกันไปโดยการจับสลากในหมู่ของพระสงฆ์ที่ได้นิมนต์มาจากวัดต่างๆ รูปละ 5 เส้น 10 เส้นบ้างแล้วแต่กรณี ส่วนหนึ่งจะถูกแบ่งให้วัดที่เป็นเจ้าภาพ ก่อนจะถึงเวลาเพล พระสงฆ์ก็จะนำเอาเส้นสลากไปอ่าน โดยเริ่มจากเจ้าอาวาส พระจับได้เบอร์อะไรของเจ้าภาพคนใด ก็ไปฉันสำรับกับข้าวที่เจ้าภาพนำมา ก่อนที่จะมีการเส้นสลาก (จับสลาก) ก็จะมีการฟังเทศน์อย่างน้อย 1 กัณฑ์ ต่อจากนั้นก็จะมีการยกของประเคนตามสลาก เมื่อพระฉันเสร็จแล้วก็จะอนุโมทนา และให้ศีล ให้พรเจ้าภาพก็กรวดน้ำอุทิศส่วนกุศลให้กับญาติผู้ที่ล่วงลับไปแล้วเป็นอันเสร็จพิธี 
					<br>
					<br>
					งานสารทไทยภาคเหนือที่เป็นเอกลักษณ์อีกแห่งคือ "งานสารทไทยกล้วยไข่เมืองกำแพง" ของจังหวัดกำแพงเพชรซึ่งขึ้นชื่อเรื่องกล้วยไข่ งานนี้เริ่มจัดขึ้นตั้งแต่ปี พ.ศ.2524 และจัดต่อเนื่องมาเรื่อย เนื่องจากเห็นว่า กล้วยไข่จะออกผลมากในช่วงเดือนกันยายนพอดี และสามารถรับประทานเคียงกับกระยาสารทซึ่งเป็นขนมประจำวันสารทไทยได้เป็นอย่างดี จึงเป็นการประชาสัมพันธ์จังหวัดไปในตัว
					<br>
					<br>
			<b>ภาคใต้</b>
					<br>
					<br>
					มีประเพณีทำบุญเพื่ออุทิศส่วนกุศลให้บุคคลที่ล่วงลับไปแล้ว ในเดือน 10 เป็นสองวาระคือ วันแรม 1 ค่ำ เดือน 10 ครั้งหนึ่ง และวันแรม 15 ค่ำ เดือน 10 อีกครั้งหนึ่ง โดยถือคติว่า พ่อ แม่ ปู่ ย่า ตายาย และญาติพี่น้องที่ล่วงลับไปแล้ว โดยเฉพาะผู้ที่ต้องตกนรก หรือเรียกว่าเปรตนั้น จะได้รับอนุญาตให้มาพบกับญาติของตนในเมืองมนุษย์ได้ในวันแรม 1 ค่ำ เดือน 10 และกลับไปสู่นรกดังเดิม ในวันแรม 15 ค่ำ เดือน 10 ดังนั้น จึงมีการทำบุญในสองวาระ ดังกล่าวนี้ แต่ส่วนใหญ่ทำวันแรม 15 ค่ำ เดือน 10 เพราะมีความสำคัญ มากกว่า 
		</p>

	<hr>
	<br>


    <a class="gotopbtn" href="#"> <i class="fa fa-arrow-up" aria-hidden="true"></i> </a>
	</div>

    
</body>