@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/css/all.min.css">

    <style>
        html {
            scroll-behavior: smooth;
        }

        .gotopbtn {
            position: fixed;
            width: 50px;
            height: 50px;
            background: #27ae60;
            bottom: 60px;
            right: 50px;

            text-decoration: none;
            text-align: center;
            line-height: 50px;
            color: white;
            font-size: 22px;
        }
    </style>

</head>
<body>


    <h1>
        <strong>พระพุทธศานา</strong>
    </h1>

    <div>
        	<p><br>
        	  พระพุทธศาสนา เป็น ศาสนาแห่งความรู้ เพราะเกิดจากพระปัญญาตรัสรู้ของพระพุทธเจ้าผู้ทรงเป็นพระบรมศาสดาองค์สำคัญยิ่งพระองค์หนึ่งของโลก พระพุทธเจ้านั้นเป็นพระโอรสของพระเจ้าสุทโธทนะ และพระนางมหามายา มีประวัติความเป็นมาปรากฎตาม หลักฐานทางประวัติศาสตร์อย่างชัดแจ้ง พระประวัติของพระพุทธองค์นั้นพึงทราบโดยสังเขปดังต่อไปนี้     </p>
        	<p>&nbsp;</p>
        	<p><strong>ชาติภูมิ </strong>ทางภาคเหนือสุดของชมพูทวีป (อินเดียโบราณ) มีรัฐที่อุดมสมบูรณ์รัฐหนึ่งชื่อ"สักกะ"หรือ"สักกชนบท"ตั้งอยู่ในลุ่มน้ำโรหิณี ซึ่งปัจจุบันนี้อยู่ในประเทศเนปาล กรุงกบิลพัสดุ์เป็นเมืองหลวงของรัฐนี้ กษัตริย์ศากยวงศ์ทรงปกครองรัฐนี้สืบต่อกันมาโดยลำดับ จนถึงรัชสมัยของพระเจ้าสีหนุ ซึ่งมีพระนางกัญจนาเป็นพระอัครมเหสี ต่อมา พระเจ้าสีหนุได้ทรงจัดให้พระราชโอรสองค์ใหญ่พระนามว่า สุทโธทนะ ได้อภิเษกสมรสกับพระนางมหามายา พระราชธิดาของพระเจ้าอัญชนะ และพระนางยโสธราอัครมเหสีแห่งกรุงเทวะทหะ โดยทรงประกอบพระราชพิธีขึ้น ณ อโศกอุทยาน กรุงกบิลพัสดุ์ เมื่อพระเจ้าสีหนุสวรรคตแล้ว พระเจ้าสุทโธทนะก็ได้เสวยราชสมบัติสืบพระวงศ์ต่อมา        	  </p>
        	<p>&nbsp;</p>
        	<p><strong>ประสูติ </strong>เมื่อก่อนพุทธศักราช ๘๑ ปี พระนางมหามายา อัครมเหสีของพระเจ้าสุทโธทนะ แห่งกรุงกบิลพัสดุ์ทรงพระสุบินว่า ลูกช้างเผือกเชือกหนึ่ง เข้าสู่พระครรภ์ของพระนาง หลังจากนั้นไม่นานนัก พระนางก็ทรงพระครรภ์ เมื่อพระครรภ์แก่จวนครบทศมาสแล้ว พระนางมหามายาทรงมีพระประสงค์เสด็จกลับไปประทับที่กรุงเทวะทหะ ชั่วคราว เพื่อประสูติพระโอรสในราชตระกูลของพระนางตามประเพณี </p>
        	<p>ถึงวันเพ็ญเดือนวิสาขะ (ขึ้น ๑๕ ค่ำ เดือน ๖ ก่อนพุทธศักราช ๘๐ ปี) พระนางก็เสด็จออกจากกรุงกบิลพัสดุ์พร้อมด้วยราชบริวารแต่เวลาเช้าพอใกล้ เที่ยงวันก็เสด็จถึงลุมพินีวันราชอุทยานอันตั้งอยู่กึ่งทางระหว่างกรุงกบิลพัสดุ์กับกรุงเทวะทหะ จึงเสด็จแวะเข้าไปพักผ่อนที่ใต้ต้นสาละ ทันทีนั้นพระนางก็ประชวรพระครรภ์และประสูติพระโอรส (พระพุทธเจ้า) </p>
        	<p>ความทราบถึงพระเจ้าสุทโธทนะ ก็โปรดให้รับพระนางพร้อมด้วยพระโอรสเสด็จกลับสู่กรุงกบิลพัสดุ์ หลังจากประสูติแล้ว ๕ วัน ได้มีการประกอบพระราชพิธีมงคลเฉลิมพระนามพระราชโอรสว่า "สิทธัตถกุมาร" ในพระราชพิธีนี้ได้เชิญพราหมณ์ ๑๐๘ คน เข้ามาฉันอาหารในพระราชวัง และให้มีการทำนายพระลักษณะของเจ้าชายสิทธัตถะตามธรรมเนียมด้วย </p>
        	<p>คณะพราหมณ์เหล่านั้น เมื่อตรวจดูพระลักษณะถี่ถ้วนแล้ว ส่วนมากได้ร่วมกันทำนายพระลักษณะว่ามีคติเป็น ๒ อย่าง คือ ถ้าเจ้าชายสิทธัตถะนี้อยู่ครองราชสมบัติก็จักได้เป็นจักรพรรดิ แต่ถ้าเสด็จออกทรงผนวช ก็จักได้เป็นพระพุทธเจ้าผู้เป็นศาสดาเอกของโลก </p>
        	<p>แต่มีพราหมณ์หนุ่มคนหนึ่งในคณะพราหมณ์เหล่านั้น ชื่อ"โกณฑัญญะ"ได้ทำนายพระลักษณะยืนยันว่ามีคติเพียงอย่างเดียว โดยทำนายว่า เจ้าชายสิทธัตถะนี้จะต้องเสด็จออกผนวช และจะต้องได้เป็นพระพุทธเจ้าอย่างแน่นอน        	  </p>
        	<p>&nbsp;</p>
        	<p>ครั้นถึงวันที่ ๗ นับแต่วันประสูติ พระนางมหามายาพระราชชนนีก็เสด็จสวรรคตเจ้าชายสิทธัตถะจึงอยู่ใน ความอภิบาลของพระนางปชาบดีโคตมี ผู้เป็นพระมาตุจฉา(พระน้านาง)ของพระองค์ ซึ่งได้ทรงเป็นพระมเหสีของพระเจ้าสุทโธทนะสืบต่อมา        	  </p>
        	<p>&nbsp;</p>
        	<p><strong>ทรงศึกษาและอภิเษกสมรส</strong> เมื่อเจ้าชายสิทธัตถะทรงเจริญวัยแล้ว ก็ทรงได้รับการศึกษาศิลปวิทยาการต่างๆ ตามแบบกษัตริย์ในสมัยนั้น โดยพระราชบิดาได้ทรงมอบให้ครูวิศวามิตร ผู้มีชื่อเสียงที่สุดในเวลานั้น เป็นผู้รับภาระถวายการศึกษาอบรมเจ้าชายสิทธัตถะทรงมีพระปรีชาเฉลียวฉลาดยิ่ง สามารถจบการศึกษาอบรมแต่เมื่อมีพระชนม์เพียง ๑๕ พรรษา นำความปรีดาปราโมทย์มาสู่พระราชบิดา พระประยูรญาติ พระอาจารย์เป็นอย่างยิ่ง </p>
        	<p>เมื่อพระชนม์ได้ ๑๖ พรรษา ได้ทรงอภิเษกสมรสกับ เจ้าหญิงพิมพา หรือยโสธรา พระราชธิดาพระเจ้าสุปพุทธะ กษัตริย์โกลิยวงศ์แห่งกรุงเทวทหะ พระราชพิธีได้จัดขึ้น ณ กรุงกบิลพัสดุ์ ท่ามกลางพระประยูรญาติทั้ง ๒ ฝ่าย ภายหลังจากการอภิเษกสมรส ได้ทรงดำรงพระยศเป็นรัชทายาท แห่งกรุงกบิลพัสดุ์ พระราชบิดาทรงสร้างปราสาทใหม่ให้ประทับ ๓ หลัง เพื่อทรงสำราญตลอด ๓ ฤดูกาลทรงเพียบพร้อมด้วยโลกิยสุขอยู่จนพระชนมายุได้ ๒๙ พรรษา และพระนางพิมพาพระวรชายาก็ทรงพระครรภ์ในปีนั้น </p>
        	<p>&nbsp;</p>
        	<p><strong>ทรงผนวช</strong> ในปีที่ทรงพระชนมายุได้ ๒๙ พรรษานั้นเอง เจ้าชายสิทธัตถะผู้เป็นรัชทายาทได้เสด็จประพาสพระราชอุทยาน ๔ ครั้ง ได้ทอดพระเนตรเห็น คนแก่ คนเจ็บไข้ คนตาย และสมณะ ตามลำดับ ในการเสด็จประ พาส ๓ ครั้ง พระองค์ทรงสลดพระทัยในความทุกข์ยาก และความไม่เที่ยงแท้ ความผันแปรของชีวิต ในครั้งที่ ๔ อัน เป็นครั้งสุดท้ายนั้นเอง พระองค์ทรงทราบว่าพระนางพิมพา พระวรชายาของพระองค์ได้ประสูติพระโอรส และทรงตัดสินพระทัยเสด็จออกทรงผนวชในคืนวันนั้น โดยทรงม้ากัณฐกะ มีนายฉันนะ เป็นผู้ตามเสด็จบ่ายพระพักตร์สู่แคว้นมคธตอนใต้ </p>
        	<p>พอเวลาใกล้รุ่งก็เสด็จถึงแม่น้ำอโนมาเข้าสู่ฝั่งของแคว้นมัลละพรมแดนแห่งสักกะกับแคว้นมัลละ เสด็จข้ามแม่น้ำอโนมาเข้าสู่ฝั่งของแคว้นมัลละประทับยับยั้งอยู่ที่ฝั่งแม่น้ำนั้น ทรงตัดพระเมาลีของพระองค์ด้วยพระขรรค์ แล้วทรงอธิฐานเพศบรรพชิตทรงผนวชเป็นสมณะ ณ ฝั่งแม่น้ำนั้น แล้วตรัสสั่งนายฉันนะ ให้นำม้ากัณฐกะ และเครื่องทรงกลับกบิลพัสดุ์ นับแต่รุ่งอรุณวันนั้นเป็นต้นมา พระสิทธัตถะก็เสด็จแรมอยู่ที่อนุปิยอัมพวัน แคว้นมัลละ แต่พระองค์เดียวชั่วเวลาราว ๗ วัน</p>
       	<p>&nbsp;</p>
            
            <p>
            <strong>ทรงแสวงหาโมกขธรรม และทรงบำเพ็ญทุกรกิริยา</strong> ต่อมาพระสิทธัตถะได้เสด็จออกจากอนุปิยอัมพวัน แคว้นมัลละ แล้วไปยังที่ต่างๆ จนถึงเขตกรุงราชคฤห์ แคว้นมคธ เพื่อแสวงหาโมกขธรรม (ความพ้นทุกข์) ครั้งเสด็จเข้าไปอบรมศึกษาใน สำนักอาฬารดาบส กาลามโคตร และสำนักอุทกดาบสรามบุตร ทรงเห็นว่าลัทธิของ ๒ สำนักนั้นไม่ใช่ทางพ้นทุกข์ใด จึงทรงอำลาจากสำนักดาบสทั้งสองนั้น เสด็จจารึกแสวงหาโมกขธรรมต่อไปจนถึง ตำบลอุรุเวลาเสนานิคม อันมีแม่น้ำเนรัญชราไหลผ่าน ได้ประทับอยู่ในป่า ณ ตำบลนี้ ทรงเริ่มบำเพ็ญทุกรกิริยา โดยประการต่างๆ อย่างเคร่งครัด แต่ก็ไม่ทรงพบทางพ้นทุกข์ได้ ในเวลานั้น พวกปัญจวัคคีย์ คือ ภิกษุ ๕ รูป อันได้แก่ โกณฑัญญะ วัปปะ ภัททิยะ มหานามะ และอัสสชิ มีความเลื่อมใสในพระสิทธัตถะด้วยเชื่อว่าพระองค์ จนได้สำเร็จ เป็นพระพุทธเจ้า จึงได้พากันมาเฝ้าปฏิบัติพระองค์ด้วยความเคารพ <br>
<br>


     <strong>ตรัสรู้ </strong>นับแต่ปีที่ทรงผนวชถึงปีที่ได้ทรงบำเพ็ญทุกรกิริยาอย่างเคร่งครัดนั้น เป็นเวลา ๖ ปี แล้ว พระสิทธัตถะทรงแน่พระทัยว่า การบำเพ็ญทุกรกิริยานั้นไม่ใช่ทางพ้นทุกข์แน่ และประกอบกับเวลานั้น ท้าวสักกะได้เสด็จมาเฝ้า ทรงดีดพิณ ๓ สายถวายคือ สายหนึ่งตึงเกินไปมักขาด สายหนึ่งหย่อนเกินไปเสียงไม่เพราะ สายหนึ่งพอดี เสียงไพเราะยิ่งทำให้พระสิทธัตถะแน่พระทัยยิ่งขึ้นว่า การทำความเพียรเคร่งครัดเกินไปนั้นไม่ใช่ทางพ้นทุกข์อย่างแน่แท้ พระองค์จึงทรงเลิกบำเพ็ญทุกรกิริยา ทรงหันมาบำเพ็ญเพียรทางใจอันได้แก่ สมถะ (ความสงบ) วิปัสสนา (ปัญญา) โดยทรงเริ่มเสวยพระกระยาหาร ตามปกติ พวกภิกษุปัญจวัคคีย์ทั้ง ๕ เห็นดังนั้น จึงคลายศรัทธาเลิกเฝ้าปฏิบัติ แล้วพากันไปอยู่ป่าอิสิปตนะมฤคทายวัน แขวงเมืองพาราณสี เป็นเหตุให้พระองค์ประทับอยู่แต่พระองค์เดียว ทำให้ได้รับความวิเวกยิ่งขึ้น ทรงเริ่มบำเพ็ญทางใจ ณ ภายใต้ต้นหว้าใหญ่ต้นหนึ่ง <br>
<br>


     ครั้นอยู่ต่อมาถึงวันเพ็ญเดือนวิสาขะ เวลาเช้า พระองค์เสด็จไปประทับที่โคนต้นไทรต้นหนึ่ง ใกล้แม่น้ำเนรัญชรา เวลานั้นนางสุชาดา ธิดาสาวของกฎุมพีนายบ้านเสนานิคม ตำบลอุรุเวลา ได้จัดข้าวมธุปายาสใส่ถาดทองคำ นำไปบวงสรวงเทวดาที่ต้นไทรนั้นตามลัทธินิยมของตน ครั้นเห็นพระสิทธัตถะประทับนั่งอยู่ก็เข้าใจว่าเป็นเทวดาจึงน้อมถวายข้าวมธุปายาสพร้อมทั้งถาดทองคำ แล้วหลีกไป พระสิทธัตถะทรงรับข้าวมธุปายาสแล้วเสด็จไปยังแม่น้ำเนรัญชรา ทรงสรงสนานพระวรกาย แล้วเสวยข้าวมธุปายาสแล้วทรงลอยถาดลงในกระแสแม่น้ำเนรัญชรา ครั้นแล้วแล้วจึงเสด็จไปประทับในดงไม้สาละใกล้ฝั่งแม่น้ำเนรัญชรานั้น <br>
<br>


     ครั้นย่างเข้ายามเย็น พระสิทธัตถะก็เสด็จจากป่าสาละไปยังต้นอัสสัตถพฤกษ์(มหาโพธิ)ต้นหนึ่ง ซึ่งอยู่ริมฝั่งที่โค้งแม่น้ำเนรัญชราฝั่งตะวันตก ระหว่างทางทรงรับฟ่อนหญ้าคาที่คนหาบหญ้าขายชื่อ โสตถิยะน้อมถวาย ๘ ฟ่อน ทรงนำไปปูลาดเป็นบัลลังก์ที่ควงไม้มหาโพธินั้น แล้วประทับลงบนบัลลังก์นั้น ผินพระพักต์ไปทางทิศตะวันออก ทางแม่น้ำเนรัญชรา ทรงบำเพ็ญเพียรทางใจ คือ ทรงเจริญสมถะและวิปัสสนาได้บรรลุพระอนุตรสัมมาสัมโพธิญาณ สำเร็จเป็นพระพุทธเจ้าในยามสุดท้ายแห่งวันเพ็ญเดือนวิสาขะ ก่อนพุทธศักราช ๔๕ ปี <br>
<br>


     ครั้นตรัสรู้แล้ว พระพุทธองค์ได้ประทับเสวยวิมุติสุขอยู่ ๗ สัปดาห์ ในสถานที่ทั้ง๗ แห่ง แห่งละสัปดาห์คือที่ต้นมหาโพธิ ที่อนิมิสเจดีย์ ที่รัตนจงกรมเจดีย์ ที่รัตนฆรเจดีย์ ที่ต้นอชปาลนิโครธ ที่ต้นมุจลินท์ (ต้นจิก) และ ที่ต้นราชาตนะ (ต้นเกด) ตามลำดับ<br>
<br>


     ในสัปดาห์ที่ ๕ ระหว่างเวลาที่ประทับอยู่ที่ต้นอชาปาลนิโครธนั้น พระพุทธองค์ทรงแก้ปัญหาพราหมณ์ผู้หนึ่งซึ่งทูลถามปัญหาเรื่องความเป็นพราหมณ์ และมีพระธิดาพญามารทั้ง ๓ คือ นางตัญหา นางราคา และนางจรตี ได้มาทำการยั่วยวนพระองค์ให้ทรงหันไปลุ่มหลงในทางโลก แต่ไม่เป็นผล ในสัปดาห์ที่ ๖ ระหว่างแวะประทับอยู่ที่ใต้ต้นมุจลินท์นั้น มีฝนตกตลอดสัปดาห์ พญานาคชื่อ มุจลินท์ ได้มาถวายอารักขา ป้องกันพระองค์มิให้เปียกฝน และมิให้กระทบลมหนาว ในสัปดาห์ที่ ๗ ระหว่างเวลาที่ประทับอยู่ใต้ต้นราชายตนะนั้น มีพ่อค้า ๒ คน คือ ตะปุสสะ กับ ภัลลิกะ ได้ถวายข้าวสัตถุก้อนและสัตถุผงแก่พระพุทธองค์ และมีความเลื่อมใสได้ประกาศตน เป็นอุบาสก ถือพระพุทธกับพระธรรมเป็นสรณะ นับเป็นอุบาสกคู่แรกในพระพุทธศาสนา <br>
<br>


     <strong>ทรงแสดงปฐมเทศนา</strong> และได้เป็นปฐมสาวก ครั้นต่อมาถึงตอนเย็นวันขึ้น ๑๕ ค่ำเดือนอาสาฬหะ (เดือน ๘) พระพุทธองค์ได้เสด็จจากตำบลอุรุเวลาเสนานิคมถึงป่าอิสิปตนะมฤคทายวัน แขวงเมืองพาราณสี ในวันรุ่งขึ้นอันเป็นวันเพ็ญเดือนอาสาฬหะได้ทรงแสดงพระปฐมเทศนา คือ พระธรรมจักรกับกัปปวัตนะสูตร โปรดภิกษุปัญจวัคคีย์ทั้ง ๕ อันเป็นเทศนากัณฑ์แรกในพระพุทธศาสนา เมื่อจบเทศนาแล้ว ท่านโกณฑัญญะ (อัญญาโกณฑัญญะ) ได้ธรรมจักษุ คือได้ดวงตาเห็นธรรม อันได้แก่การได้บรรลุพระโสดาปัตติผล และได้ขออุปสัมปทา นับเป็นพระสงฆ์สาวกองค์แรกในพระพุทธศาสนา ต่อแต่นั้นมาก็ทรงสั่งสอนท่านทั้ง ๔ จนได้บรรลุโสดาปัตติผล และได้อุปสมบทเป็นพระสงฆ์ด้วยเอหิภิกขุอุปสัมปทาทุกองค์ ต่อมาถึงวันแรม ๘ ค่ำ เดือนสาวนะ (เดือน ๙) พระพุทธองค์ได้ทรงแสดงอนัตตลักขณสูตรโปรดท่านทั้ง ๕ ในวันนั้น จึงนับเป็นพระอรหันต์เกิดขึ้นในโลก รวมทั้งพระพุทธ องค์ด้วยเป็น ๖ องค์ </p>
        <p>&nbsp;</p>
      	
       	<p>
        	<strong>ทรงโปรดชาวเมืองพาราณสี</strong> ต่อมาเมื่อประทับจำพรรษาอยู่ที่ป่าอิสิปนะมฤคทายวัน อันเป็นพรรษาแรกนั้นเอง พระพุทธองค์ก็ได้ทรงแสดงอนุปทาพิกถาโปรดกุลบุตรชื่อ "ยสะ" ซึ่งเป็นบุตรเศรษฐีชาวเมืองพาราณสีให้ได้บรรลุ พระอรหันตตผล สำเร็จเป็นพระอรหันต์ ได้อุปสมบทด้วยเอหิภิกขุอุปสัมปทา นับเป็นพระอรหันต์องค์ที่ ๗ ในโลก ทั้งได้ทรงแสดงโปรดเศรษฐีบิดาพระยสะให้เลื่อมใสในพระพุทธศาสนา ได้ประกาศตนเป็นอุบาสก และ นับเป็นอุบาสกคนแรกในพระพุทธศาสนาที่ถือพระรัตนตรัยเป็นสรณะ ทั้งได้โปรดมารดาและภรรยาของท่านยสะให้เลื่อมใส ได้ประกาศตนเป็นอุบาสิกา ซึ่งเป็นอุบาสิกาคู่แรกในพระพุทธศาสนาที่ถือพระรัตนตรัยเป็นสรณะ ต่อแต่นั้นมา ๒-๓ วัน พระพุทธองค์ได้ทรงแสดงธรรมโปรดบุตรเศรษฐีเมืองพาราณสี ผู้เป็นสหายของท่านยสะทั้ง ๔ คน ชื่อ วิมละ สุพาหุ ปณณชิ และควัมปติ ให้สำเร็จเป็นพระอรหันต์ ได้อุปสมบทด้วยเอหิภิกขุอุปสัมปทา นับเป็นพระอรหันต์ในโลกจำนวน ๑๑ องค์ ต่อมาอีกไม่นานนัก สหายของท่านยสะซึ่งเป็นชาวชนบทจำนวน ๕๐ คน ก็ได้บวชตามยสะ พระพุทธองค์ทรงแสดงธรรมโปรดให้สำเร็จเป็นพระอรหันต์ได้อุปสมทบด้วยเอหิภิกขุอุปสัมปทาทั่วทุกองค์ นับจำนวนพระอรหันต์ในโลกเพิ่มขึ้นเป็น ๖๑ องค์<br>
<br>
       	</p>
       	<p>
       	  
       	  <strong>ทรงส่งพระสาวกไปประกาศพระพุทธศาสนา</strong> เมื่อมีพระอรหันต์สาวกจำนวนมากถึง ๖๐ องค์ และเวลานั้นก็ได้สิ้น ฤดูฝนแล้ว พระพุทธองค์ทรงเห็นว่าเป็นโอกาสดี สมควรส่งพระสาวกไปประกาศพระพุทธศาสนาแล้วจึง มีพระพุทธดำรัสสั่งพระอรหันต์สาวก ให้ไปจาริกในที่ต่างๆ เพื่อประโยชน์สุขแก่ประชาชน โดยให้แยกย้ายกันไป มิให้ไปรวมกัน ให้ไปแสดงธรรมประกาศพระพุทธศาสนาให้แพร่หลาย ส่วนพระองค์เองก็จะเสด็จไปยังตำบลอุรุเวลา กรุงราชคฤห์ เพื่อประกาศพระพุทธศาสนาเช่นเดียวกัน <br>
  <br>
       	  
       	  
       	  <strong>ทรงโปรดภัททวัคคีย์และชฎิล</strong> เมื่อทรงส่งพระสาวกออกจาริกไปแล้ว พระพุทธองค์จึงเสด็จไปยัง ตำบลอุรุเวลาแต่เพียงพระองค์เดียว ระหว่างทางได้เสด็จแวะเข้าไปพักผ่อนที่ไร่ฝ้ายแห่งหนึ่ง ณ ที่นี้ พระองค์ได้ทรงพบ ชายหนุ่มจำนวน ๓๐ คน เป็นสหายกันเรียกว่า ภัททวัคคีย์ ซึ่งได้พากันออกติดตามหาภรรยาของหนุ่มคนหนึ่งที่ได้ขโมยของหนีไป พระพุทธองค์จึงตรัสเตือนว่า จะตามหาหญิงหรือตนเองดี แล้วทรงแสดงธรรมโปรดให้บรรลุมรรคผล ประทานเอหิภิกขุอุปสัมปทา (คือ การบวชให้ด้วยพระองค์เอง ด้วยการตรัสว่า จงมาเป็นภิกษุเถิด) แล้วทรงส่งไปประกาศพระพุทธศาสนาทั้ง ๓๐ องค์<br>
  <br>
       	  
       	  
       	  หลังจากที่ทรงโปรดพวกภัททวัคคีย์แล้ว ตอนบ่ายวันนั้นพระพุทธองค์ก็เสด็จจากไร่ฝ้าย พอเวลาพลบค่ำก็ เสด็จถึงตำบลอุรุเวลาริมฝั่งแม่น้ำเนรัญชรา ณ ตำบลนี้พระองค์ได้ทรงโปรดชฎิล ๓ พี่น้องที่ตั้งอาศรมบำเพ็ญ พรตอยู่ที่ตำบลนี้ คือ ชฎิลผู้พี่ใหญ่ ชื่อ อุรุเวลกัสสป น้องคนกลางชื่อ นทีกัสสป น้องคนเล็กชื่อ คยากัสสป คุมบริ วาร (รวมทั้งตัวเองด้วย) คนละ ๕๐๐ , ๓๐๐ และ ๒๐๐ โดยตั้งอาศรมอยู่ตอนเหนือแม่น้ำเนรัญชราที่คุ้งแม่น้ำตอนกลาง และที่คุ้งตอนใต้สุดโดยลำดับ โดยทรงแสดงอาทิตตปริยายสูตรโปรดชฎิลเหล่านั้นให้ได้บรรลุมรรคผล สำเร็จในพระอรหันต์ทั้ง ๑,๐๐๐ รูป ประทานเอหิภิกขุอุปสัมปทาทั่วทุกรูป <br>
  <br>
       	  
       	  
       	  <strong>ทรงโปรดพระเจ้าพิมพิสารและทรงได้พระอัครสาวก</strong> เมื่อทรงโปรดชฎิล ๓ พี่น้อง พร้อมทั้งบริวารและทรงพักอยู่ที่ตำบลคยาสีสะพอสมควรแล้ว พระพุทธองค์ได้ทรงพาพระอรหันต์ผู้เป็นชฎิลจำนวน ๑,๐๐๐ รูปนั้นเสด็จไปยังกรุงราชคฤห์ นครหลวงแห่งแคว้นมคธ เสด็จเข้าประทับอยู่ที่สวนลัฏฐิวัน ใกล้พระราชวังพระเจ้าพิมพิสาร พระเจ้าพิมพิสารทรงทราบข่าวนี้ ก็ได้เสด็จไปเฝ้า พร้อมด้วยข้าราชบริพารและประชาชนจำนวนมาก พระพุทธองค์ทรงแสดงธรรมโปรดให้ได้บรรลุธรรมโปรดและมีความเลื่อมใสในพระพุทธศาสนา พระเจ้าพิมพิสารทรง มีพระราชศรัทธาถวายพระเวฬุวัน (สวนไผ่) เพื่อเป็นวิหาร (วัด) แก่พระสงฆ์ มีพระพุทธองค์เป็นประมุข ซึ่งนับเป็นวัดแห่งแรกในพระพุทธศาสนา <br>
  <br>       	         	  
       	  พระพุทธองค์พร้อมด้วยพระอรหันต์จำนวน ๑,๐๐๐ องค์นั้น ได้ประทับอยู่ที่พระเวฬุวันวิหารต่อมาถึงวันขึ้น๑ ค่ำ เดือนมาฆะ (เดือน ๓) เวลานั้น ปริพาชกมีชื่อ ๒ คน คืออุปติสสะ และ โกลิตะ เป็นสหายกัน ได้พาบริวาร (รวมทั้งตัวเองด้วย) จำนวน ๒๕๐ คน เข้าไปเผ้าพระพุทธองค์ที่พระเวฬุวันวิหาร พระพุทธองค์ทรงแสดงธรรม โปรดประทานเอหิภิกขุสัมปทาถ้วนทุกคน ปริพาชกที่เป็นบริวารได้สำเร็จเป็นพระอรหันต์ทั่วทุกคน ส่วนอุปติสสะและโกลิตะผู้เป็นหัวหน้ายังมิได้สำเร็จเป็นพระอรหันต์ในวันนั้น ครั้นต่อมาอีก ๗ วัน พระพุทธองค์ทรงแสดงธรรมโปรดท่านโกลิตะ ให้สำเร็จเป็นพระอรหันต์ ครั้นต่อมาถึงวันเพ็ญเดือนมาฆะ (ขึ้น ๑๕ ค่ำ เดือน ๓) พระพุทธองค์ทรงแสดงธรรมแก่ทีฆนขะปริพาชกที่ถ้ำสูกรขตา (ถ้ำที่สุกรขุด) ข้างเขาคิชฌกูฎ ท่านอุปติสสะนั่งถวายงานพัดพระพุทธองค์อยู่ ได้ฟังพระธรรมเทศนานั้นแล้ว ได้สำเร็จเป็นพระอรหันต์ <br>
  <br>       	         	  
   	    ต่อมาพระพุทธองค์ทรงยกย่อง<strong>พระอุปติสสะเป็นพระอัครสาวกเบื้องขวา ปรากฏพระนามว่า พระสารีบุตรอัครสาวก</strong> ยกย่อง<strong>พระโกลิตะเป็นพระอัครสาวกเบื้องซ้ายปรากฏนามว่า พระมหาโมคคัลลานะอัครสาวก</strong></p>
       	<p>&nbsp;</p>
        
        <p>
        <strong>ทรงเปิดประชุมจาตุรงคสันนิบาต</strong> ในตอนบ่ายแห่งวันเพ็ญเดือนมาฆะวันนั้นขณะที่พระพุทธองค์เสด็จกลับจากถ้ำสูกรขตา ข้างเขาคิชฌกูฏมาถึงพระเวฬุวันวิหารพระสงฆ์อรหันต์สาวกจำนวน ๑,๒๕๐ องค์ ก็ได้มาชุมนุม พร้อมกันเฉพาะพระพักตร์ต่างองค์ต่างมุ่งมาเฝ้าพระพุทธองค์ในเวลาเดียวกัน ซึ่งการประชุมสงฆ์ครั้งนี้ประกอบด้วยองค์ ๔ จึงเรียกว่า จาตุรงคสันนิบาต คือ <br>


(๑.) วันนั้นเป็นวันมาฆปุณณมี วันอุโบสถขึ้น ๑๕ ค่ำเดือน มาฆะ <br>

(๒.) พระอริยสงฆ์จำนวน ๑,๒๕๐ องค์ มาประชุมกันโดยมิได้มีการนัดหมาย <br>

(๓.) พระอริยสงฆ์ทั้งหมดนั้นล้วนเป็นพระอรหันต์ผู้ได้อภิญญา ๖ <br>

(๔.) พระอริยสงฆ์ทั้งนั้น ล้วนเป็นเอหิภิกขุคือ ได้รับการอุปสมบทจากพระพุทธองค์เอง <br>

<br>

พระพุทธองค์ทรงเห็นว่าการประชุมประกอบด้วยองค์ ๔ ดังกล่าวนี้ เป็นโอกาศดียิ่งที่จะได้ทรงแสดงหลักการสำคัญทางพระพุทธศาสนา จึงทรงเปิดการประชุมและทรงแสดงโอวาทปาติโมกข์ในที่ประชุมนั้น <br>
<br>
        </p>
        <p>
          
          <strong>ทรงโปรดพระพุทธบิดา พระนางพิมพาและราหุล</strong> ต่อจากวันเพ็ญเดือนมาฆะนั้นมา พระพุทธองค์ได้ทรงส่งพระอริยสาวกจำนวน ๑,๒๕๐ องค์นั้นออกไปประกาศพระพุทธศาสนา กิตติศัพท์ได้เลื่องลือไปถึงกรุงกบิลพัสดุ์ว่า พระพุทธองค์เมื่อได้ตรัสรู้แล้ว ได้เสด็จจารึกโปรดเวไนยชนให้เลื่อมใสออกบวชเป็นพระสงฆ์ และเป็นอุบาสก อุบาสิกา ได้สำเร็จมรรคผลเป็นจำนวนมาก ขณะนี้กำลังประทับอยู่ที่พระเวฬุวันวิหาร กรุงราชคฤห์ แคว้นมคธ พระเจ้าสุทโธทนะ พระพุทธบิดาทรงทราบกิตติศัพท์นั้นแล้ว จึงทรงส่งทูตมาทูลอาราธนาพระพุทธองค์ให้เสด็จไปกรุงกบิลพัสดุ์ แต่ส่งทูตมาอย่างนี้ถึง ๙ ครั้ง พระพุทธองค์ยังมิได้เสด็จ ต่อมาพอย่างเข้าปีที่ ๒ นับแต่ตรัสรู้ พระเจ้าสุทโธทนะ จึงทรงส่งทูตมาอาราธนาอีก โดยทรงมอบให้กาฬุทายีอำมาตย์เป็นหัวหน้าคณะทูตที่มาคราว นี้ก็ได้บวชเป็นพระสงฆ์ และได้สำเร็จเป็นพระอรหันต์ทั้งคณะ ครั้นย่างเข้าฤดูร้อนพระกาฬุทายีจึงทูลอาราธนา พระพุทธองค์เสด็จกรุงกบิลพัสดุ์ตามคำอาราธนาของพระพุทธบิดา พระพุทธองค์พร้อมพระอริยสงฆ์จำนวน ๒ หมื่นรูป จึงได้เสด็จไปโดยมีพระกาฬุทายีเป็นผู้นำทางเสด็จดำเนินเป็นเวลา ๖๐ วันก็ถึงกรุงกบิลพัสดุ์ประทับอยู่ที่ 
          นิโครธรามใกล้ป่ามหาวัน ซึ่งพระญาติจัดไว้ถวาย ได้ทรงแสดงเวสสันดรชาดกโปรดพระประยูรญาติให้เลื่อมใส วันรุ่งขึ้นได้เสด็จออกบิณฑบาตโปรดประชาชนในกรุงกบิลพัสด์ ในการเสด็จเยือนกรุงกบิลพัสดุ์ครั้งนี้นอกจากได้ ทรงแสดงเวสสันดรชาดกโปรดพระประยูรญาติให้เลื่อมใสดังกล่าวแล้ว ยังทรงแสดงธรรมโปรดพระพุทธบิดา ให้สำเร็จเป็นพระสกทาคามี โปรดพระนางปชาบดีโคตมี และพระนางพิมพาให้สำเร็จเป็นพระโสดาบัน และ โปรดให้พระราหุลกุมารบรรพชาเป็นสามเณรองค์แรกในพระพุทธศาสนา โดยทรงมอบให้พระสารีบุตรเป็นพระอุปัชฌาย์ อยู่จำเนียรกาลต่อมา พระราหุลได้อุปสมบทและได้สำเร็จเป็นพระอรหันต์ <br>
  <br>
        </p>
        <p>
          
          <strong>เสด็จแคว้นโกศล</strong> เมื่อประทับอยู่ที่กรุงกบิลพัสดุ์เป็นเวลานานพอสมควรแล้ว พระพุทธองค์ได้เสด็จจากกรุงกบิลพัสดุ์กลับไปยังกรุงราชคฤห์ ประทับอยู่ที่สีสปาวัน (ป่าสีเสียดหรือป่ากะทุ่มเลือด)ครั้งนั้นเศรษฐีชาวเมืองสาวัตถี แคว้นโกศล ชื่อ อนาถปิณทิกะ(เดิมชื่อสุทัตตะ) ได้ไปทำธุรกิจที่กรุงราชคฤห์ และเข้าเฝ้าพระพุทธองค์ ได้ฟังพระ ธรรมเทศนาของพระพุทธองค์แล้วได้สำเร็จเป็นพระโสดาบัน ได้ทูลอาราธนาพระพุทะองค์เสด็จไปกรุงสาวัตถีแล้วตนเองได้กลับไปเมืองสาวัตถีก่อน เพื่อเตรียมการรับเสด็จพระพุทธองค์และได้สร้างพระเชตวันมหาวิหารเตรียมถวาย <br>
  <br>
        </p>
        <p>
        ต่อมา พระพุทธองค์ได้เสด็จไปเมืองสาวัตถี ตามคำทูลอาราธนาของท่านเศรษฐีนั้น เมื่อเสด็จถึงแล้ว ท่านเศรษฐีก็ถวายการต้อนรับอย่างดีด้วยความเคารพเลื่อมใสเป็นอย่างยิ่ง และได้ถวายพระเชตวันมหาวิหารแด่พระสงฆ์ มีพระพุทธองค์เป็นประมุขพระพุทธองค์ทรงรับพระวิหารไว้ในพระพุทธศาสนา ทรงอนุโมทนาแสดงธรรมกถา โปรดตามควรแก่อัธยาศัย ระหว่างที่ประทับอยู่ที่พระเชตวันมหาวิหารนี้ พระพุทธองค์ได้ทรงแสดงธรรมโปรดพระเจ้าปเสนทิโกศล ให้ทรงเลื่อมใสในพระพุทธศาสนา และทรงโปรดพระนางมัลลิกาอัครมเหสีให้ได้ดวงตาเห็นธรรม <br>
  <br>
        </p>
        <p>
          
        ครั้งนั้น เหตุการณ์ภายในเมืองสาวัตถีกำลังปั่นป่วน เพราะมีโจรใจเหี้ยมคนหนึ่งชื่อ "องคุลิมาล" ได้ออกอาละวาดฆ่าคนเป็นจำนวนมาก โดยตัดนิ้วมือของคนที่ถูกฆ่าคนละนิ้วคล้องเป็นพวงมาลัย ๙๙๙ นิ้ว ยังเหลือเพียงนิ้วเดียวก็จะครบ ๑,๐๐๐ นิ้วตามต้องการ เวลานั้นมารดาขององคุลิมาลคิดถึงลูกมาก ประสงค์จะไปเยี่ยมลูกพระพุทธองค์ทรงเห็นว่าหากองคุลิมาลได้พบมารดา ก็จะฆ่ามารดาของตนเสีย จะเป็นบาปหนัก จึงเสด็จไปโปรดองคุลิมาลให้มีความเลื่อมใสให้บวชเป็นพระภิกษุในพระพุทธศาสนา <br>
  <br>
        </p>
        <p>
          
        พระประยูรญาติทรงผนวชตามเสด็จ ครั้งหนึ่งพระพุทธองค์ประทับอยู่ที่อนุปิยอัมอัมพวันแห่งแคว้นมัลละ เวลานั้น กษัตริย์ศากยราชผู้เป็นพระประยูรญาติ ๖ พระองค์ คือ พระภัททิยะ พระอนุรุทธะ พระอานนท์ พระภัคคุ พระกิมพิละและพระเทวทัต ทรงเลื่อมใสในพระพุทธจริยา ประสงค์จะผนวชตามเสด็จพระพุทธองค์จึงพร้อม กันชวนนายช่างกัลบกชื่อ อุบาลี พากันไปเฝ้าพระพุทธองค์ ณ ที่ประทับ ทูลขออุปสมบท พระพุทธองค์ก็ประทานอุปสมบทให้ตามประสงค์ โดยให้นายช่างกัลบกอุปสมบทก่อน กษัตริย์ศากยาราชทั้ง ๖ องค์ นั้นอุปสมบทในภายหลัง พระพุทธองค์ทรงแสดงธรรมโปรดตามควรแก่อัธยาศัย ต่อมาท่านเหล่านั้น นอกจากพระเทวทัต และ พระอานนท์ ได้ปฏิบัติวิปัสสนาจนได้สำเร็จเป็นพระอรหันต์ ส่วนพระอานนท์ได้สำเร็จเป็นพระโสดาบัน พระเทวทัตนั้นได้บรรลุสมาบัติ มีอิทธิฤทธิ์ตามวิสัยปุถุชน <br>
  <br>
        </p>
        <p>
          
        <strong>ทรงห้ามพระประยูรญาติวิวาทเรื่องน้ำ</strong> ครั้งหนึ่งพระประยูรญาติทั้งสองฝ่ายคือ ฝ่ายกรุงกบิลพัสด์ และฝ่ายโกลิยนคร ได้วิวาทกันด้วยแย่งน้ำในแม่น้ำโรหิณีเพื่อระบายน้ำไปสู่พื้นที่ทำนาในเขตของตน เริ่มด้วยพวกคนงาน ทะเลาะกัน และลามไปถึงกษัตริย์ ทั้งสองฝ่ายได้เตรียมอาวุธยกกำลังเข้าประจันหน้ากัน จวนจะเกิดศึกอยู่รอมร่อแล้ว ครั้งนั้น ขณะพระพุทธองค์ประทับอยู่ที่แคว้นสักกะ ทรงเห็นเหตุการณ์เช่นนั้น จึงเสด็จไปโปรดพระประยูรญาติทั้งสองฝ่ายให้ระงับการวิวาทบาดหมางกัน โดยทรงชี้ให้เห็นว่าชีวิตกษัตริย์ ชีวิตคนนั้นแพงกว่าน้ำมากนัก ไม่ควรเห็นน้ำดีกว่าคน พระญาติทั้งสองฝ่ายจึงเลิกวิวาทกันและมีความสามัคคีกัน </p>
        <p>&nbsp;</p>
        <p>
          <strong>ทรงโปรดช้างนาฬาคีรี </strong>ครั้งหนึ่งพระพุทธองค์ประทับอยู่ที่พระเวฬุวันวิหาร กรุงราชคฤห์ เช้าวันหนึ่งขณะที่พระพุทธองค์เสด็จออกบิณฑบาตในกรุงราชคฤห์ พระเทวทัตศิษย์ทรยศของพระพุทธองค์ได้ติดสินบนควาญช้างให้ปล่อยช้างนาฬาคีรี เพื่อทำร้ายพระพุทธองค์ตามแผนการ แต่ด้วยเมตาจิตของพระพุทธองค์ ช้างตกมันก็หายพยศ กลับคุกเข่าลงหมอบลงตรงพระพักตร์พระพุทธองค์ <br>
<br>
        </p>
        <p>
          
        <strong>ถวายพระเพลิงพระบรมศพพระพุทธบิดา</strong> ครั้งหนึ่งพระพุทธองค์ประทับอยู่ที่กูฏาคารศาลา ป่ามหาวัน ใกล้เมืองเวสาลี แค้วนวัชชี ทรงจำพรรษา ณ ที่นี้เป็นพรรษาที่ ๕ ครั้งนั้นพระพุทธองค์ทรงทราบว่าพระเจ้าสุโธทนะ ทรงประชวรหนักจึงเสด็จเยี่ยมพระพุทธบิดาที่กรุงกบิลพัสดุ์ พร้อมด้วยพระอริยสงฆ์พุทธสาวก ครั้นเสด็จ ถึงแล้วได้ทรงแสดงธรรมโปรดพระพุทธบิดาให้ได้สำเร็จเป็นพระอรหันต์ หลังจากนั้น ๗ วัน พระพุทธบิดาก็สวรรคต พระพุทธองค์พร้อมด้วยพระสงฆ์และพระประยูรญาติจึงพร้อมกันจัดถวายพระเพลิงพระบรมศพพระพุทธบิดา<br>
  <br>
        </p>
        <p>
          
        <strong>พระมหาโมคคัลลานะ อัครสาวกถูกประทุษร้าย</strong> การที่พระพุทธองค์ได้ประดิษฐานพระพุทธศาสนาลงมั่นคง ในมัธยมประเทศ (ภาคกลางชมพูทวีป) และแพร่หลายไปในที่ต่างๆอย่างรวดเร็วนั้น ก็ด้วยการร่วมกำลังกันเผย แพร่ของพุทธบริษัทที่สำคัญคือ พระสงฆ์ พุทธสาวก และบรรดาพระสงฆ์สาวกนั้น ที่สำคัญที่สุดก็คือ พระอัครสาวกทั้ง ๒ คือ พระสารีบุตรเถระ และพระมหาโมคคัลลานะเถระซึ่งเป็นกำลังสำคัญยิ่งใหญ่ของพระพุทธองค์ จึงเป็นที่อิจฉาริษยาของมิจฉาทิฏฐิเป็นอย่างยิ่ง โดยเฉพาะพระมหาโมคคัลลานะผู้มีฤทธิ์มากนั้นมีผู้ปองร้ายอยู่ตลอดเวลา ครั้งหนึ่งเมื่อท่านจำพรรษาอยู่ที่กาฬศิลา แคว้นมคธ ก็ได้ถูกกลุ่มอาชญากรประทุษร้ายด้วยการว่าจ้างของกลุ่มมิจฉาทิฏฐิ <br>
  <br>
        </p>
        <p>
          
        แม้พระพุทธศาสนาจะได้เจริญแพร่หลายแล้ว จำนวนพุทธสาวกได้เพิ่มขึ้น พุทธบริษัทมากมายจนนับไม่ถ้วนถึงกระนั้น พระพุทธองค์ก็มิได้ทรงหยุดยั้งในการทรงบำเพ็ญพุทธกิจ คงเสด็จจาริกไปแสดงธรรมโปรดประชาชนทั่วไปตลอดเวลา ๔๕ พรรษา นับแต่พรรษาแรกที่ป่าอิสิปตนะมฤคทายวัน แขวงเมืองพาราณสี จนพรรษาสุดท้ายที่หมู่บ้านเวฬุคาม แขวงเมืองเวสาลี ณ ที่นี้ และพรรษาสุดท้ายนี้ พระพุทธองค์ก็ทรงประชวรหนักแต่ทรงข่มเสีย ด้วยพระสติสัมปชัญญะ ครั้นออกพรรษาแล้วล่วงวันเพ็ญเดือนมาฆะ พระพุทธองค์จึงทรงปลงพระชนมายุสังขาร คือ ทรงกำหนดพระทัยเรื่องพระชนมายุว่าต่อแต่นี้ไปอีก ๓ เดือน พระองค์จักปรินิพพาน <br>
  <br>
        </p>
        <p><strong>เสด็จดับขันธปรินิพพาน</strong>
          
        ต่อแต่นั้นมา พระพุทธองค์ก็เสด็จจาริกโปรดเวไนยไปในที่ต่างๆ จนเสด็จถึงเมืองปาวา เข้าประทับที่สวนมะม่วงของนายจุนทะ บุตรนายช่างทอง ได้เสวยพระกายาหารมื้อสุดท้ายที่นายจุนทะถวาย ทรงแสดงธรรมโปรดนายจุนทะให้เลื่อมใสในพระพุทธศาสนา แล้วทรงอำลานายจุนทะ <br>
        <br>
        เสด็จดำเนินต่อไป ผ่านสถานที่ต่างๆไปโดยลำดับจนถึงป่าสาลวัน เขตเมืองกุสินารา รับสั่งพระอานนท์ให้ปูลาดที่บรรทมระหว่างต้นสาละคู่หนึ่ง ให้หันพระเศียรไปทางทิศอุดร แล้วประทับสำเร็จสีหไสยา คือ การบรรทมตะแคงขวาเป็นอนุฏฐานไสยา คือ การบรรทม โดยมิได้ทรงกำหนดว่าจะทรงลุกขึ้นเมื่อนั้น เมื่อนี้ ณ ตอนบ่ายวันเสด็จถึงนั้น และในคืนวันนั้น สุภัททะปริพาชก ได้มาเฝ้าขออุปสมบทเป็นพระสาวกองค์สุดท้าย ของพระพุทธองค์ต่อจากนั้นพระองค์ก็ได้ประทานพระโอวาท แก่ภิกษุสงฆ์ครั้นถึงยามสุดท้ายแห่งวันเพ็ญเดือนวิสาขะ ก็เสด็จดับขันธปรินิพพาน <br>
  <br>
        </p>
        <p>
        ครั้นรุ่งเช้า เมื่อข่าวการเสด็จปรินิพพานของพระพุทธองค์ทราบถึงพวกมัลลกษัตริย์และชาวเมืองกุสินาราแล้วกษัตริย์ และประชาชนก็ได้พากันมานมัสการพระบรมพุทธสารีระแสดงความโศรกเศร้าอาลัยโดยทั่วหน้า ครั้นล่วงไป 7 วันแล้ว จึงเชิญพระบรมศพไปประดิษฐาน ณ มกุฎพันธนเจดีย์ เพื่อถวายพระเพลิงเมื่อพระมหากัสสปเถระ พร้อมด้วยบริวารมาถึง และที่ประชุมพร้อมแล้ว จึงได้พร้อมกันถวายพระเพลิง</p>
        <p>&nbsp;</p>
        <p>ครั้นถวายพระเพลิงเสร็จแล้วพวกมัลลกษัตริย์เมืองกุสินาราก็ได้รวบรวมพระบรมสารีริกธาตุที่เหลืออัญเชิญไป ประดิษฐานไว้ ณ สัณฐาคารศาลาภายในพระนครเพื่อเป็นที่สักการบูชาสืบไป <br>
          <br>
        ต่อมามีกษัตริย์และพราหมณ์ตามเมืองต่างๆ ได้มาขอพระบรมธาตุ กล่าวคือกษัตริย์เมืองราชคฤห์ เมืองเวสาลี เมืองกบิลพัสดุ์ เมืองอัลลกัปปะ เมืองรามคาม พราหมณ์ เมืองเวฏฐทีปกะ และเมืองปาวา มัลลกัษตริย์ก็แจกจ่ายถวายโดยทั่วกัน ส่วนโทณพราหมณ์ เมืองกุสินารา ผู้ทำหน้าที่แบ่งพระบรมธาตุ ได้ทะนานตวงพระธาตุไว้เป็นสักการบูชา </p>
    </div>


        <a class="gotopbtn" href="#"> <i class="fa fa-arrow-up" aria-hidden="true"></i> </a>

    
</body>

