@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/css/all.min.css">

    <style>
		.center {
		  display: block;
		  margin-left: auto;
		  margin-right: auto;
		  width: 50%;
		}

        .boxbox{
			margin-left: 100px;
			margin-right: 100px;
		}
		.picpic center{
			width: 700px;
			height: 500px;
        }

        html {
            scroll-behavior: smooth;
        }

		.pp{
			font-size:40px;
		}

        h1 {
          text-align: center;
        }

        .gotopbtn {
            position: fixed;
            width: 50px;
            height: 50px;
            background: #27ae60;
            bottom: 60px;
            right: 50px;

            text-decoration: none;
            text-align: center;
            line-height: 50px;
            color: white;
            font-size: 22px;
        }

        .well {
          min-height: 20px;
          padding: 19px;
          margin-bottom: 20px;
          background-color: #f5f5f5;
          border: 1px solid #e3e3e3;
          border-radius: 4px;
          -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
        }

        .img-rounded {
          border-radius: 30px;
        }

		pagination {
		  display: inline-block;
		  padding-left: 0;
		  margin: 20px 0;
		  border-radius: 4px;
		}
		.pagination > li {
		  display: inline;
		}
		.pagination > li > a,
		.pagination > li > span {
		  position: relative;
		  float: left;
		  padding: 6px 12px;
		  margin-left: -1px;
		  line-height: 1.42857143;
		  color: #337ab7;
		  text-decoration: none;
		  background-color: #fff;
		  border: 1px solid #ddd;
		}
		.pagination > li:first-child > a,
		.pagination > li:first-child > span {
		  margin-left: 0;
		  border-top-left-radius: 4px;
		  border-bottom-left-radius: 4px;
		}
		.pagination > li:last-child > a,
		.pagination > li:last-child > span {
		  border-top-right-radius: 4px;
		  border-bottom-right-radius: 4px;
		}
		.pagination > li > a:hover,
		.pagination > li > span:hover,
		.pagination > li > a:focus,
		.pagination > li > span:focus {
		  color: #23527c;
		  background-color: #eee;
		  border-color: #ddd;
		}
		.pagination > .active > a,
		.pagination > .active > span,
		.pagination > .active > a:hover,
		.pagination > .active > span:hover,
		.pagination > .active > a:focus,
		.pagination > .active > span:focus {
		  z-index: 2;
		  color: #fff;
		  cursor: default;
		  background-color: #337ab7;
		  border-color: #337ab7;
		}
		.pagination > .disabled > span,
		.pagination > .disabled > span:hover,
		.pagination > .disabled > span:focus,
		.pagination > .disabled > a,
		.pagination > .disabled > a:hover,
		.pagination > .disabled > a:focus {
		  color: #777;
		  cursor: not-allowed;
		  background-color: #fff;
		  border-color: #ddd;
		}
		.pagination-lg > li > a,
		.pagination-lg > li > span {
		  padding: 10px 16px;
		  font-size: 18px;
		}
		.pagination-lg > li:first-child > a,
		.pagination-lg > li:first-child > span {
		  border-top-left-radius: 6px;
		  border-bottom-left-radius: 6px;
		}
		.pagination-lg > li:last-child > a,
		.pagination-lg > li:last-child > span {
		  border-top-right-radius: 6px;
		  border-bottom-right-radius: 6px;
		}
		.pagination-sm > li > a,
		.pagination-sm > li > span {
		  padding: 5px 10px;
		  font-size: 12px;
		}
		.pagination-sm > li:first-child > a,
		.pagination-sm > li:first-child > span {
		  border-top-left-radius: 3px;
		  border-bottom-left-radius: 3px;
		}
		.pagination-sm > li:last-child > a,
		.pagination-sm > li:last-child > span {
		  border-top-right-radius: 3px;
		  border-bottom-right-radius: 3px;
		}

    </style>

</head>
<body>
	<div style="margin-top:50px"> </div>
	<div class="boxbox">
	<div class="row">
		<a></a><img class="img-rounded center" src="~/css/header.jpg" title="Kurobuta Dog"><br>
	</div>

    <h1>
        <strong>ปางพระพุทธรูป</strong>
    </h1>

    <div class="well">
		<p class="myfont_kanit">ปางพระพุทธรูป คือ ลักษณะของรูปสมมุติของพระพุทธเจ้าในอิริยาบถต่าง ๆ ซึ่งสร้างขึ้นตามความเชื่อในพุทธประวัติ โดยช่างสมัยโยนก (คันธารราฐ) ราชวงศ์คุปตะ (พ.ศ. 863-1023) เป็นชาวกรีกพวกแรกที่กำหนดรูปแบบปางพระพุทธรูป ต่อมาช่างชาวอินเดียฝ่ายใต้ ซึ่งเป็นชาวกลิงคราฐข้างฝ่ายใต้ รวมทั้งในยุคสมัยต่าง ๆ ในภายหลังได้คิดปางพระพุทธรูปเพิ่มขึ้นอีกเป็นจำนวนมาก</p>
	</div>

	<hr style="height:5px;border-width:0;color:gray;background-color:gray">

	<br>
	<hr>

	<nav aria-label="Page navigation">
		<ul class="pagination">
			<li><a asp-controller="Content" asp-action="Content2_2" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
			<li><a asp-controller="Content" asp-action="Content2" class="Link-kanit">1</a></li>
			<li><a asp-controller="Content" asp-action="Content2_2" class="Link-kanit">2</a></li>
			<li class="active"><a href="#">3<span class="sr-only">(current)</span></a></li>
			<li><a asp-controller="Content" asp-action="Content2_4" class="Link-kanit">4</a></li>
			<li><a asp-controller="Content" asp-action="Content2_4" aria-label="Next"><span aria-hidden="true">»</span></a></li>
		</ul>
	</nav>

	<hr>
	<br>

    <div class="row">					
					<div class="col-md-3 text-center">
						<a><img class="img-rounded center" src="~/css/41.gif" title="๔๑.ปางเปิดโลก"></a><br>
						<a class="font_kanit_menu">• ๔๑.ปางเปิดโลก</a><br><br>
					</div>
					
					<div class="col-md-3 text-center">
						<a><img class="img-rounded center" src="~/css/42.gif" title="๔๒.ปางเสด็จลงจากดาวดึงส์"></a><br>
						<a class="font_kanit_menu">• ๔๒.ปางเสด็จลงจากดาวดึงส์</a><br><br>
					</div>
					
					<div class="col-md-3 text-center">
						<a><img class="img-rounded center" src="~/css/43.gif" title="๔๓.ปางลีลา"></a><br>
						<a class="font_kanit_menu">• ๔๓.ปางลีลา</a><br><br>
					</div>
					
					<div class="col-md-3 text-center">
						<a><img class="img-rounded center" src="~/css/44.gif" title="๔๔.ปางห้ามแก่นจันทร์"></a><br>
						<a class="font_kanit_menu">• ๔๔.ปางห้ามแก่นจันทร์</a><br><br>
					</div>
	</div>
	<br>
	<div class="row">					
					<div class="col-md-3 text-center">
						<a><img class="img-rounded center" src="~/css/45.gif" title="๔๕.ปางพระอิริยาบถยืน"></a><br>
						<a class="font_kanit_menu">• ๔๕.ปางพระอิริยาบถยืน</a><br><br>
					</div>
					
					<div class="col-md-3 text-center">
						<a><img class="img-rounded center" src="~/css/46.gif" title="๔๖.ปางประดิษฐานรอยพระพุทธบาท"></a><br>
						<a class="font_kanit_menu">• ๔๖.ปางประดิษฐานรอยพระพุทธบาท</a><br><br>
					</div>
					
					<div class="col-md-3 text-center">
						<a><img class="img-rounded center" src="~/css/47.gif" title="๔๗.ปางสรงน้ำฝน"></a><br>
						<a class="font_kanit_menu">• ๔๗.ปางสรงน้ำฝน</a><br><br>
					</div>
					
					<div class="col-md-3 text-center">
						<a><img class="img-rounded center" src="~/css/48.gif" title="๔๘.ปางคันธารราฐหรือปางขอฝน ( นั่ง )"></a><br>
						<a class="font_kanit_menu">• ๔๘.ปางคันธารราฐหรือปางขอฝน ( นั่ง )</a><br><br>
					</div>
	</div>
	<br>
	<div class="row">					
					<div class="col-md-3 text-center">
						<a><img class="img-rounded center" src="~/css/49.gif" title="๔๙.ปางคันธารราฐหรือปางขอฝน ( ยืน )"></a><br>
						<a class="font_kanit_menu">• ๔๙.ปางคันธารราฐหรือปางขอฝน ( ยืน )</a><br><br>
					</div>
					
					<div class="col-md-3 text-center">
						<a><img class="img-rounded center" src="~/css/50.gif" title="๕๐.ปางชี้อสุภะ"></a><br>
						<a class="font_kanit_menu">• ๕๐.ปางชี้อสุภะ</a><br><br>
					</div>
					
					<div class="col-md-3 text-center">
						<a><img class="img-rounded center" src="~/css/51.gif" title="๕๑.ปางชี้มาร"></a><br>
						<a class="font_kanit_menu">• ๕๑.ปางชี้มาร</a><br><br>
					</div>
					
					<div class="col-md-3 text-center">
						<a><img class="img-rounded center" src="~/css/52.gif" title="๕๒.ปางปฐมบัญญัติ"></a><br>
						<a class="font_kanit_menu">• ๕๒.ปางปฐมบัญญัติ</a><br><br>
					</div>
	</div>
	<br>
	<div class="row">					
					<div class="col-md-3 text-center">
						<a><img class="img-rounded center" src="~/css/53.gif" title="๕๓.ปางขับพระวักกลิ"></a><br>
						<a class="font_kanit_menu">• ๕๓.ปางขับพระวักกลิ</a><br><br>
					</div>
					
					<div class="col-md-3 text-center">
						<a><img class="img-rounded center" src="~/css/54.gif" title="๕๔.ปางสนเข็ม"></a><br>
						<a class="font_kanit_menu">• ๕๔.ปางสนเข็ม</a><br><br>
					</div>
					
					<div class="col-md-3 text-center">
						<a><img class="img-rounded center" src="~/css/55.gif" title="๕๕.ปางประทานพร ( นั่ง )"></a><br>
						<a class="font_kanit_menu">• ๕๕.ปางประทานพร ( นั่ง )</a><br><br>
					</div>
					
					<div class="col-md-3 text-center">
						<a><img class="img-rounded center" src="~/css/56.gif" title="๕๖.ปางประทานพร ( ยืน)"></a><br>
						<a class="font_kanit_menu">• ๕๖.ปางประทานพร ( ยืน)</a><br><br>
					</div>
	</div>
	<br>
	<div class="row">					
					<div class="col-md-3 text-center">
						<a><img class="img-rounded center" src="~/css/57.gif" title="๕๗.ปางประทานธรรม"></a><br>
						<a class="font_kanit_menu">• ๕๗.ปางประทานธรรม</a><br><br>
					</div>
					
					<div class="col-md-3 text-center">
						<a><img class="img-rounded center" src="~/css/58.gif" title="๕๘.ปางประทานอภัย ( นั่ง )"></a><br>
						<a class="font_kanit_menu">• ๕๘.ปางประทานอภัย ( นั่ง )</a><br><br>
					</div>
					
					<div class="col-md-3 text-center">
						<a><img class="img-rounded center" src="~/css/59.gif" title="๕๙.ปางโปรดพญาช้างนาฬาคิรี"></a><br>
						<a class="font_kanit_menu">• ๕๙.ปางโปรดพญาช้างนาฬาคิรี</a><br><br>
					</div>
					
					<div class="col-md-3 text-center">
						<a><img class="img-rounded center" src="~/css/60.gif" title="๖๐.ปางโปรดพญาชมพูบดีหรือปางทรงเครื่อง"></a><br>
						<a class="font_kanit_menu">• ๖๐.ปางโปรดพญาชมพูบดีหรือปางทรงเครื่อง</a><br><br>
					</div>
	</div>

	<br>
	<hr>

	<nav aria-label="Page navigation">
		<ul class="pagination">
			<li><a asp-controller="Content" asp-action="Content2_2" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
			<li><a asp-controller="Content" asp-action="Content2" class="Link-kanit">1</a></li>
			<li><a asp-controller="Content" asp-action="Content2_2" class="Link-kanit">2</a></li>
			<li class="active"><a href="#">3<span class="sr-only">(current)</span></a></li>
			<li><a asp-controller="Content" asp-action="Content2_4" class="Link-kanit">4</a></li>
			<li><a asp-controller="Content" asp-action="Content2_4" aria-label="Next"><span aria-hidden="true">»</span></a></li>
		</ul>
	</nav>


	<br>

	<hr style="height:5px;border-width:0;color:gray;background-color:gray">


    <a class="gotopbtn" href="#"> <i class="fa fa-arrow-up" aria-hidden="true"></i> </a>
	</div>
    
</body>