@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/css/all.min.css">

    <style>
		.center {
		  display: block;
		  margin-left: auto;
		  margin-right: auto;
		  width: 50%;
		}

        .boxbox{
			margin-left: 100px;
			margin-right: 100px;
		}
		.picpic center{
			width: 700px;
			height: 500px;
        }

        html {
            scroll-behavior: smooth;
        }

		.pp{
			font-size:40px;
		}

        h1 {
          text-align: center;
        }

        .gotopbtn {
            position: fixed;
            width: 50px;
            height: 50px;
            background: #27ae60;
            bottom: 60px;
            right: 50px;

            text-decoration: none;
            text-align: center;
            line-height: 50px;
            color: white;
            font-size: 22px;
        }

        .well {
          min-height: 20px;
          padding: 19px;
          margin-bottom: 20px;
          background-color: #f5f5f5;
          border: 1px solid #e3e3e3;
          border-radius: 4px;
          -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
        }

        .img-rounded {
          border-radius: 30px;
        }

		pagination {
		  display: inline-block;
		  padding-left: 0;
		  margin: 20px 0;
		  border-radius: 4px;
		}
		.pagination > li {
		  display: inline;
		}
		.pagination > li > a,
		.pagination > li > span {
		  position: relative;
		  float: left;
		  padding: 6px 12px;
		  margin-left: -1px;
		  line-height: 1.42857143;
		  color: #337ab7;
		  text-decoration: none;
		  background-color: #fff;
		  border: 1px solid #ddd;
		}
		.pagination > li:first-child > a,
		.pagination > li:first-child > span {
		  margin-left: 0;
		  border-top-left-radius: 4px;
		  border-bottom-left-radius: 4px;
		}
		.pagination > li:last-child > a,
		.pagination > li:last-child > span {
		  border-top-right-radius: 4px;
		  border-bottom-right-radius: 4px;
		}
		.pagination > li > a:hover,
		.pagination > li > span:hover,
		.pagination > li > a:focus,
		.pagination > li > span:focus {
		  color: #23527c;
		  background-color: #eee;
		  border-color: #ddd;
		}
		.pagination > .active > a,
		.pagination > .active > span,
		.pagination > .active > a:hover,
		.pagination > .active > span:hover,
		.pagination > .active > a:focus,
		.pagination > .active > span:focus {
		  z-index: 2;
		  color: #fff;
		  cursor: default;
		  background-color: #337ab7;
		  border-color: #337ab7;
		}
		.pagination > .disabled > span,
		.pagination > .disabled > span:hover,
		.pagination > .disabled > span:focus,
		.pagination > .disabled > a,
		.pagination > .disabled > a:hover,
		.pagination > .disabled > a:focus {
		  color: #777;
		  cursor: not-allowed;
		  background-color: #fff;
		  border-color: #ddd;
		}
		.pagination-lg > li > a,
		.pagination-lg > li > span {
		  padding: 10px 16px;
		  font-size: 18px;
		}
		.pagination-lg > li:first-child > a,
		.pagination-lg > li:first-child > span {
		  border-top-left-radius: 6px;
		  border-bottom-left-radius: 6px;
		}
		.pagination-lg > li:last-child > a,
		.pagination-lg > li:last-child > span {
		  border-top-right-radius: 6px;
		  border-bottom-right-radius: 6px;
		}
		.pagination-sm > li > a,
		.pagination-sm > li > span {
		  padding: 5px 10px;
		  font-size: 12px;
		}
		.pagination-sm > li:first-child > a,
		.pagination-sm > li:first-child > span {
		  border-top-left-radius: 3px;
		  border-bottom-left-radius: 3px;
		}
		.pagination-sm > li:last-child > a,
		.pagination-sm > li:last-child > span {
		  border-top-right-radius: 3px;
		  border-bottom-right-radius: 3px;
		}



    </style>

</head>
<body>
	<div style="margin-top:50px"> </div>
	<div class="boxbox">   
     	
      <div align="center"><img src="~/css/header.jpg" class="img-responsive img-rounded center"></div>
  	  <h3 class="myfont-Srb" align="center">ลักษณะเด่นของพุทธศาสนา</h3>

	  <div class="myfont_sarabun">
        	          
          <div class="panel panel-info">
          <div class="panel-heading text-center myfont_kanit">ความหมาย</div>
          <div class="panel-body">
          <p>&nbsp;&nbsp;&nbsp;&nbsp;พระพุทธศาสนา (Buddhism) คือ ศาสนาที่ถือว่าธรรมะเป็นความจริงสากล ที่ใครก็ตามหากสิ้นกิเลสก็จะพลได้ด้วยตนเอง แต่ผู้ที่ได้บำเพ็ญบารมีจนตรัสรู้ และสามารถตั้งพุทธบริษัทปัจจุบันขึ้นได้ คือ พระพุทธโคตม ซึ่งเป็นองค์หนึ่งในบรรดาสัมมาสัมพุทธเจ้ามากมายที่ได้เคยตั้งพุทธบริษัทมาแล้ว และที่จะตั้งต่อไปในอนาคต ยังมีพระพุทธเจ้าอีกมากที่ตรัสรู้แต่ไม่มีบารมีพอให้ตั้งพุทธบริษัทได้ จึงให้ผลเฉพาะตัวเรียกว่า ปัจเจกพุทธเจ้า<br>
            </p>
        	        <p>&nbsp;&nbsp;&nbsp;จึงเห็นได้ว่า จากความสำนึกดังกล่าวข้างต้น ทำให้ชาวพุทธมีใจกว้าง เพราะถือเสียว่าธรรมะมิได้มีในพระพุทธศาสนาของพระโคตมเท่านั้น แต่คนดีทั้งหลายก็อาจจะพบธรรมะบางข้อได้ และแม้แต่ชาวพุทธเอง พระพุทธเจ้าก็ทรงปรารถนาให้แสวงหาและเข้าใจธรรมะด้วยตนเอง พระรัตนตรัยคือ พระพุทธ พระธรรม และพระสงฆ์ เป็นสรณะที่พึ่ง คือ ผู้ช่วยเกื้อกูลให้แต่ละคนสามารถพึ่งตนเองในที่สุด "ตนของตนเป็นที่พึ่งแก่ตนเอง" อาจกล่าวได้ว่าพุทธศาสนิกที่แท้จริง คือ ผู้ที่แสวงหาธรรมะด้วยตนเองและพบธรรมะด้วยตนเอง หรือกล่าวอีกนัยหนึ่งว่า พยายามพัฒนาธาตุพุทธะในตัวเอง</p>
          </div>
        </div>
        
        <div class="panel panel-info">
        <div class="panel-heading text-center myfont_kanit">ลักษณะคำสอนของพระพุทธศาสนา</div>
          <div class="panel-body">
          <p>&nbsp;&nbsp;&nbsp;&nbsp;ลักษณะเด่นของพุทธศาสนา คือ เป็นศาสนาแห่งการวิเคราะห์ กล่าวคือ เชี่ยวชาญในการวิเคราะห์ทั้งความเป็นจริงและข้อธรรมได้ดีเยี่ยมเป็นพิเศษ เช่น วิเคราะห์จิตได้ละเอียดลอออย่างน่าอัศจรรย์ใจ วิเคราะห์ธรรมะออกเป็นข้อ ๆ อย่างละเอียดสุขุมและประสานสัมพันธ์กันเป็นระบบที่แน่นแฟ้น หากจะพยายามอธิบายธรรมะข้อใดสักข้อหนึ่ง ก็จะต้องอ้างถึงธรรมะข้ออื่นๆ เกี่ยวโยงไปทั้งระบบ วิธีการวิเคราะห์ธรรมะอย่างนี้ บางสำนักของศาสนาฮินดูได้เคยทำมาบ้าง แต่ก็ไม่สามารถทำได้เด่นชัดอย่างธรรมะที่สอนกันในพระพุทธศาสนา จึงควรยกย่องได้ว่าพระพุทธศาสนาเป็นศาสนาแห่งการวิเคราะห์ และเมื่อกล่าวเช่นนี้ก็มิได้หมายความว่าพระพุทธศาสนาไม่สนใจด้านอื่นๆ ทั้งมิได้หมายความเลยไปถึงว่าศาสนาอื่นๆ ไม่รู้จักวิเคราะห์ หามิได้ ต้องการหมายเพียงแต่ว่าพระพุทธศาสนาเด่นกว่าศาสนาอื่นๆ ในด้านวิเคราะห์เท่านั้น และถ้าหากศาสนาต่างๆ จะพึ่งพาอาศัยกันและกันก็พระพุทธศาสนานี่แหละสามารถให้ตัวอย่างในการวิเคราะห์ข้อธรรมะได้อย่างดีเยี่ยม ในขณะที่ศาสนาอื่นๆ อาจจะบริการด้านอื่นๆ ที่ได้ปฏิบัติมาอย่างเด่นชัด เช่น ศาสนาพราหมณ์ในเรื่องจารีตพิธีกรรม ศาสนาอิสลามในเรื่องกฎหมาย เป็นต้น แต่ทั้งนี้แล้วแต่ว่าสมาชิกแต่ละคนของแต่ละศาสนาจะสนใจร่วมมือกันในทางศาสนามากน้อยเพียงใด</p>
          </div>
        </div>
        
        <div class="panel panel-info">
        <div class="panel-heading text-center myfont_kanit">บ่อเกิดของพระพุทธศาสนา</div>
          <div class="panel-body">
          <p>&nbsp;&nbsp;&nbsp;&nbsp;แม้ชาวพุทธจะมีความสำนึกว่า สัมมาสัมพุทธเจ้าได้มีมาแล้วมากมายในอดีต และจะมีอีกมากมายต่อไปในอนาคต แต่อย่างไรก็ตาม คำสอนของอดีตพระพุทธเจ้าไม่เหลือหลักฐานไว้ให้ศึกษาได้อีกแล้ว ส่วนคำสอนของพระพุทธเจ้าที่จะมาในอนาคตก็ยังไม่มีใครรู้ ดังนั้น บ่อเกิดของพระพุทธศาสนาในปัจจุบันจึงมาจากคำสอนของพระพุทธโคตมแต่องค์เดียว คำสอนของนักปราชญ์อื่นๆ ทั้งในและนอกพระพุทธศาสนา อาจจะเสริมความเข้าใจคำสอนของพระพุทธเจ้าได้ แต่ไม่อาจจะถือว่าเป็นบ่อเกิดของพระพุทธศาสนา</p>
        	        <p>อย่างไรก็ตาม พระพุทธเจ้าได้ตรัสเตือนไว้ว่า ความรู้ที่พระองค์ทรงรู้จากการตรัสรู้นั้นมีมากราวกับใบไม้ทั้งป่า แต่ที่พระองค์นำมาสอนสาวกนั้นมีปริมาณเทียบได้กับใบไม้เพียงกำมือเดียว พระองค์ไม่อาจจะสอนได้มากกว่าที่ได้ทรงสอนไว้ ดังนั้น หากมีปัญหาขัดแย้งเกิดขึ้น ให้ตกลงกันด้วยสังคายนา (ร้องร่วมกัน) คือ ประชุมและลงมติร่วมกัน ส่วนในเรื่องธรรมวินัยปลีกย่อย หากจำเป็นก็ให้ประชุมตกลงปรับปรุงได้ ดังนั้น บ่อเกิดของพระพุทธศาสนาอีกทางหนึ่งก็คือสังคายนา สังคายนาจึงกลายเป็นเครื่องมือให้เกิดการยอมรับร่วมกันในหมู่ผู้ยอมรับสังคายนาเดียวกัน แต่ก็เป็นทางให้เกิดการแตกนิกายโดยไม่ยอมรับสังคายนาร่วมกัน นิกายต่างๆ ของพระพุทธศาสนาจึงเกิดขึ้น เพราะการยอมรับสังคายนาต่างกัน และนิกายต่างกันนั้นก็ยอมรับคัมภีร์และอรรถกถาที่ใช้ตีความคัมภีร์ต่างกัน</p>
        	        <p>&nbsp;&nbsp;&nbsp;อย่างไรก็ตาม ชาวพุทธแม้จะต่างนิกายกันก็ถือว่าเป็นชาวพุทธด้วยกัน ทำบุญร่วมกันได้ และร่วมมือในกิจการต่างๆ ได้ ผู้ใดนับถือพระพุทธเจ้าและแม้จะนับถือสิ่งอื่นด้วย เช่น พระพรหม พระอินทร์ ไหว้เจ้า หรือภูตผีต่างๆ ก็ยังถือว่าเป็นชาวพุทธด้วยกัน มิได้มีความรังเกียจเดียดฉันกันแต่ประการใด ดังนั้น การที่จะมีบ่อเกิดเพิ่มเติมแตกต่างกันไปบ้าง ตราบใดที่ยังยอมรับพระไตรปิฎกร่วมกันเป็นส่วนมาก ก็ไม่ถือว่าต้องแตกแยกกัน<br>
      	          </p>
        </div>
        </div>
        
        	 <div class="panel panel-info">
            <div class="panel-heading text-center myfont_kanit">คัมภีร์ของพระพุทธศาสนา</div>
              <div class="panel-body">
              <p>&nbsp;&nbsp;&nbsp;&nbsp;เมื่อพระพุทธเจ้าเสด็จปรินิพพานได้ 3 เดือน สาวกผู้ได้เคยสดับฟังคำสั่งสอนของพระองค์จำนวน 500 รูป ก็ประชุมทำสังคายนากัน ณ ถ้ำสัตบรรณคูหา ใกล้เมืองราชคฤห์ แคว้นมคธ สอบปากคำกันอยู่ 7 เดือน จึงตกลงประมวลคำสอนของพระพุทธเจ้าได้สำเร็จเป็นครั้งแรก นี่คือบ่อเกิดของคัมภีร์พระไตรปิฎก ต่อมาเมื่อมีปัญหาขัดแย้ง พระเถระผู้ใหญ่ก็ประชุมขจัดข้อขัดแย้งกัน เป็นสังคายนาต่อมาอีกหลายครั้ง จนได้พระไตรปิฎกของฝ่ายเถรวาทดังที่เรารู้จักกันทุกวันนี้ ซึ่งถือกันทั่วไปว่าเป็นคำสอนโดยตรงของพระพุทธเจ้าที่นับว่าใกล้เคียงที่สุด</p>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;เนื่องจากภาษามคธที่ใช้บันทึกคำสั่งสอนของพระพุทธเจ้านั้น ครั้นกาลเวลาล่วงไปก็ค่อยๆ กลายเป็นภาษาโบราณ ยากที่จะเข้าใจได้ทันทีสำหรับนักศึกษารุ่นหลังๆ จึงได้มีผู้เชี่ยวชาญนิพนธ์ชี้แจงความหมายเรียกว่า&nbsp;<strong>อรรถกถา&nbsp;</strong>เมื่อนักศึกษารู้สึกว่าอรรถกถายังไม่ชัดเจนก็มีผู้เชี่ยวชาญนิพนธ์ฎีกาขึ้นชี้แจงความหมาย และมีอนุฎีกาสำหรับชี้แจงความหมายของฎีกาอีกต่อหนึ่ง ผู้เชี่ยวชาญเฉพาะปัญหาก็นิพนธ์ชี้แจงเฉพาะปัญหาขึ้นเรียกว่า&nbsp;<strong>ปกรณ์&nbsp;</strong>เหล่านี้ถือว่าเป็นคัมภีร์พระพุทธศาสนาทั้งสิ้น แต่ทว่ามีน้ำหนักน้อยกว่าพระไตรปิฎก เพราะถือว่าเป็นความเห็นส่วนตัวของผู้ตีความ นักศึกษาจะเห็นกับบางคัมภีร์ และไม่เห็นด้วยกับบางคัมภีร์ก็ได้ ไม่ถือว่ามีความเป็นพุทธศาสนิกมากน้อยกว่ากันเพราะเรื่องนี้</p>
              </div>
            </div>
            
            <div class="panel panel-info">
            <div class="panel-heading text-center myfont_kanit">นิกายมหายาน</div>
              <div class="panel-body">
              <p>&nbsp;&nbsp;&nbsp;&nbsp;พระพุทธเจ้าได้ตรัสกับพระอานนท์ว่า "ดูกรอานนท์ โดยกาลล่วงไปแห่งเรา ถ้าสงฆ์ต้องการก็จงถอนสิกขาบทเล็กน้อยเสียบ้างก็ได้" (มหาปรินิพพานสูตร 10/141) ทำให้เกิดมีปัญหาว่า แค่ไหนเรียกว่าเล็กน้อย เป็นเหตุให้พระภิกษุบางรูปไม่เห็นด้วย และไม่ยอมรับสังคายนามาตั้งแต่ครั้งแรก และเหตุการณ์เช่นนี้เกิดขึ้นกับหลายสังคายนา มีกลุ่มที่แยกตัวทำสังคายนาต่างหาก เป็นการแตกแยกทางลัทธิและนิกาย และไม่ควรถือว่าเป็นการแบ่งแยกศาสนาแต่ประการใด ไม่อาจกำหนดได้แน่ชัดลงไปว่า พระพุทธศาสนานิกายมหายานเริ่มถือกำเนิดขึ้นตั้งแต่เมื่อใด ที่แน่ชัดก็คือ พระเจ้ากนิษกะมหาราช กษัตริย์องค์ที่ 7 แห่งราชวงศ์กุษาณะ (ศต.1 แห่งคริสต์ศักราช) ทรงเป็นเอกอัครศาสนูปถัมภกองค์แรกของนิกายมหายาน ได้ทรงปลูกฝังพระพุทธศาสนามหายานลงมั่นคงในราชอาณาจักรของพระองค์ และทรงส่งธรรมทูตออกเผยแพร่ยังนานาประเทศ เปรียบได้กับพระเจ้าอโศกของฝ่ายเถรวาท</p>
        	        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ฝ่ายมหายานมิได้ปฎิเสธพระไตรปิฎก หากแต่ถือว่ายังไม่พอ เนื่องจากเกิดมีความสำนึกร่วมขึ้นมาว่า นามและรูปของพระพุทธเจ้าเป็นโลกุตระ ไม่อาจดับสูญ สิ่งที่ดับสูญไปโดยการเผาเป็นเพียงภาพมายา พระธรรมกายของพระองค์อันเป็นธาตุพุทธะบริสุทธิ์ยังคงอยู่ต่อไป มนุษย์ทุกคนมีธาตุพุทธะร่วมกับพระพุทธเจ้า หากมีกิเลสบดบังธาตุพุทธะก็ไม่ปรากฏ กิเลสเบาบางลงเท่าใดธาตุพุทธะก็จะปรากฏมากขึ้นเท่านั้น มนุษย์ทุกคนมีสิทธิและมีความสามารถเป็นพระโพธิสัตว์ได้เช่นเดียวกับพระพุทธเจ้า หากได้ฝึกฝนชำระจิตใจจนบริสุทธิ์ผุดผ่องด้วยเมตตาบารมี พระโพธิสัตว์จึงมีมากมาย พระโพธิสัตว์ทุกองค์ย่อมเสริมงานของพระพุทธเจ้า คำสอนของพระโพธิสัตว์จึงมีน้ำหนักเท่ากับพระไตรปิฎก เมื่อสำนึกเช่นนี้ ฝ่ายมหายานจึงมีคัมภีร์ในระดับเดียวกับพระไตรปิฎกเพิ่มขึ้นอีกมากและอาจจะเพิ่มต่อไปได้อีก หากยอมรับหรือมีศรัทธาต่อพระโพธิสัตว์ไม่เท่ากัน ความสำนึกและการแสดงออกก็ย่อมจะผิดเพี้ยนกันออกไปได้ ทำให้มีลัทธิต่างๆ มากมายในนิกายมหายาน และอาจจะเกิดใหม่ต่อไปได้อีก แต่ทั้งนี้ก็มิได้หมายความว่าเกิดการแตกแยกในศาสนาหรือนิกาย เพราะทุกลัทธิย่อมถือว่าเป็นส่วนหนึ่งของพระพุทธศาสนามหายาน ด้วยเหตุผลเช่นนี้แหละฝ่ายมหายานจึงภูมิใจว่านิกายของตนใจกว้าง เป็นยานใหญ่ สามารถบรรทุกคนได้มาก และบันดาลใจให้ผู้มีจิตศรัทธาบำเพ็ญเมตตาบารมีได้อย่างกว้างขวาง อย่างที่มูลนิธิหัวเฉียวแห่งประเทศไทยพิสูจน์ตัวเองให้เห็นอยู่</p>
              </div>
            </div>
            
             <div class="panel panel-info">
            <div class="panel-heading text-center myfont_kanit">การวิเคราะห์ข้อธรรมในพระพุทธศาสนา</div>
              <div class="panel-body"><p>&nbsp;&nbsp;&nbsp;&nbsp;ผู้ใดสนใจคงได้ศึกษาตัวอย่างการวิเคราะห์ข้อธรรมในพระพุทธศาสนามาแล้วไม่มากก็น้อย จนพอจะสังเกตได้ว่า เมื่อกล่าวถึงธรรมะข้อใดในพระพุทธศาสนา ก็มักจะไม่กล่าวลอยๆ แต่จะต้องมีจำนวนเลขกำกับแสดงการวิเคราะห์หรือการจำแนกธรรมด้วยเสมอ เช่น อริยสัจ 4, มรรค 8, ศีล 5, ศีล 8, ศีล 10, ศีล 227, มงคล 38, กรรมฐาน 40, เจตสิก 52, จิต 89, จิต121 เป็นต้น</p>
        	        <p>&nbsp;&nbsp;&nbsp;ให้สังเกตด้วยว่า การวิเคราะห์ข้อธรรมในพระพุทธศาสนานั้นมิได้วิเคราะห์ชั้นเดียวแล้วจบ แต่มีการวิเคราะห์ต่อๆ ไปอีกหลายชั้นหลายเชิงเกี่ยวโยงกันทั้งหมด ไม่ใช่เหมือนสายโซ่ แต่เหมือนอวนผืนใหญ่ที่ตาทุกตาของอวนมีสายโยงถึงกันได้ทั้งหมด จะขอยกให้ดูเป็นตัวอย่างการศึกษาเท่านั้น เช่น การวิเคราะห์จิต และเจตสิก เป็นต้น ซึ่งมีประโยชน์มากสำหรับการมองตน รู้ตน และพัฒนาตน ผู้ศึกษาจะวิเคราะห์ธรรมะเรื่องใดเพิ่มเติมอีกเท่าใดก็ได้ตามความต้องการ</p>
              </div>
            </div>
            
            <div class="panel panel-info">
            <div class="panel-heading text-center myfont_kanit">ชีวประวัติของพระพุทธเจ้า</div>
              <div class="panel-body"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ตั้งแต่ตรัสรู้ถึงปรินิพพานเป็นระยะเวลา 45 พรรษา พระองค์จาริกไปยังแว่นแคว้นต่างๆ ในชมพูทวีปตอนเหนือ เพื่อเผยแผ่พระธรรมคำสอนของพระองค์ พร้อมทั้งอบรมสาวกตั้งพุทธบริษัทขึ้นอย่างมั่งคั่ง ยากที่จะเรียงลำดับได้ว่าปีใดพระองค์เสด็จไป ณ ที่ใดและทรงสั่งสอนอะไรบ้าง เท่าที่นักวิจารณ์ได้พยายามวิจัยไว้พอจะเรียบเรียงได้ตามช่วงการเข้าพรรษาของพระองค์ในที่ต่างๆ ดังต่อไปนี้</p>
        	        
        	          <p><strong>พรรษาที่ 1</strong>&nbsp;ตรัสรู้ใต้ต้นโพธิ์ ณ คืนวันเพ็ญเดือนวิสาขะ (กลางเดือน 6) 2 เดือนต่อมา คือวันเพ็ญเดือนอาสาฬหะ (กลางเดือน 8) ทรงเทศนาโปรดเบญจวัคคีย์ (คณะ 5 คน) ที่ป่าอิสิปตนะมฤคทายวัน ด้วยธรรมจักกัปปวัตนสูนร ต่อมาอีก 5 วันทรงเทศนาโปรดเบญจวัคคีย์ด้วยอนัตตลักขณสูตร วันต่อมาได้พระยสเป็นสาวก ทรงจำพรรษาที่เมืองพาราณสี แคว้นกาสี (ปัจจุบันอยู่ในรัฐอุตรประเทศ)&nbsp;<br>
        	            <br>
        	            <strong>พรรษาที่ 2</strong>&nbsp;เสด็จเสนานิคม ในตำบลอุรุเวลกัสสปะ นทีกัสสปะ คยากัสสปะ กับศิษย์ 1000 คน ตรัสอาทิตตปริยายสูตรที่คยาสีสะ เสด็จราชคฤห์แห่งแคว้นมคธ กษัตริย์เสนิยะพิมพสารทรงถวายสวนเวฬุวันแต่พระสงฆ์ ได้สารีบุตรและโมคคัลลานะเป็นสาวก อีก 2 เดือนต่อมา เสด็จกบิลพัสดุ์ ทรงพำนักที่นิโครธารามได้สาวกมากมาย เช่น นันทะ ราหุล อานนท์ อุบาลี เทวทัต และพระญาติอื่นๆ อนาถปิณฑิกะอาราธนาสู่กรุงสาวัตถีแห่งแคว้นโกศล ถวายสวนเชตะวันแด่คณะสงฆ์ ทรงจำพรรษาที่นี่<br>
        	            <br>
        	            <strong>พรรษาที่ 3&nbsp;</strong>นางวิสาขาถวายบุพพาราม ณ กรุงสาวัตถี ทรงจำพรรษาที่นี่<br>
        	            <br>
        	            <strong>พรรษาที่ 4</strong>&nbsp;ทรงจำพรรษาที่เวฬุวัน ณ กรุงราชคฤห์แห่งแคว้นมคธ<br>
        	            <br>
        	            <strong>พรรษาที่ 5&nbsp;</strong>โปรดพระราชบิดาจนบรรลุอรหัตผล ทรงไกล่เกลี่ยข้อพิพาทระหว่างพระญาติฝ่ายสักกะกับพระญาติฝ่ายโกลิยะเกี่ยวกับการใช้น้ำในแม่น้ำโรหินี ทรงบวชพระนางปชาบดีโคตมีและคณะเป็นภิกษุณี<br>
        	            <br>
        	            <strong>พรรษาที่ 6</strong>&nbsp;ทรงแสดงยมกปาฎิหาริย์ในกรุงาสวัตถี ทรงจำพรรษาบนภูเขามังกลุบรรพต<br>
        	            <br>
        	            <strong>พรรษาที่ 7</strong>&nbsp;ทรงเทศนาและจำพรรษาที่กรุงสาวัตถี ระหว่างจำพรรษาเสด็จขึ้นสวรรค์ชั้นดาวดึงส์โปรดพระมารดาด้วยพระอภิธรรม<br>
        	            <br>
        	            <strong>พรรษาที่ 8</strong>&nbsp;ทรงเทศนาในแคว้นภัคคะ ทรงจำพรรษาในสวนเภสกลาวัน<br>
        	            <br>
        	            <strong>พรรษาที่ 9</strong>&nbsp;ทรงเทศนาในแคว้นโกสัมพี<br>
        	            <br>
        	            <strong>พรรษาที่ 10</strong>&nbsp;คณะสงฆ์แห่งโกสัมพีแตกแยกอย่างรุนแรง ทรงตักเตือนไม่เชื่อฟัง จึงเสด็จไปประทับและจำพรรษาในป่าปาลิเลยยกะ ช้างเชือกหนึ่งมาเฝ้าพิทักษ์และรับใช้ตลอดเวลา<br>
        	            <br>
        	            <strong>พรรษาที่ 11</strong>&nbsp;เสด็จกรุงสาวัตถี คณะสงฆ์แห่งโกสัมพีปรองดองกันได้ ทรงจำพรรษาในหมู่บ้านพราหมณ์ชื่อเอกนาลา<br>
        	            <br>
        	            <strong>พรรษาที่ 12</strong>&nbsp;ทรงเทศนาและจำพรรษาที่เวรัญชา เกิดความอดอยากรุนแรง<br>
        	            <strong>พรรษาที่ 13</strong>&nbsp;ทรงเทศนาและจำพรรษาบนภูเขาจาลิกบรรพต<br>
        	            <strong>พรรษาที่ 14</strong>&nbsp;ทรงเทศนาและจำพรรษาที่กรุงสาวัตถึ ราหุลอุปสมบท<br>
        	            <strong>พรรษาที่ 15</strong>&nbsp;เสด็จกรุงกบิลพัสดุ์ สุปปพุทธะถูกแผ่นดินสูบเพราะขัดขวางทางผ่าน<br>
        	            <strong>พรรษาที่ 16</strong>&nbsp;ทรงเทศนาและจำพรรษาที่อาลวี<br>
        	            <strong>พรรษาที่ 17</strong>&nbsp;เสด็จกรุงสาวัตถี กลับมาอาลวีและทรงจำพรรษาที่กรุงราชคฤห์<br>
        	            <strong>พรรษาที่ 18</strong>&nbsp;เสด็จอาลวี ทรงจำพรรษาบนภูเขาจาลิกบรรพต<br>
        	            <strong>พรรษาที่ 19</strong>&nbsp;ทรงเทศนาและจำพรรษาบนภูเขาจาลิกบรรพต<br>
        	            <strong>พรรษาที่ 20</strong>&nbsp;โจรองคุลีมาลกลับใจเป็นสาวก ทรงแต่งตั้งให้พระอานนท์รับใช้ใกล้ชิดตลอดกาล ทรงจำพรรษาที่กรุงราชคฤห์ ทรงเริ่มบัญญัติพระวินัย<br>
        	            <br>
        	            <strong>พรรษาที่ 21-44</strong>&nbsp;ทรงยึดเอาเชตะวันและบุพพารามในกรุงราชคฤห์เป็นศูนย์เผยแผ่และที่ประทับจำพรรษา เสด็จพร้อมสาวกออกเทศนาโปรดเวไนยสัตว์ตามแว่นแคว้นต่างๆ โดยรอบ<br>
        	            <br>
        	            <strong>พรรษาที่ 45 และสุดท้าย</strong>&nbsp;ปรากฎในมหาปรินิพพานสูตร มหาสุทัสนสูตร และชนวสภสูตร ความว่า พระเทวทัตปองร้ายพระพุทธเจ้าบริเวณเขาคิชฌกูฎใกล้กรุงราชคฤห์ ถึงกับพระบาทห้อโลหิต ทรงได้รับการบำบัดจากหมอชีวก วัสสการเข้าเผ้า เสด็จอัมพลัฎฐิกา นาลันทา และปาฎลิคามตามลำดับ ทรงข้ามแม่น้ำคงคาที่โตมดิตถ์ เสด็จต่อไปยังโกฎิคาม นาทิคาม และเวสาลี ทรงพำนักในสวนของนางคณิกาอัมพปาลี เสด็จจำพรรษาที่เวฬุวัน ทรงเริ่มประชวร และ 3 เดือนต่อมาเสด็จสู่ปรินิพพานในเมืองกุสินาราแห่งแคว้นมัลละ</p>
      	          
              </div>
            </div>
        
        </div>
        
        </div>


	<br>


    <a class="gotopbtn" href="#"> <i class="fa fa-arrow-up" aria-hidden="true"></i> </a>
	</div>
    
</body>