@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/css/all.min.css">

    <style>
		.center {
		  display: block;
		  margin-left: auto;
		  margin-right: auto;
		  width: 50%;
		}

        .boxbox{
			margin-left: 100px;
			margin-right: 100px;
		}
		.picpic center{
			width: 700px;
			height: 500px;
        }

        html {
            scroll-behavior: smooth;
        }

		.pp{
			font-size:40px;
		}

        h1 {
          text-align: center;
        }

        .gotopbtn {
            position: fixed;
            width: 50px;
            height: 50px;
            background: #27ae60;
            bottom: 60px;
            right: 50px;

            text-decoration: none;
            text-align: center;
            line-height: 50px;
            color: white;
            font-size: 22px;
        }

        .well {
          min-height: 20px;
          padding: 19px;
          margin-bottom: 20px;
          background-color: #f5f5f5;
          border: 1px solid #e3e3e3;
          border-radius: 4px;
          -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
        }

        .img-rounded {
          border-radius: 30px;
        }

		pagination {
		  display: inline-block;
		  padding-left: 0;
		  margin: 20px 0;
		  border-radius: 4px;
		}
		.pagination > li {
		  display: inline;
		}
		.pagination > li > a,
		.pagination > li > span {
		  position: relative;
		  float: left;
		  padding: 6px 12px;
		  margin-left: -1px;
		  line-height: 1.42857143;
		  color: #337ab7;
		  text-decoration: none;
		  background-color: #fff;
		  border: 1px solid #ddd;
		}
		.pagination > li:first-child > a,
		.pagination > li:first-child > span {
		  margin-left: 0;
		  border-top-left-radius: 4px;
		  border-bottom-left-radius: 4px;
		}
		.pagination > li:last-child > a,
		.pagination > li:last-child > span {
		  border-top-right-radius: 4px;
		  border-bottom-right-radius: 4px;
		}
		.pagination > li > a:hover,
		.pagination > li > span:hover,
		.pagination > li > a:focus,
		.pagination > li > span:focus {
		  color: #23527c;
		  background-color: #eee;
		  border-color: #ddd;
		}
		.pagination > .active > a,
		.pagination > .active > span,
		.pagination > .active > a:hover,
		.pagination > .active > span:hover,
		.pagination > .active > a:focus,
		.pagination > .active > span:focus {
		  z-index: 2;
		  color: #fff;
		  cursor: default;
		  background-color: #337ab7;
		  border-color: #337ab7;
		}
		.pagination > .disabled > span,
		.pagination > .disabled > span:hover,
		.pagination > .disabled > span:focus,
		.pagination > .disabled > a,
		.pagination > .disabled > a:hover,
		.pagination > .disabled > a:focus {
		  color: #777;
		  cursor: not-allowed;
		  background-color: #fff;
		  border-color: #ddd;
		}
		.pagination-lg > li > a,
		.pagination-lg > li > span {
		  padding: 10px 16px;
		  font-size: 18px;
		}
		.pagination-lg > li:first-child > a,
		.pagination-lg > li:first-child > span {
		  border-top-left-radius: 6px;
		  border-bottom-left-radius: 6px;
		}
		.pagination-lg > li:last-child > a,
		.pagination-lg > li:last-child > span {
		  border-top-right-radius: 6px;
		  border-bottom-right-radius: 6px;
		}
		.pagination-sm > li > a,
		.pagination-sm > li > span {
		  padding: 5px 10px;
		  font-size: 12px;
		}
		.pagination-sm > li:first-child > a,
		.pagination-sm > li:first-child > span {
		  border-top-left-radius: 3px;
		  border-bottom-left-radius: 3px;
		}
		.pagination-sm > li:last-child > a,
		.pagination-sm > li:last-child > span {
		  border-top-right-radius: 3px;
		  border-bottom-right-radius: 3px;
		}



    </style>

</head>
<body>
	<div style="margin-top:50px"> </div>
	<div class="boxbox">
	<div align="center"><img src="~/css/header.jpg" class="img-responsive img-rounded center"></div>
   	  	<h3 class="myfont-Srb" align="center">พระพุทธศาสนา</h3>
   
      <div class="myfont_sarabun" style="height: auto !important;">
       	<p><strong>ความหมายของคำว่า </strong></p>
        	<p><br>
        	  ศาสนา
        	  คำว่า "ศาสนา" มาจากภาษาสันสกฤตว่า "สาสนํ" ถ้าเป็นภาษาบาลีว่า "สาสนํ" มีความหมายตามรูปศัพท์ว่า "คำสั่งสอน" ในภาษาอังกฤษใช้คำว่า "Religion" ซึ่งมีศัพท์เดิมมาจากภาษาละตินว่า Religis คำนี้นักปราชญ์ทางภาษาศาสตร์ได้สันนิษฐานว่ามาจากคำ ๒ คำ คือ Relegere ซึ่งแปลว่า การปฏิบัติต่อ หรือการเกี่ยวข้องด้วยความระมัดระวัง และ Religare ซึ่งแปลว่า ผูกพัน เพราะฉะนั้นคำว่า Religion จึงมีความหมายตามรูปศัพท์ว่า การปฏิบัติต่อ การเกี่ยวข้อง แต่อย่างไรก็ตาม การจะพิจารณาความหมายตามรูปศัพท์เพียงอย่างเดียว อาจจะไม่สามารถครอบคลุมสารัตถะที่แท้จริงของศาสนาได้ จึงควรจะได้ศึกษาพิจารณาความหมายหรือคำจำกัดความตามเนื้อหาที่นักปราชญทางศาสนาได้ให้ไว้ ซึ่งจะแตกต่างกันไป ทั้งนี้แล้วแต่ประเด็นที่ต้องการเน้นและสภาพแวดล้อม</p>
        	<blockquote>
        	  <p>๑. Max Miller เน้นพุทธิปัญญา (Intellect) กล่าวว่า ศาสนา คือ ความสามารถหรืออตาจทางจิตซึ่งไม่ขึ้นแก่ความรู้สึกทางประสาทสัมผัสหรือเหตุผล สามารถนำบุคคลให้เข้าถึงพระเจ้าภายใต้พระนามต่างๆ        	</p>
        	  <p>๒. Immanuel Kant เน้นศีลธรรม (Moral) กล่าวว่า ศาสนา คือ การยอมรับรู้ถึงหน้าที่ทั้งปวงตามเทวโองการ        	</p>
        	  <p>๓. Allen Menses เน้นการบูชา (Worship) กล่าวว่า ศาสนา คือ การบูชาพลังที่สูงกว่า        	</p>
        	  <p>๔. Edward Scribner Ams เน้นสังคม (Society) กล่าวว่า ศาสนา คือ ความรู้สึกถึงคุณค่าทางสังคมอันสูงสุด        	  </p>
        	  <p>๕. G.W. Stratton เน้นอุดมคติอันสูงส่ง (Supreme Ideal) กล่าวว่า ศาสนา คือ ความนิยมชมชอบถึงโลกและกลุ่มชนที่มองไม่เห็น        	  </p>
        	  <p>๖. Adams Brown เน้นชีวิต (Life) กล่าวว่า ศาสนา หมายถึงชีวิตของบุคคลในส่วนที่สัมพันธ์กับท่านผู้เหนือมนุษย์ธรรมดาของเขา        	  </p>
        	  <p>๗. หลวงวิจิตรวาทการ เน้นองค์ประกอบของศาสนา กล่าวว่า คำสอนที่จัดเป็นศาสนานั้นต้องเป็นเรื่องที่ถือว่ามีความศักดิ์สิทธิ์ มีคำสอนทางจรรยา มีศาสดา มีคณะบุคคลที่รักษาความศักดิ์สิทธิ์และคำสอนไว้ เช่น พระหรือนักบวช และมีการกวดขันเรื่องความจงรักภักดี        	  </p>
        	  <p>๘. ศ. เสถียร พันธรังสี เน้นลักษณะของศาสนา กล่าวว่า ลักษณะที่เรียกว่าศาสนาได้ มีหลักดังนี้คือ ต้องเป็นเรื่องความเชื่อถือได้โดยมีความศักดิ์สิทธิ์ มีคำสอนทางธรรมจรรยา มีศาสดา และมีผู้สืบต่อคำสอนที่เรียกว่าพระหรือนักบวช        	  </p>
        	  <p>๙. อาจารย์สุชีพ ปุญญานุภาพ เน้นลักษณะคำสอน กล่าวว่า คำสอนที่นับว่าเป็นศาสนานั้นว่าด้วยเรื่องต่าง ๆ คือ ความเชื่อในอำนาจที่มองเห็นไม่ได้ด้วยตาบางอย่าง เช่น อำนาจของธรรม หรือ อำนาจของพระเจ้า มีหลักศีลธรรม มีคำสอนว่าด้วยจุดมุ่งหมายสูงสุดแห่งชีวิต และมีพิธีกรรม        	  </p>
        	  <p>๑๐. พจนานุกรมฉบับราชบัณฑิตยสถาน พ.ศ. ๒๕๒๕ ได้ให้ความหมายของศาสนาไว้ว่า ศาสนา คือ ลัทธิความเชื่อถือของมนุษย์อันมีหลักแสดงกำเนิดและสิ้นสุดของโลก เป็นต้น อันเป็นไปในง่ายปรมัตถ์ประการหนึ่ง แสดงหลักธรรมเกี่ยวกับบุญบาปอันเป็นไปในง่ายศีลธรรมประการหนึ่ง พร้อมทั้งลัทธิพิธีที่กระทำตามความเห็นหรือตามคำสั่งสอนในความเชื่อถือนั้นๆ </p>
   	    </blockquote>
   	  
      	<p>จากคำจำกัดความและทัศนะต่าง ๆ ที่กล่าวข้างต้น พอจะสรุปเป็นทัศนะอีกทัศนะหนึ่งได้ว่า</p>
		<div class="well myfont_mitr">
        	ศาสนา คือ คำสั่งสอนที่พระศาสดาได้ค้นพบ หรือได้จากเทวโองการซึ่งมีลักษณะศักดิ์สิทธิ์เป็นที่พึ่งทางใจ ได้ถูกนำมาเผยแพร่ให้มวลมนุษยชาติประพฤติปฏิบัติตาม และประกอบพิธีกรรม เพื่อประสบสันติสุขในระดับศีลธรรมจรรยา และสันติภาพอันนิรันดร อันเป็นจุดหมายสูงสุดของชีวิต
        </div>
		</div>


	<br>


    <a class="gotopbtn" href="#"> <i class="fa fa-arrow-up" aria-hidden="true"></i> </a>
	</div>
    
</body>