
@{
    ViewData["Title"] = "AdminHome";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AdminHome</title>
    <div style="margin-top:50px"> </div>
    <h1 class=" text-center display-4">AdminHome !</h1>
    <div class="text-center container">
       <a asp-controller="Admin" asp-action="Create"><button type="button" class="btn btn-primary">ตั้งกระทู้</button></a>
       <a asp-controller="Admin" asp-action="ContentAdmin"><button type="button" class="btn btn-warning">จัดการห้องสนทนาธรรม</button></a>
       <a asp-controller="Admin" asp-action="ManageUser"><button type="button" class="btn btn-danger">จัดการสมาชิก</button></a>
       <a asp-controller="Admin" asp-action="EditAnnouncement"><button type="button" class="btn btn-danger">ตั้งค่าประกาศ</button></a>
    </div>

</head>
<body>
</body>
</html>
